@import "../variables/variables.scss";

.full-width-container {
    &.catalog-first {
        padding: 50px 16px 30px 16px;
        .catalog-top-sales-block {
            border-radius: 10px;
            background-color: #13161d;
            background-image: url(/assets/img/bg_cat_bund1.jpg), url(/assets/img/bg_cat_bund2.jpg);
            background-position: left top, right top;
            background-repeat: no-repeat, no-repeat;
            background-size: 550px 176px, 480px 177px;
            box-shadow: 0px 10px 30px 10px rgba(16, 170, 190, 0.1);
            max-width: 1525px;
            margin: 10px auto 0 auto;
            .catalog-top-sales-inner {
                &.mobile {
                    margin: 0 auto;
                    max-width: 1170px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    .catalog-sales-left {
                        flex: 0 0 100%;
                        .summer-sale-title {
                            max-width: 240px;
                            margin: 0 auto;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .catalog-sales-middle {
                        flex: 0 0 45%;
                        position: relative;
                        .shadow {
                            width: 60%;
                            height: 20px;
                            box-shadow: 0px 10px 50px 60px rgba(16, 170, 190, 0.1);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            z-index: 0;
                        }
                        img {
                            width: 100%;
                            position: relative;
                            z-index: 0;
                        }
                    }
                    .catalog-sales-right {
                        flex: 0 0 calc(55% - 10px);
                        display: flex;
                        flex-flow: column;
                        padding-left: 10px;
                        .btn-purp-grad {
                            max-width: 160px;
                            font-size: 14px;
                            height: 36px;
                            line-height: 36px;
                            margin: 0 3px;
                            width: auto;
                            > s {
                                margin-left: 6px;
                            }
                        }
                        .bundle-title-blue {
                            margin: 10px 0;
                            font-size: 14px;
                            font-weight: 500;
                            text-align: center;
                            color: $lightbluecolor;
                        }
                        .timer-counter {
                            max-width: 160px;
                            margin-top: 10px;
                            grid-gap: 4px;
                            .timer-counter-item {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }
                }
                &.desktop {
                    display: none;
                }
            }
        }
    }
    &.catalog-second {
        padding-bottom: 40px;
        .container-title {
            .gradient-title {
                letter-spacing: 1px;
                line-height: 1.4;
            }
            &.secondary-title {
                margin-bottom: 16px;
                &.desktop {
                    display: none;
                }
            }
        }
        #catalog-wrapper {
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            max-width: 1525px;
            margin: 0 auto;
            #ftrs {
                width: 100%;
                position: relative;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                display: flex;
                max-width: 1140px;
                margin: 0 auto 10px auto;
                border-radius: 10px;
                .ftrs-inner {
                    background: $maindarkgray;
                    border-radius: 10px;
                    padding: 0px 0px;
                    width: 100%;
                    margin-bottom: 6px;
                    box-shadow: 0px 0px 9px 2px rgba(36, 230, 250, 0.1);
                    &:nth-child(2),
                    &:nth-child(3) {
                        width: calc(50% - 5px);
                        .cat-ftr {
                            .cat-ftr-cont {
                                top: 92px;
                            }
                        }
                    }
                    .cat-ftr {
                        height: 36px;
                        width: 100%;
                        transition: 0.3s;
                        .cat-ftr-title {
                            height: 36px;
                            line-height: 36px;
                            position: relative;
                            text-align: left;
                            text-transform: none;
                            cursor: pointer;
                            .first-title {
                                display: none;
                            }
                            .ftr-sel {
                                text-align: left;
                                font-size: 12px;
                                color: $lightbluecolor;
                                padding-left: 20px;
                            }
                            i {
                                display: block;
                                position: absolute;
                                width: 40px;
                                height: 36px;
                                right: 0;
                                top: 0;
                                transition: 0.3s;
                                svg {
                                    width: 16px;
                                    height: 16px;
                                    margin: 10px;
                                    stroke: $lightbluecolor;
                                }
                            }
                        }
                        .cat-ftr-cont {
                            position: absolute;
                            width: calc(100% - 40px);
                            border-radius: 10px;
                            top: 46px;
                            left: 0;
                            height: auto;
                            padding: 20px 20px 40px 20px;
                            background: $maindarkgray;
                            z-index: 4;
                            visibility: hidden;
                            opacity: 0;
                            transition: 0.4s;
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                text-decoration: none;
                                width: calc(50% - 10px);
                                height: 30px;
                                .switch {
                                    display: block;
                                    position: relative;
                                    width: 25px;
                                    height: 14px;
                                    border-radius: 7px;
                                    background: #282d3b;
                                    &:before {
                                        display: block;
                                        width: 10px;
                                        height: 10px;
                                        transition: 0.4s;
                                        top: 2px;
                                        left: 2px;
                                        border-radius: 5px;
                                        content: "";
                                        position: absolute;
                                        background: #101218;
                                    }
                                }
                                .name {
                                    display: block;
                                    font-size: 12px;
                                    margin-left: 10px;
                                    color: #fff;
                                    transition: 0.4s;
                                }
                                &.act {
                                    .switch {
                                        &:before {
                                            background: $lightbluecolor;
                                            left: 12px;
                                            transition: 0.4s;
                                        }
                                    }
                                    .name {
                                        color: $lightbluecolor;
                                    }
                                }
                                &:hover {
                                    .name {
                                        color: $lightbluecolor;
                                    }
                                }
                            }
                        }
                        &.act {
                            .cat-ftr-cont {
                                visibility: visible;
                                opacity: 1;
                                transition: 0.4s;
                                left: 0;
                                display: grid;
                                grid-template-columns: 1fr;
                                a {
                                    width: 100%;
                                }
                            }
                            .cat-ftr-title {
                                i {
                                    transform: rotate(180deg);
                                    transition: 0.3s;
                                }
                            }
                        }
                    }
                }
            }
            .prods {
                max-width: 1140px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 20px;
                width: 100%;
                position: relative;
                .prd {
                    position: relative;
                    background-color: #101218;
                    border-radius: 10px;
                    box-shadow: 0px 0px 15px 2px rgba(36, 230, 250, 0.1);
                    .prd-label {
                        position: absolute;
                        z-index: 2;
                        padding: 0 13px;
                        font-size: 14px;
                        display: block;
                        top: 0;
                        right: 0;
                        border-radius: 4px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 500;
                        background: #101218;
                        &.label-best {
                            color: $mainyellow;
                            border-radius: 0 10px 0 10px;
                        }
                        &.label-discount {
                            left: 0;
                            right: unset;
                            color: $lightbluecolor;
                            border-radius: 10px 0 10px 0;
                        }
                    }
                    a.prd-hd {
                        display: flex;
                        flex-flow: column;
                        box-shadow: inset 0px -30px 100px 30px rgb(16, 18, 24);
                        width: 100%;
                        position: relative;
                        text-decoration: none;
                        outline: none;
                        background-size: cover;
                        background-position: center top;
                        background-repeat: no-repeat;
                        border-radius: 10px 10px 0 0;
                        .inner {
                            height: 180px;
                            background-size: cover;
                            background-position: center top;
                            background-repeat: no-repeat;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            border-radius: 10px 10px 0 0;
                            &:after {
                                content: "";
                                position: absolute;
                                top: 0;
                                right: 0;
                                left: 0;
                                // background: rgba(16,18,24,.65);
                                bottom: 0;
                                border-radius: 10px 10px 0 0;
                            }
                            &.mufasa {
                                &:after {
                                    background: linear-gradient(120deg, rgba(12, 87, 98, 0.4), rgba(114, 8, 125, 0.4));
                                }
                            }
                        }
                        img {
                            margin: 45px auto 20px auto;
                            z-index: 1;
                            height: 156px;
                            max-width: 165px;
                        }
                        .prd-tit {
                            display: block;
                            text-align: center;
                            font-size: 16px;
                            color: $lightwhite;
                            font-weight: 500;
                            z-index: 1;
                        }
                        .prd-tit-blue {
                            color: $lightbluecolor;
                            z-index: 1;
                            display: block;
                            margin: 15px 0 17px 0;
                            text-align: center;
                            text-decoration: none;
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }
                    .prd-sndcld {
                        margin: 0 0 25px 0;
                    }
                    .prd-ft {
                        display: flex;
                        margin: 0 auto 25px auto;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 17px;
                        .prd-ft-lt {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            .prd-price {
                                font-size: 14px;
                                color: $lightwhite;
                                margin-bottom: 15px;
                                font-weight: 500;
                                b {
                                    font-size: 18px;
                                    font-weight: 500;
                                }
                                .price-crossed {
                                    position: relative;
                                    margin-left: 5px;
                                    &:after {
                                        content: "";
                                        width: calc(100% + 6px);
                                        height: 2px;
                                        background: $lightwhite;
                                        position: absolute;
                                        transform: rotate(-15deg);
                                        left: -1px;
                                        bottom: 6px;
                                    }
                                }
                            }
                            .prd-stars {
                                font-size: 12px;
                                color: $lightwhite;
                                display: flex;
                                font-weight: 300;
                                margin-bottom: 13px;
                                .stars {
                                    display: block;
                                    width: 60px;
                                    height: 14px;
                                    margin-right: 7px;
                                    background-size: contain;
                                    background-image: url(/assets/img/icons/stars.svg);
                                }
                            }
                            .prd-seles {
                                font-size: 12px;
                                color: $lightwhite;
                                display: flex;
                            }
                        }
                        .prd-ft-rt {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            .prd-buy {
                                font-size: 12px;
                                text-transform: uppercase;
                                line-height: 50px;
                                padding: 0 30px;
                                margin-bottom: 13px;
                                width: 100%;
                            }
                            .prd-more {
                                font-size: 12px;
                                color: $lightwhite;
                                font-weight: 500;
                                letter-spacing: 0.5px;
                                text-indent: 0.5px;
                            }
                        }
                    }
                }
                .more-products {
                    display: none;
                }
            }
        }
    }
}
@media (min-width: $bp-tablet) {
    .full-width-container {
        &.catalog-first {
            padding-bottom: 85px;
            box-shadow: none;
            .catalog-top-sales-block {
                .catalog-top-sales-inner {
                    &.mobile {
                        .catalog-sales-right {
                            .btn-purp-grad {
                                height: 60px;
                                line-height: 60px;
                                max-width: 240px;
                                width: calc(100% - 30px);
                                font-size: 16px;
                            }
                            .timer-counter {
                                max-width: 245px;
                                .timer-counter-item {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                            .bundle-title-blue {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        &.catalog-second {
            padding-bottom: 110px;
            box-shadow: none;
            #catalog-wrapper {
                .prods {
                    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
                    grid-gap: 30px;
                }
            }
        }
    }
}
@media (min-width: $bp-laptop) {
    #main-catalog {
        background-image: url(/assets/img/main-new.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .full-width-container {
        &.catalog-first {
            padding-top: 153px;
            .catalog-top-sales-block {
                .catalog-top-sales-inner {
                    &.mobile {
                        display: none;
                    }
                    &.desktop {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 30px;
                        max-width: 1170px;
                        margin: 0 auto;
                        .catalog-sales-left {
                            max-width: 265px;
                            width: 100%;
                            .summer-sale-title {
                                display: flex;
                                flex-flow: column;
                                justify-content: center;
                                align-items: center;
                                max-width: unset;
                                margin: 0;
                                img {
                                    width: 100%;
                                }
                                .bundle-title-blue {
                                    text-align: center;
                                    font-weight: 500;
                                    font-size: 16px;
                                    margin: 10px 0;
                                    color: $lightbluecolor;
                                }
                                .btn-purp-grad {
                                    height: 60px;
                                    line-height: 60px;
                                    max-width: 240px;
                                    width: calc(100% - 30px);
                                    font-size: 16px;
                                    s {
                                        font-size: 12px;
                                        margin-left: 6px;
                                    }
                                    span {
                                        margin-left: 8px;
                                    }
                                }
                            }
                        }
                        .catalog-sales-middle {
                            position: relative;
                            min-height: 130px;
                            width: 100%;
                            .shadow {
                                width: 200px;
                                height: 20px;
                                box-shadow: 0px 10px 130px 80px rgba(16, 170, 190, 0.1);
                                position: absolute;
                                top: 65px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                            img {
                                position: absolute;
                                top: -70px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        .catalog-sales-right {
                            .get-everything-title {
                                color: white;
                                text-align: center;
                                font-weight: 500;
                                text-transform: uppercase;
                                font-size: 12px;
                                margin-bottom: 15px;
                            }
                            .sale-will-end-title {
                                text-align: center;
                                color: $mainyellow;
                                font-weight: 500;
                                text-transform: uppercase;
                                margin-bottom: 20px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        &.catalog-second {
            .container-title {
                &.secondary-title {
                    margin-bottom: 48px;
                    font-size: 48px;
                }
            }
        }
    }
}
@media (min-width: $bp-desktop) {
    .full-width-container {
        &.catalog-second {
            padding-bottom: 180px;
            #catalog-wrapper {
                display: grid;
                grid-template-columns: 360px 1fr;
                grid-gap: 30px;

                #ftrs {
                    display: grid;
                    grid-template-columns: 1fr;
                    position: sticky;
                    top: 90px;
                    margin-bottom: 0;
                    box-shadow: 0px 0px 9px 2px rgba(36, 230, 250, 0.1);
                    .ftrs-inner {
                        margin: 0;
                        width: 100% !important;
                        box-shadow: unset;
                        border-radius: 0;
                        .cat-ftr {
                            height: auto;
                            .cat-ftr-title {
                                height: auto;
                                line-height: normal;
                                padding: 20px 0 0 0;
                                .ftr-sel {
                                    display: none;
                                }
                                i {
                                    display: none;
                                }
                                .first-title {
                                    display: block;
                                    color: white;
                                    text-align: center;
                                    font-weight: 500;
                                    text-transform: uppercase;
                                    font-size: 16px;

                                    background: #101218;
                                    text-align: left;
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 10px 15px;
                                    margin: 0 10px;
                                    border-radius: 10px;
                                    align-items: center;
                                    line-height: 1;

                                    > .text {
                                        margin-top: 4px;
                                    }

                                    > .icon {
                                        transform: rotate(-90deg);
                                        transition: 0.25s;
                                    }
                                }
                            }
                            .cat-ftr-cont {
                                overflow: hidden;
                                padding-bottom: 0;
                                visibility: visible !important;
                                opacity: 1 !important;
                                top: unset !important;
                                border-radius: 0 0 10px 10px !important;
                                position: static !important;
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                max-height: 500px;
                                transition: 0.5s;
                                a {
                                    width: 100%;
                                }
                            }
                            &.cat-ftr-close {
                                .cat-ftr-cont {
                                    max-height: 0px;
                                }
                                .cat-ftr-title {
                                    .first-title {
                                        > .icon {
                                            transform: rotate(0deg);
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(1) {
                            border-radius: 10px 10px 0 0;
                        }
                        &:last-child {
                            border-radius: 0 0 10px 10px;
                            .cat-ftr-cont {
                                margin-bottom: 40px;
                            }
                            .cat-ftr-close {
                                .cat-ftr-cont {
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
                .prods {
                    grid-template-columns: 1fr 1fr;
                    margin: 0;
                    .more-products {
                        position: absolute;
                        bottom: -75px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 35px;
                        height: 35px;
                        background-image: url(/assets/img/icons/reload-icon.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                        display: block;
                    }
                }
            }
        }
    }
}
@media (min-width: $bp-desktop-lg) {
    .full-width-container {
        &.catalog-second {
            #catalog-wrapper {
                .prods {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
            .container-title {
                &.secondary-title {
                    &.desktop {
                        display: block;
                    }
                    &.mobile {
                        display: none;
                    }
                }
            }
        }
    }
}
