@import "../variables/variables.scss";

.full-width-container {
    &.catalog-first {
        padding: 50px 16px 30px 16px;
        .catalog-top-sales-block {
            border-radius: 10px;
            background-color: #13161d;
            background-image: url(/assets/img/bg_cat_bund1.jpg), url(/assets/img/bg_cat_bund2.jpg);
            background-position: left top, right top;
            background-repeat: no-repeat, no-repeat;
            background-size: 550px 176px, 480px 177px;
            box-shadow: 0px 10px 30px 10px rgb(16 170 190 / 10%);
            margin-top: 10px;
            .catalog-top-sales-inner {
                &.mobile {
                    margin: 0 auto;
                    max-width: 1170px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    .catalog-sales-left {
                        flex: 0 0 100%;
                        .summer-sale-title {
                            max-width: 240px;
                            margin: 0 auto;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .catalog-sales-middle {
                        flex: 0 0 45%;
                        position: relative;
                        .shadow {
                            width: 60%;
                            height: 20px;
                            box-shadow: 0px 10px 50px 60px rgb(16 170 190 / 10%);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            z-index: 0;
                        }
                        img {
                            width:100%;
                            position: relative;
                            z-index: 0;
                        }
                    }
                    .catalog-sales-right {
                        flex: 0 0 calc(55% - 10px);
                        display: flex;
                        flex-flow: column;
                        padding-left: 10px;
                        .btn-purp-grad {
                            max-width: 160px;
                            font-size: 12px;
                            height: 36px;
                            line-height: 36px;
                            margin: auto;
                            width: auto;
                        }
                        .bundle-title-blue {
                            margin: 10px 0;
                            font-size: 14px;
                            font-weight: 500;
                            text-align: center;
                            color:$lightbluecolor;
                        }
                        .timer-counter {
                            max-width: 160px;
                            margin-top: 10px;
                            grid-gap: 4px;
                            .timer-counter-item {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }
                }
                &.desktop {
                    display: none;
                }
            }
        }
    }
    &.catalog-second {
        .container-title {
            .gradient-title {
                letter-spacing: 1px;
                font-weight: 500;
                line-height: 1.4;
            }
        }
        #catalog-wrapper {
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            #ftrs {
                width: 100%;
                position: relative;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 20px;
                .ftrs-inner {
                    background: $maindarkgray;
                    border-radius: 5px;
                    padding: 0px 0px;
                    width: 100%;
                    margin-bottom: 10px;
                    box-shadow: 0px 0px 9px 2px rgb(36 230 250 / 10%);
                    &:nth-child(2), &:nth-child(3) {
                        width: calc(50% - 5px);
                        .cat-ftr {
                            .cat-ftr-cont {
                                top: 92px;
                        }
                    }
                }
                    .cat-ftr {
                        height: 36px;
                        width: 100%;
                        transition: .3s;
                        .cat-ftr-title {
                            height: 36px;
                            line-height: 36px;
                            position: relative;
                            text-align: left;
                            text-transform: none;
                            cursor: pointer;
                            .ftr-sel {
                                text-align: left;
                                font-size: 12px;
                                color: $lightbluecolor;
                                padding-left: 20px;
                            }
                            i {
                                display: block;
                                position: absolute;
                                width: 40px;
                                height: 36px;
                                right: 0;
                                top: 0;
                                transition: .3s;
                                svg {
                                    width: 16px;
                                    height: 16px;
                                    margin: 10px;
                                    stroke: $lightbluecolor;
                                }
                            }
                        }
                        .cat-ftr-cont {
                            position: absolute;
                            width: calc(100% - 40px);
                            border-radius: 5px;
                            top: 46px;
                            height: auto;
                            padding: 20px;
                            background: $maindarkgray;
                            z-index: 4;
                            visibility: hidden;
                            opacity: 0;
                            transition: .4s;
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                text-decoration: none;
                                width: calc(50% - 10px);
                                height: 30px;
                                .switch {
                                    display: block;
                                    position: relative;
                                    width: 25px;
                                    height: 14px;
                                    border-radius: 7px;
                                    background: #282d3b;
                                    &:before {
                                        display: block;
                                        width: 10px;
                                        height: 10px;
                                        transition: .4s;
                                        top: 2px;
                                        left: 2px;
                                        border-radius: 5px;
                                        content: '';
                                        position: absolute;
                                        background: #101218;
                                    }
                                }
                                .name {
                                    display: block;
                                    font-size: 12px;
                                    margin-left: 10px;
                                    color: #fff;
                                    transition: .4s;
                                }
                            }
                        }
                        &.act {
                            .cat-ftr-cont {
                                visibility: visible;
                                opacity: 1;
                                transition: .4s;
                                a{
                                    &.act {
                                        .switch{
                                            &:before {
                                                background: $lightbluecolor;
                                                left: 12px;
                                                transition: .4s;
                                            }
                                        }
                                        .name {
                                            color: $lightbluecolor;
                                        }
                                    }
                                    &:hover {
                                        .name {
                                            color: $lightbluecolor;
                                        }
                                    }
                                }
                            }
                            .cat-ftr-title {
                                i {
                                    transform: rotate(180deg);
                                    transition: .3s;
                                }
                            }
                        }
                    }
                }
                
                
            }
        }
    }
}
@media(min-width:$bp-tablet) {
    .full-width-container {
        &.catalog-first {
            padding-bottom: 85px;
            .catalog-top-sales-block {
                .catalog-top-sales-inner {
                    &.mobile {
                        .catalog-sales-right {
                            .btn-purp-grad {
                                height: 60px;
                                line-height: 60px;
                                max-width: 240px;
                                width: calc(100% - 30px);
                                font-size: 16px;
                            }
                            .timer-counter {
                                max-width: 245px;
                                .timer-counter-item {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                            .bundle-title-blue {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(min-width:$bp-laptop) {
    .full-width-container {
        &.catalog-first {
            padding-top: 153px;
            .catalog-top-sales-block {
                .catalog-top-sales-inner {
                    &.mobile {
                        display: none;
                    }
                    &.desktop {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 30px;
                        max-width: 1170px;
                        margin: 0 auto;
                        .catalog-sales-left {
                            max-width: 265px;
                            width: 100%;
                            .summer-sale-title {
                                display: flex;
                                flex-flow: column;
                                justify-content: center;
                                align-items: center;
                                max-width: unset;
                                margin: 0;
                                img {
                                    width: 100%;
                                }
                                .bundle-title-blue {
                                    text-align: center;
                                    font-weight: 500;
                                    font-size: 16px;
                                    margin: 10px 0;
                                    color: $lightbluecolor;
                                }
                                .btn-purp-grad {
                                    height: 60px;
                                    line-height: 60px;
                                    max-width: 240px;
                                    width: calc(100% - 30px);
                                    font-size: 16px;
                                    s {
                                        font-size: 12px;
                                        margin-left: 6px;
                                    }
                                    span {
                                        margin-left: 8px;
                                    }
                                }
                            }
                        }
                        .catalog-sales-middle {
                            position: relative;
                            min-height: 130px;
                            width: 100%;
                            .shadow {
                                width: 200px;
                                height: 20px;
                                box-shadow: 0px 10px 130px 80px rgb(16 170 190 / 10%);
                                position: absolute;
                                top: 65px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                            img {
                                position: absolute;
                                top: -70px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        .catalog-sales-right {
                            .get-everything-title {
                                color: white;
                                text-align: center;
                                font-weight: 500;
                                text-transform: uppercase;
                                font-size: 12px;
                                margin-bottom: 15px;
                            }
                            .sale-will-end-title {
                                text-align: center;
                                color: $mainyellow;
                                font-weight: 500;
                                text-transform: uppercase;
                                margin-bottom: 20px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}