/*Colors*/
/*Fonts*/
/*breakpoints OLD*/
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* For Projectors or Higher Resolution Screens (Full HD) */
/* NEW BREAKPOINTS */
section {
  margin-top: 115px;
}
@media (min-width: 768px) {
  section {
    margin-top: 140px;
  }
}
@media (min-width: 992px) {
  section {
    margin-top: 200px;
  }
}
section:first-child {
  margin-top: 50px;
}

.setion-inner-shadow {
  box-shadow: inset 0px 100px 100px 0px #14161d, inset 0px -100px 100px 0px #14161d !important;
}

.view-mobile {
  display: block !important;
}
@media (min-width: 600px) {
  .view-mobile {
    display: none !important;
  }
}
.view-desktop {
  display: none !important;
}
@media (min-width: 600px) {
  .view-desktop {
    display: block !important;
  }
}

.main-info .product-preview {
  display: grid;
  row-gap: 20px;
  grid-template-rows: auto;
  grid-template-areas: "photo details" "buy buy";
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: 1fr auto;
}
.main-info .product-preview > div {
  justify-self: stretch;
  align-self: stretch;
}
@media (min-width: 600px) {
  .main-info .product-preview {
    grid-template-areas: "photo buy" "details buy";
    -moz-column-gap: 30px;
         column-gap: 30px;
    grid-template-columns: 1fr 0.8fr;
  }
}
@media (min-width: 992px) {
  .main-info .product-preview {
    -moz-column-gap: 110px;
         column-gap: 110px;
    grid-template-columns: 1fr 410px;
  }
}
@media (min-width: 1600px) {
  .main-info .product-preview {
    -moz-column-gap: 95px;
         column-gap: 95px;
  }
}
@media (min-width: 1920px) {
  .main-info .product-preview {
    -moz-column-gap: 110px;
         column-gap: 110px;
    grid-template-columns: 1fr 460px;
  }
}
.main-info .photo {
  grid-area: photo;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.main-info .photo-wrapper {
  position: relative;
  z-index: 10;
}
.main-info .photo-wrapper .product-image {
  max-width: 100%;
}
.main-info .photo-wrapper .discount {
  position: absolute;
  z-index: 3;
  box-shadow: 0px 0px 50px rgba(36, 230, 250, 0.3);
  background: linear-gradient(to right, #1ed6e9, #15b8cd);
  width: 45px;
  height: 45px;
  font-size: 12px;
  color: #f7f7f7;
  border-radius: 50%;
  text-align: center;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  top: -15px;
  right: -15px;
}
@media (min-width: 992px) {
  .main-info .photo-wrapper .discount {
    font-size: 20px;
    width: 80px;
    height: 80px;
  }
}
.main-info .photo-wrapper .discount::before {
  content: "";
  position: absolute;
  top: 40%;
  width: 50%;
  height: 0;
  box-shadow: 0px 10px 30px 10px rgba(36, 230, 250, 0.25);
  left: 25%;
}
.main-info .photo-wrapper:before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: 40%;
  width: 50%;
  height: 30%;
  box-shadow: 0px -10px 50px 25px rgba(36, 230, 250, 0.3);
  left: 25%;
  background: rgba(36, 230, 250, 0.24);
  border-radius: 50%;
}
@media (min-width: 992px) {
  .main-info .photo-wrapper:before {
    box-shadow: 0px -10px 100px 80px rgba(36, 230, 250, 0.3);
  }
}
.main-info .details {
  grid-area: details;
}
.main-info .buy {
  grid-area: buy;
}
.main-info .buy > div {
  margin-bottom: 20px;
}
.main-info .buy > div:last-child {
  margin-bottom: 0;
}
.main-info .buy .b-margin {
  margin-bottom: 10px;
}
.main-info .buy .b-margin:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .main-info .buy .b-margin {
    margin-bottom: 15px;
  }
}
@media (min-width: 1600px) {
  .main-info .buy .b-margin {
    margin-bottom: 20px;
  }
}
@media (min-width: 1920px) {
  .main-info .buy .b-margin {
    margin-bottom: 25px;
  }
}
.main-info .price {
  display: flex;
  align-items: flex-end;
  color: #f7f7f7;
}
.main-info .price > div {
  margin-right: 10px;
  line-height: 1;
}
.main-info .price > div:last-child {
  margin: 0;
}
.main-info .price .text {
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  display: none;
}
@media (min-width: 992px) {
  .main-info .price .text {
    display: block;
  }
}
.main-info .price .current {
  font-size: 30px;
  margin-bottom: -3px;
  font-weight: 500;
}
.main-info .price .old {
  font-size: 20px;
  position: relative;
  font-weight: 400;
}
.main-info .price .old:after {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: rotate(-10deg) translateX(-45%) translateY(-8px);
}
@media (min-width: 992px) {
  .main-info .edition-select {
    border: 2px solid rgba(250, 250, 250, 0.15);
    border-radius: 4px;
    padding: 15px 18px 10px 18px;
  }
}
.main-info .edition-select .prod-edition-title {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 5px;
  letter-spacing: 0.85px;
}
@media (min-width: 992px) {
  .main-info .edition-select .prod-edition-title {
    text-align: center;
  }
}
.main-info .edition-select select {
  max-width: 135px;
  width: 100%;
  background-color: #23e7fb;
  color: white;
  height: 35px;
  border: none;
  padding: 0 7px;
  border-radius: 5px;
  outline: none;
  white-space: normal;
  font-size: 9px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 600;
  -webkit-appearance: none;
  background-image: url(/assets/img/icons/chevron-down-solid.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 92%;
}
.main-info .edition-select select option {
  background-color: white;
  color: #23e7fb;
}
.main-info .edition-select .info-link {
  color: #23e7fb;
  text-decoration: none;
  font-size: 9px;
  display: block;
  letter-spacing: 0.85px;
  max-width: 150px;
}
@media (min-width: 600px) {
  .main-info .edition-select .info-link {
    max-width: none;
  }
}
@media (min-width: 992px) {
  .main-info .edition-select .info-link {
    text-align: center;
    letter-spacing: 0.6px;
  }
}
.main-info .edition-select .info-link .quest-symb {
  vertical-align: middle;
  margin-left: 4px;
}
.main-info .edition-select .product-edition-buttons {
  max-width: 405px;
  margin: 12px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main-info .edition-select .product-edition-buttons .top-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  width: 100%;
  font-size: 11px;
  line-height: 1;
  height: 30px;
}
.main-info .edition-select .product-edition-buttons .top-buttons .blue-btn {
  margin-top: 0;
}
.main-info .edition-select .product-edition-buttons .blue-btn {
  border: 2px solid #23e7fb;
  background-color: transparent;
  color: #23e7fb;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 30px;
}
.main-info .edition-select .product-edition-buttons .blue-btn:hover {
  background-color: #23e7fb;
  color: white;
}
.main-info .edition-select .product-edition-buttons .blue-btn.selected {
  border: 2px solid #23e7fb;
  background-color: #23e7fb;
  color: white;
}
.main-info .review-stars ul.stars {
  display: flex;
  height: 17px;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  list-style: none;
}
.main-info .review-stars ul.stars > li {
  width: 17px;
  height: 17px;
  display: block;
  float: left;
  cursor: pointer;
  margin-right: 2px;
}
.main-info .review-stars ul.stars > li:last-child {
  margin-right: 0;
}
.main-info .review-stars ul.stars > li svg {
  width: 17px;
  height: 17px;
  fill: none;
  stroke: #f9ed1d;
  stroke-width: 1.6;
}
.main-info .review-stars ul.stars > li.filled svg {
  fill: #f9ed1d;
}
.main-info .review-stars .reviews-count {
  color: white;
  font-size: 10px;
  text-transform: uppercase;
}
.main-info .review-stars .reviews-count a {
  color: #23e7fb;
  text-decoration: underline;
}
.main-info .content-info {
  width: 100%;
}
@media (min-width: 992px) {
  .main-info .content-info {
    background-color: #0f1218;
    box-shadow: 0 0 30px -1px rgba(16, 169, 191, 0.07);
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 0 auto;
  }
}
.main-info .content-info .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(250, 250, 250, 0.15);
  border-radius: 4px;
  padding: 7px 10px;
  margin-bottom: 8px;
}
.main-info .content-info .row:last-child {
  margin-bottom: 0;
}
.main-info .content-info .base {
  display: flex;
  align-items: flex-end;
}
.main-info .content-info .base .icon {
  margin-right: 5px;
  height: 16px;
  display: flex;
  align-items: center;
}
.main-info .content-info .base .icon > img {
  height: 100%;
}
.main-info .content-info .base .text {
  margin-top: 3px;
  color: #f9eb0e;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
}
.main-info .content-info .download {
  justify-content: center;
}
.main-info .content-info .download .title {
  margin-top: 2px;
  color: #fefefe;
  font-weight: 500;
  font-size: 11px;
}
.main-info .content-info .download .base {
  border-right: 1px solid rgba(250, 250, 250, 0.5);
  padding: 0 10px;
}
.main-info .content-info .download .base:last-child {
  border-right: none;
  padding-right: 0;
}
.main-info .content-info .download .base .icon {
  height: 14px;
  margin-right: 2px;
}
.main-info .content-info .download .base .text {
  color: #10a9bf;
  text-transform: uppercase;
}
.main-info .sale-timer {
  display: flex;
  padding: 13px;
  justify-content: center;
  align-items: center;
  background: #13151d;
  border-radius: 4px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid #11131a;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .main-info .sale-timer {
    padding: 16px;
  }
}
.main-info .sale-timer .title {
  position: relative;
  color: #f9ed1d;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
  margin-right: 10px;
}
.main-info .sale-timer .title .name {
  font-size: 17px;
}
.main-info .sale-timer .title .sub {
  font-size: 13px;
}
.main-info .sale-timer .title:before {
  content: "";
  position: absolute;
  box-shadow: 0 0 30px 16px rgba(249, 237, 29, 0.15);
  width: 80%;
  height: 0;
  display: block;
  margin-left: 10%;
  top: 40%;
  left: 0;
}
.main-info .buy-buttons {
  display: flex;
}
.main-info .buy-buttons > * {
  flex: 1;
  margin-right: 15px;
}
.main-info .buy-buttons > *:last-child {
  margin-right: 0;
}

.main-pack-slider-texts {
  border: 2px solid #36393f;
  border-radius: 5px;
  padding: 13px 20px;
  display: none;
  justify-content: space-between;
  align-items: center;
  color: #f7f7f7;
  font-size: 10px;
  align-items: flex-start;
}
@media (min-width: 992px) {
  .main-pack-slider-texts {
    display: flex;
    border: none;
    box-shadow: 0px 0px 50px rgba(36, 230, 250, 0.1);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    background: #1c212b;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0;
    left: 0;
    top: 0;
    margin-left: -50px;
    margin-top: -50px;
    grid-gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 20px;
  }
}
.main-pack-slider-texts .main-pack-slider-texts-col {
  flex: 1;
  display: flex;
  gap: 2px;
  align-items: flex-start;
}
.main-pack-slider-texts .main-pack-slider-texts-col svg {
  flex: 0 0 13px;
  stroke: #23e7fb;
  margin-top: -2px;
}
@media (min-width: 992px) {
  .main-pack-slider-texts .main-pack-slider-texts-col svg {
    flex: 0 0 16px;
    margin-bottom: -4px;
  }
}
@media (min-width: 992px) {
  .main-pack-slider-texts .main-pack-slider-texts-col {
    text-align: center;
    color: #f7f7f7;
    font-size: 12px;
    margin: 0 auto;
  }
  .main-pack-slider-texts .main-pack-slider-texts-col span {
    line-height: 1.5;
  }
}

.whats-inside-container .container-title.secondary-title {
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .whats-inside-container .container-title.secondary-title {
    margin-bottom: 65px;
  }
}
.whats-inside-container .image-wrapper {
  position: relative;
  margin-right: 20px;
}
@media (min-width: 600px) {
  .whats-inside-container .image-wrapper {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-right: 50px;
  }
}
@media (min-width: 992px) {
  .whats-inside-container .image-wrapper {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-right: 50px;
  }
}
.whats-inside-container .image-wrapper img.product-img {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.whats-inside-container .image-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 40px;
  box-shadow: 0 0 80px 60px rgba(36, 230, 250, 0.25);
  transform: translateX(-50%) translateY(-60%);
  border-radius: 50%;
  background: rgba(36, 230, 250, 0.24);
}
@media (min-width: 600px) {
  .whats-inside-container .image-wrapper:before {
    box-shadow: 0 0 150px 150px rgba(36, 230, 250, 0.25);
  }
}
.whats-inside-container .file-details {
  border: 2px solid #36393f;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 42px 1fr;
  padding: 18px 20px 18px 20px;
  grid-gap: 25px 20px;
}
@media (min-width: 992px) {
  .whats-inside-container .file-details {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 13px 20px 13px 20px;
    grid-gap: 25px 40px;
  }
}
.whats-inside-container .file-details .info-item {
  text-align: center;
}
.whats-inside-container .file-details .info-item .info-item-title {
  font-size: 14px;
  color: white;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.whats-inside-container .file-details .info-item .info-item-count {
  font-size: 14px;
  color: #f9ed1d;
  font-weight: 500;
  display: block;
}
.whats-inside-container .download-info {
  border: 2px solid #36393f;
  border-radius: 5px;
  padding: 13px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  .whats-inside-container .download-info {
    justify-content: center;
  }
}
.whats-inside-container .download-info .product-content_info-title {
  font-size: 14px;
  font-weight: 500;
  color: #fefefe;
  line-height: 1;
  margin-top: 2px;
}
@media (min-width: 992px) {
  .whats-inside-container .download-info .product-content_info-title {
    margin-right: 20px;
  }
}
.whats-inside-container .download-info .donwload-content-icons {
  display: flex;
  align-items: center;
}
.whats-inside-container .download-info .donwload-content-icons .icon {
  height: 16px;
  margin-right: 6px;
}
.whats-inside-container .download-info .donwload-content-icons .icon img {
  height: 100%;
}
.whats-inside-container .download-info .donwload-content-icons .text {
  line-height: 1;
  margin-top: 2px;
}
.whats-inside-container .download-info .donwload-content-icons .product-content_info-link {
  margin-left: 20px;
}
.whats-inside-container .download-info .donwload-content-icons .product-content_info-link a {
  color: #23e7fb;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
}
.whats-inside-container .download-info .donwload-content-icons .product-content_info-link a i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.whats-inside-container .download-info .donwload-content-icons .product-content_info-link a i svg {
  width: 15px;
  height: 19px;
  fill: #23e7fb;
  margin-right: 6px;
}
.whats-inside-container .button-area {
  margin-top: 16px;
}
.whats-inside-container .button-area button {
  width: 100%;
  max-width: 270px;
  max-height: 55px;
  line-height: 55px;
  font-size: 14px;
}
@media (min-width: 992px) {
  .whats-inside-container .whats-inside {
    display: none;
  }
}
.whats-inside-container .whats-inside .whats-inside-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.whats-inside-container .whats-inside .whats-inside-cols .left-col {
  position: relative;
}
.whats-inside-container .whats-inside .whats-inside-cols.image-right {
  grid-gap: 30px;
}
.whats-inside-container .whats-inside .whats-inside-cols.design-construct .left-col .bundle-shadow {
  transform: translateY(-40%) translateX(-30%) !important;
  left: 30%;
}
.whats-inside-container .whats-inside .whats-inside-cols.bundle .left-col .bundle-shadow {
  transform: translateY(-60%) translateX(-50%) !important;
  top: 60% !important;
  height: 50% !important;
}
.whats-inside-container .whats-inside.desktop {
  display: none;
}
@media (min-width: 992px) {
  .whats-inside-container .whats-inside.desktop {
    display: block;
  }
  .whats-inside-container .whats-inside.desktop .whats-inside-cols {
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }
  .whats-inside-container .whats-inside.desktop .whats-inside-cols .left-col {
    max-width: unset;
    margin: 0;
  }
  .whats-inside-container .whats-inside.desktop .whats-inside-cols .left-col .bundle-shadow {
    box-shadow: 0px 0px 130px 32px rgba(36, 230, 250, 0.3);
    height: 70%;
    top: 40%;
    transform: translateY(-40%) translateX(-50%);
  }
  .whats-inside-container .whats-inside.desktop .whats-inside-cols .right-col {
    background-color: #101218;
    padding: 35px 35px 40px 35px;
    border-radius: 10px;
    box-shadow: 0 0 30px -1px rgba(16, 169, 191, 0.07);
  }
  .whats-inside-container .whats-inside.desktop .whats-inside-cols .right-col .product-right-info {
    margin-bottom: 18px;
  }
  .whats-inside-container .whats-inside.desktop .product-right-buy_designed button {
    line-height: 60px;
    font-size: 16px;
  }
}
.whats-inside-container .direction-left {
  flex-direction: row-reverse;
}
.whats-inside-container .direction-left .main-pack-slider-texts {
  right: 0;
  left: auto;
  margin-right: -100px;
}
.whats-inside-container .direction-left .image-wrapper {
  margin-right: 0;
  margin-left: 50px;
}

.title-descr-block {
  color: white;
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 992px) {
  .title-descr-block {
    font-size: 16px;
  }
}
.title-descr-block h3 {
  margin-bottom: 8px;
  font-size: 16px;
}
@media (min-width: 992px) {
  .title-descr-block h3 {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .compatible-software-container {
    padding: 100px 0;
  }
}
@media (min-width: 600px) {
  .compatible-software-container {
    background-image: url(/assets/img/product6-bg.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
  }
}
@media (min-width: 992px) {
  .compatible-software-container .container-title.secondary-title {
    text-align: left;
    font-size: 48px;
    text-indent: 0;
    margin-bottom: 65px;
  }
}
.compatible-software-container .software-container-descr {
  color: white;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  text-align: justify;
  letter-spacing: 0.85px;
}
@media (min-width: 992px) {
  .compatible-software-container .software-container-descr {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 65px;
  }
}
.compatible-software-container .product-software-block {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .compatible-software-container .product-software-block {
    margin-bottom: 70px;
  }
}
.compatible-software-container .product-software-block:last-child {
  margin-bottom: 0;
}
.compatible-software-container .product-software-block .product-software-block-title {
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .compatible-software-container .product-software-block .product-software-block-title {
    margin-bottom: 25px;
    text-align: left;
  }
}
.compatible-software-container .product-software-block .product-software-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 18px 25px;
}
@media (min-width: 992px) {
  .compatible-software-container .product-software-block .product-software-inner {
    grid-gap: 30px;
  }
}
.compatible-software-container .product-software-block .product-software-inner .product-software-item {
  display: flex;
  align-items: center;
}
.compatible-software-container .product-software-block .product-software-inner .product-software-item img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  border: 3px solid #23e7fb;
  box-shadow: 0px 0 14px 1px rgba(36, 230, 250, 0.5);
  margin-right: 14px;
}
.compatible-software-container .product-software-block .product-software-inner .product-software-item span {
  font-size: 16px;
  color: white;
  font-weight: 300;
}

.who-needs-container {
  background-color: #13161d;
}
.who-needs-container .container-title {
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 992px) {
  .who-needs-container .container-title {
    margin-bottom: 130px;
  }
}
@media (min-width: 992px) {
  .who-needs-container h2 {
    margin-bottom: 100px;
  }
}
.who-needs-container .who-need-columns-block {
  display: none;
}
@media (min-width: 992px) {
  .who-needs-container .who-need-columns-block {
    display: grid;
    grid-gap: 150px;
  }
}
.who-needs-container .who-need-columns-block .who-need-row {
  display: flex;
  align-items: center;
}
.who-needs-container .who-need-columns-block .who-need-row .container-title {
  z-index: 1;
  margin-bottom: 50px;
  position: relative;
}
.who-needs-container .who-need-columns-block .who-need-row .left-col,
.who-needs-container .who-need-columns-block .who-need-row .right-col {
  position: relative;
  flex: 1;
}
.who-needs-container .who-need-columns-block .who-need-row .left-col .prod-vid,
.who-needs-container .who-need-columns-block .who-need-row .right-col .prod-vid {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  box-shadow: 0px 0 20px -5px rgba(36, 230, 250, 0.2);
}
.who-needs-container .who-need-columns-block .who-need-row .left-col .prod-vid .bundle-play,
.who-needs-container .who-need-columns-block .who-need-row .right-col .prod-vid .bundle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.who-needs-container .who-need-columns-block .who-need-row .left-col .text,
.who-needs-container .who-need-columns-block .who-need-row .right-col .text {
  font-size: 16px;
  line-height: 30px;
  color: white;
  max-width: 480px;
  z-index: 1;
  position: relative;
}
.who-needs-container .who-need-columns-block .who-need-row .left-col .slide-digit,
.who-needs-container .who-need-columns-block .who-need-row .right-col .slide-digit {
  position: absolute;
  font-size: 450px;
  font-weight: 800;
  color: #181c24;
  z-index: 0;
  line-height: 1;
  top: -100px;
}
.who-needs-container .who-need-columns-block .who-need-row.text-left .left-col {
  padding-right: 120px;
}
.who-needs-container .who-need-columns-block .who-need-row.text-left .left-col .slide-digit {
  left: -60px;
}
.who-needs-container .who-need-columns-block .who-need-row.text-right .right-col {
  padding-left: 120px;
}
.who-needs-container .who-need-columns-block .who-need-row.text-right .right-col .slide-digit {
  right: -20px;
}
@media (min-width: 992px) {
  .who-needs-container .who-need-mobile-block {
    display: none;
  }
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .swiper-container {
  padding: 0 30px 40px 30px;
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .swiper-pagination-custom,
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .swiper-pagination-fraction {
  bottom: 0;
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .swiper-button-next,
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .swiper-container-rtl .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-right.svg);
  background-size: 16px;
  right: 0;
  outline: none;
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-left.svg);
  background-size: 16px;
  left: 0;
  outline: none;
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .swiper-pagination-bullet {
  background: #51545a;
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .swiper-pagination-bullet-active {
  background-color: #f9ed1d;
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .slide-digit {
  position: absolute;
  font-size: 300px;
  font-weight: bold;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);
  color: #181c24;
  z-index: -1;
  line-height: 1;
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .product-video {
  margin: 0 auto;
  max-width: 550px;
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .prod-vid {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  box-shadow: 0px 0 20px -5px rgba(36, 230, 250, 0.2);
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .prod-vid .bundle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .container-title {
  margin: 0 auto 20px auto;
  max-width: 550px;
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .container-title.secondary-title {
  font-size: 18px;
  margin-bottom: 20px;
}
.who-needs-container .who-need-mobile-block .whoneeds-pack-slider .text {
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin: 0 auto 0 auto;
  max-width: 550px;
}

.how-use-container {
  background-color: #13161d;
}
@media (min-width: 600px) {
  .how-use-container {
    background-image: url(/assets/img/product8-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
}
.how-use-container h2 {
  margin-left: 30px;
  margin-right: 30px;
}
@media (min-width: 992px) {
  .how-use-container h2 {
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}
.how-use-container .how-use-columns {
  display: none;
}
@media (min-width: 992px) {
  .how-use-container .how-use-columns {
    display: grid;
    grid-gap: 80px;
  }
}
.how-use-container .how-use-columns h3 {
  margin-bottom: 10px;
}
.how-use-container .how-use-columns .how-use-row {
  display: flex;
  align-items: center;
}
.how-use-container .how-use-columns .how-use-row .container-title.secondary-title {
  text-align: left;
  text-indent: 0;
  font-size: 48px;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
}
.how-use-container .how-use-columns .how-use-row .left-col,
.how-use-container .how-use-columns .how-use-row .right-col {
  position: relative;
  flex: 1;
}
.how-use-container .how-use-columns .how-use-row .left-col .prod-vid,
.how-use-container .how-use-columns .how-use-row .right-col .prod-vid {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  box-shadow: 0px 0 20px -5px rgba(36, 230, 250, 0.2);
}
.how-use-container .how-use-columns .how-use-row .left-col .prod-vid .bundle-play,
.how-use-container .how-use-columns .how-use-row .right-col .prod-vid .bundle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.how-use-container .how-use-columns .how-use-row .left-col .text,
.how-use-container .how-use-columns .how-use-row .right-col .text {
  font-size: 16px;
  line-height: 30px;
  color: white;
  max-width: 480px;
  z-index: 1;
  position: relative;
}
.how-use-container .how-use-columns .how-use-row .left-col .subtext,
.how-use-container .how-use-columns .how-use-row .right-col .subtext {
  text-align: left;
  color: white;
  font-weight: 500;
  margin-bottom: 45px;
}
.how-use-container .how-use-columns .how-use-row .left-col {
  padding-right: 120px;
}
@media (min-width: 992px) {
  .how-use-container .how-use-mobile-block {
    display: none;
  }
}
.how-use-container .how-use-mobile-block h3 {
  margin-bottom: 0;
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .swiper-container {
  padding: 0 30px 40px 30px;
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.how-use-container .how-use-mobile-block .how-use-pack-slider .swiper-pagination-custom,
.how-use-container .how-use-mobile-block .how-use-pack-slider .swiper-pagination-fraction {
  bottom: 0;
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .swiper-button-next,
.how-use-container .how-use-mobile-block .how-use-pack-slider .swiper-container-rtl .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-right.svg);
  background-size: 16px;
  right: 0;
  outline: none;
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-left.svg);
  background-size: 16px;
  left: 0;
  outline: none;
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .swiper-pagination-bullet {
  background: #51545a;
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .swiper-pagination-bullet-active {
  background-color: #f9ed1d;
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .product-video {
  margin: 0 auto;
  max-width: 550px;
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .prod-vid {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  box-shadow: 0px 0 20px -5px rgba(36, 230, 250, 0.2);
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .prod-vid .bundle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .container-title.secondary-title {
  font-size: 18px;
  margin-bottom: 9px;
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .subtext {
  font-size: 14px;
  line-height: 24px;
  color: white;
  font-weight: 500;
  margin-bottom: 18px;
  text-align: center;
}
.how-use-container .how-use-mobile-block .how-use-pack-slider .text {
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin: 0 auto;
  max-width: 550px;
}

.bundle-sale-container {
  position: relative;
}
@media (min-width: 600px) {
  .bundle-sale-container {
    box-shadow: inset 0 80px 100px -20px #13161d;
    padding-top: 200px;
    background-image: url(/assets/img/product9-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 0;
  }
}
.bundle-sale-container:after {
  content: "";
  width: 1px;
  height: 1px;
  display: block;
  box-shadow: 0px 0px 500px 85px rgba(36, 230, 250, 0.3);
  left: 0;
  top: 0;
  position: absolute;
}
.bundle-sale-container .container-title.secondary-title {
  margin-bottom: 40px;
}
.bundle-sale-container .bundle-sale-slider .swiper-container {
  padding: 0 30px 40px 30px;
}
.bundle-sale-container .bundle-sale-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.bundle-sale-container .bundle-sale-slider .swiper-pagination-custom,
.bundle-sale-container .bundle-sale-slider .swiper-pagination-fraction {
  bottom: 0;
}
.bundle-sale-container .bundle-sale-slider .swiper-button-next,
.bundle-sale-container .bundle-sale-slider .swiper-container-rtl .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-right.svg);
  background-size: 16px;
  right: 0;
  outline: none;
}
@media (min-width: 600px) {
  .bundle-sale-container .bundle-sale-slider .swiper-button-next,
.bundle-sale-container .bundle-sale-slider .swiper-container-rtl .swiper-button-prev {
    background-size: 20px;
  }
}
.bundle-sale-container .bundle-sale-slider .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-left.svg);
  background-size: 16px;
  left: 0;
  outline: none;
}
@media (min-width: 600px) {
  .bundle-sale-container .bundle-sale-slider .swiper-button-prev {
    background-size: 20px;
  }
}
.bundle-sale-container .bundle-sale-slider .swiper-pagination-bullet {
  background: #51545a;
}
@media (min-width: 600px) {
  .bundle-sale-container .bundle-sale-slider .swiper-pagination-bullet {
    width: 55px;
    border-radius: 0;
    height: 4px;
    margin: 0 10px;
  }
}
.bundle-sale-container .bundle-sale-slider .swiper-pagination-bullet-active {
  background-color: #f9ed1d;
}
.bundle-sale-container .bundle-sale-slider .prod-vid {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  box-shadow: 0px 0 20px -5px rgba(36, 230, 250, 0.2);
}
.bundle-sale-container .bundle-sale-slider .prod-vid .bundle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.bundle-sale-container .bundle-sale-slider .bundle-image {
  position: relative;
}
.bundle-sale-container .bundle-sale-slider .bundle-image img {
  width: 100%;
  z-index: 1;
  position: relative;
  min-height: 180px;
  max-width: 710px;
  margin: 0 auto;
  display: block;
}
.bundle-sale-container .bundle-sale-slider .bundle-image .bundle-play {
  position: absolute;
  top: 17%;
  left: 39%;
  transform: translateX(-39%) translateY(-17%);
  z-index: 2;
}
@media (min-width: 600px) {
  .bundle-sale-container .bundle-sale-slider .bundle-image .bundle-play {
    top: 10%;
    left: 42%;
    transform: translateX(-42%) translateY(-15%);
  }
}
.bundle-sale-container .bundle-sale-slider .bundle-image .bundle-shadow {
  position: absolute;
  bottom: 20%;
  width: 80%;
  height: 10px;
  box-shadow: 0px 10px 40px 5px rgba(36, 230, 250, 0.3);
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 600px) {
  .bundle-sale-container .bundle-sale-slider .bundle-image .bundle-shadow {
    max-width: 560px;
    bottom: 18%;
  }
}
.bundle-sale-container .bundle-sale-slider .subtext {
  font-size: 12px;
  line-height: 20px;
  color: white;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 600px) {
  .bundle-sale-container .bundle-sale-slider .subtext {
    font-size: 18px;
    font-weight: bold;
  }
}
.bundle-sale-container .bundle-sale-slider .subtext a {
  display: block;
  color: #f9ed1d;
  font-weight: 500;
}
@media (min-width: 600px) {
  .bundle-sale-container .bundle-sale-slider .subtext a {
    display: inline-block;
    font-weight: bold;
  }
}
.bundle-sale-container .bundle-sale-slider .text-under {
  font-size: 12px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 35px;
}
@media (min-width: 600px) {
  .bundle-sale-container .bundle-sale-slider .text-under {
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
  }
}
.bundle-sale-container .bundle-sale-slider .text-under span {
  color: #23e7fb;
}
.bundle-sale-container .bundle-sale-slider .text-under .text-under-stroked {
  position: relative;
}
.bundle-sale-container .bundle-sale-slider .text-under .text-under-stroked:after {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  background: #fff;
  bottom: 60%;
  left: 50%;
  transform: rotate(-10deg) translateX(-50%) translateY(-60%);
}
.bundle-sale-container .bundle-sale-slider .btn-purp-grad {
  margin: 0 auto;
  max-width: 270px;
  width: 100%;
  font-size: 16px;
}
@media (min-width: 600px) {
  .bundle-sale-container .bundle-sale-slider .btn-purp-grad {
    line-height: 60px;
    margin-bottom: 30px;
  }
}
.bundle-sale-container .bundle-sale-slider .btn-purp-grad span {
  position: relative;
  margin-left: 8px;
  font-size: 13px;
}
.bundle-sale-container .bundle-sale-slider .btn-purp-grad span:after {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  background: #fff;
  bottom: 53%;
  left: 50%;
  transform: rotate(-10deg) translateX(-50%) translateY(-60%);
}

.overviews-container {
  padding: 85px 16px !important;
  background-color: #101218;
}
.overviews-container .container-title.secondary-title {
  margin-bottom: 35px;
}
@media (min-width: 600px) {
  .overviews-container .container-title.secondary-title {
    margin-bottom: 75px;
  }
}
@media (min-width: 992px) {
  .overviews-container .container-title.secondary-title br {
    display: none;
  }
}

.overviews-slider .swiper-container {
  padding: 0 40px 40px 40px;
}
.overviews-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.overviews-slider .swiper-pagination-custom,
.overviews-slider .swiper-pagination-fraction {
  bottom: 0;
}
.overviews-slider .swiper-button-next,
.overviews-slider .swiper-container-rtl .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-right.svg);
  background-size: 16px;
  right: 0;
  outline: none;
  top: 80%;
}
@media (min-width: 600px) {
  .overviews-slider .swiper-button-next,
.overviews-slider .swiper-container-rtl .swiper-button-prev {
    background-size: 20px;
    top: 35%;
  }
}
.overviews-slider .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-left.svg);
  background-size: 16px;
  left: 0;
  outline: none;
  top: 80%;
}
@media (min-width: 600px) {
  .overviews-slider .swiper-button-prev {
    background-size: 20px;
    top: 35%;
  }
}
.overviews-slider .swiper-pagination-bullet {
  background: #51545a;
}
.overviews-slider .swiper-pagination-bullet-active {
  background-color: #f9ed1d;
}
.overviews-slider .product-video {
  max-width: 460px;
  margin: 0 auto;
}
.overviews-slider .prod-vid {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  box-shadow: 0px 0 20px -10px rgba(36, 230, 250, 0.2);
}
.overviews-slider .prod-vid .bundle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.overviews-slider .subtext {
  font-size: 14px;
  letter-spacing: 0.85px;
  line-height: 24px;
  color: #f7f7f7;
  font-weight: 500;
  text-align: center;
}
.overviews-slider .subtext a {
  color: #23e7fb;
  font-weight: 500;
}

.tutorials-container {
  padding: 85px 16px !important;
  background-image: url(/assets/img/product11-bg.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
@media (min-width: 600px) {
  .tutorials-container {
    padding: 200px 16px !important;
  }
}

@media (min-width: 600px) {
  .home-faq-container {
    background-image: url(/assets/img/main8-min.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
}
.home-faq-container .qa {
  background: #0e1015;
  box-shadow: 0 0 15px rgba(16, 169, 91, 0.07);
  margin-bottom: 5px;
  height: auto;
  padding: 0 8px 0 14px;
}
@media (min-width: 600px) {
  .home-faq-container .qa {
    padding: 0 15px 0 30px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
}
.home-faq-container .qa .qa-hd {
  height: 45px;
  padding-bottom: 0px;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .home-faq-container .qa .qa-hd {
    height: 60px;
  }
}
.home-faq-container .qa .qa-hd .qa-name {
  font-size: 14px;
  line-height: 20px;
  color: #f7f7f7;
  font-weight: 400;
  margin: 0;
}
.home-faq-container .qa .qa-desc {
  font-size: 14px;
  line-height: 21px;
  color: #f7f7f7;
  border-top: 1px solid rgba(250, 255, 255, 0.07);
  box-shadow: 0px -1px 4px -2px rgba(250, 255, 255, 0.05);
  padding-top: 0px;
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  font-weight: 300;
  margin: 0;
}
.home-faq-container .qa .qa-pls-mns {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  outline: none;
  cursor: pointer;
  border: 0;
  background: transparent;
}
.home-faq-container .qa .qa-pls-mns span {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #f9ed1d;
}
.home-faq-container .qa .qa-pls-mns span:nth-child(1) {
  display: block;
}
.home-faq-container .qa .qa-pls-mns span:nth-child(2) {
  display: none;
}
.home-faq-container .qa.qa-act .qa-hd {
  transition: 0.4s;
}
.home-faq-container .qa.qa-act .qa-desc {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding: 20px 0;
  transition: opacity 0.2s ease;
}
.home-faq-container .qa.qa-act .qa-pls-mns span:nth-child(1) {
  display: none;
}
.home-faq-container .qa.qa-act .qa-pls-mns span:nth-child(2) {
  display: block;
}
.home-faq-container .subscription-form {
  margin: 65px auto 0 auto;
}
.home-faq-container .faq-block {
  max-width: 750px;
  margin: auto;
}

.reviews-container .inner-content-container .container-title.secondary-title {
  margin-bottom: 32px;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container .container-title.secondary-title {
    margin-bottom: 65px;
  }
}
.reviews-container .inner-content-container #product-reviews .product-reviews-title {
  text-align: center;
  font-size: 14px;
  color: white;
  margin-bottom: 25px;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #product-reviews .product-reviews-title {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: left;
  }
}
.reviews-container .inner-content-container #product-reviews .prod-rev {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 45px;
  margin-bottom: 30px;
  border-bottom: 1px solid #1f232e;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #product-reviews .prod-rev {
    align-items: center;
  }
}
.reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-dash {
  box-shadow: 0px 0px 10px 2px rgba(36, 230, 250, 0.2);
  width: 50px;
  height: 2px;
  background: #23e7fb;
  margin-left: 15px;
  margin-top: 30px;
  margin-right: 45px;
  right: 0;
  position: absolute;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-dash {
    position: unset;
    width: 50px;
    flex: 0 0 50px;
    margin-top: 10px;
  }
}
.reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
  box-shadow: 0px 0px 10px 2px rgba(36, 230, 250, 0.2);
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-pic {
    width: 68px;
    height: 68px;
  }
}
.reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #23e7fb;
  box-shadow: 0px 0px 10px 2px rgba(36, 230, 250, 0.2);
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-pic img {
    width: 68px;
    height: 68px;
  }
}
.reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-cont {
  display: flex;
  flex-direction: column;
}
.reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-cont .prod-rev-name {
  font-size: 14px;
  color: #fff;
  margin-bottom: 14px;
}
.reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-cont .prod-rev-name b {
  margin-right: 18px;
  font-size: 16px;
}
.reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-cont .stars {
  display: block;
  width: 60px;
  height: 14px;
  margin-right: 7px;
  margin-bottom: 20px;
  background-size: contain;
  background-image: url(/assets/img/icons/stars.svg);
}
.reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-cont .prod-rev-text {
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  max-width: 850px;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-cont .prod-rev-text {
    font-size: 14px;
    line-height: 24px;
  }
}
.reviews-container .inner-content-container #product-reviews .prod-rev .prod-rev-cont .prod-rev-text p {
  margin: 0;
}
.reviews-container .inner-content-container #show-more-reviews {
  background: transparent;
  border: 0;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.reviews-container .inner-content-container #show-more-reviews i {
  display: block;
  width: 30px;
  height: 30px;
}
.reviews-container .inner-content-container #show-more-reviews i svg {
  width: 100%;
  height: 100%;
  fill: #23e7fb;
}
.reviews-container .inner-content-container #add-review {
  margin-top: 40px;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #add-review {
    margin-top: 60px;
  }
}
.reviews-container .inner-content-container #add-review .add-review-inf {
  margin-bottom: 22px;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #add-review .add-review-inf {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 32px;
  }
  .reviews-container .inner-content-container #add-review .add-review-inf br {
    display: none;
  }
}
.reviews-container .inner-content-container #add-review .add-review-inf sup {
  color: #ef4cc6;
}
.reviews-container .inner-content-container #add-review .add-review-select-rate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #add-review .add-review-select-rate {
    margin-bottom: 35px;
  }
}
.reviews-container .inner-content-container #add-review .add-review-select-rate span {
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-right: 15px;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #add-review .add-review-select-rate span {
    font-size: 16px;
    margin-right: 30px;
  }
}
.reviews-container .inner-content-container #add-review .starsadd {
  width: 150px;
  height: 24px;
  display: block;
  position: relative;
}
.reviews-container .inner-content-container #add-review .starsadd i {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  cursor: pointer;
}
.reviews-container .inner-content-container #add-review .starsadd i svg {
  width: 20px;
  height: 20px;
  margin: 2px;
  fill: none;
  stroke: #f9ed1d;
  stroke-width: 1.6;
}
.reviews-container .inner-content-container #add-review .starsadd i.act svg {
  fill: #f9ed1d;
}
.reviews-container .inner-content-container #add-review .add-review-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #add-review .add-review-row {
    margin-bottom: 20px;
  }
}
.reviews-container .inner-content-container #add-review .add-review-row .add-review-label {
  font-size: 16px;
  color: #fff;
  width: 100px;
  text-align: left;
  display: none;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #add-review .add-review-row .add-review-label {
    display: block;
    font-weight: 500;
    max-width: 105px;
    width: 100%;
  }
  .reviews-container .inner-content-container #add-review .add-review-row .add-review-label sup {
    color: #ef4cc6;
  }
}
.reviews-container .inner-content-container #add-review .add-review-row input {
  line-height: 45px;
  background: #101218;
  outline: 0;
  box-shadow: 0px 0px 10px rgba(36, 230, 250, 0.1);
  border: 0;
  border-radius: 5px;
  width: calc(100% - 20px);
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  font-family: "UniSans", sans-serif;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #add-review .add-review-row input {
    max-width: 370px;
  }
}
.reviews-container .inner-content-container #add-review .add-review-row input::-moz-placeholder {
  color: #434e67;
}
.reviews-container .inner-content-container #add-review .add-review-row input:-ms-input-placeholder {
  color: #434e67;
}
.reviews-container .inner-content-container #add-review .add-review-row input::placeholder {
  color: #434e67;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #add-review .add-review-row input::-moz-placeholder {
    color: transparent;
  }
  .reviews-container .inner-content-container #add-review .add-review-row input:-ms-input-placeholder {
    color: transparent;
  }
  .reviews-container .inner-content-container #add-review .add-review-row input::placeholder {
    color: transparent;
  }
}
.reviews-container .inner-content-container #add-review .add-review-row textarea {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 14px;
  min-height: 90px;
  color: #fff;
  resize: none;
  background: #101218;
  outline: 0;
  box-shadow: 0px 0px 10px rgba(36, 230, 250, 0.1);
  border: 0;
  font-family: "UniSans", sans-serif;
}
.reviews-container .inner-content-container #add-review .add-review-row textarea::-moz-placeholder {
  color: #434e67;
}
.reviews-container .inner-content-container #add-review .add-review-row textarea:-ms-input-placeholder {
  color: #434e67;
}
.reviews-container .inner-content-container #add-review .add-review-row textarea::placeholder {
  color: #434e67;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #add-review .add-review-row textarea::-moz-placeholder {
    color: transparent;
  }
  .reviews-container .inner-content-container #add-review .add-review-row textarea:-ms-input-placeholder {
    color: transparent;
  }
  .reviews-container .inner-content-container #add-review .add-review-row textarea::placeholder {
    color: transparent;
  }
}
.reviews-container .inner-content-container #add-review .add-review-row .btn-purp-grad {
  max-width: 270px;
  width: 100%;
  margin: 4px auto 0 auto;
  font-size: 16px;
  line-height: 60px;
}
@media (min-width: 600px) {
  .reviews-container .inner-content-container #add-review .add-review-row .btn-purp-grad {
    max-width: 270px;
    width: 100%;
    margin: 15px auto 0 0;
    font-size: 16px;
    line-height: 60px;
  }
}

@media (min-width: 600px) {
  .home-best-seller-container {
    background-image: url(/assets/img/main4-min.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
}
.home-best-seller-container .best-seller {
  max-width: 1170px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
@media (min-width: 600px) {
  .home-best-seller-container .best-seller {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: unset;
  }
}
@media (min-width: 992px) {
  .home-best-seller-container .best-seller {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}
.home-best-seller-container .best-seller .prd {
  position: relative;
  background-color: #101218;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -2px rgba(36, 230, 250, 0.1);
}
@media (min-width: 600px) {
  .home-best-seller-container .best-seller .prd {
    width: 360px;
    margin: 0 15px 30px 15px;
  }
}
@media (min-width: 992px) {
  .home-best-seller-container .best-seller .prd {
    width: auto;
    margin: 0;
  }
}
.home-best-seller-container .best-seller .prd .prd-label {
  position: absolute;
  z-index: 2;
  padding: 0 13px;
  font-size: 14px;
  display: block;
  top: 0;
  right: 0;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background: #101218;
}
.home-best-seller-container .best-seller .prd .prd-label.label-best {
  color: #f9ed1d;
  border-radius: 0 10px 0 10px;
}
.home-best-seller-container .best-seller .prd .prd-label.label-discount {
  left: 0;
  right: unset;
  color: #23e7fb;
  border-radius: 10px 0 10px 0;
}
.home-best-seller-container .best-seller .prd a.prd-hd {
  display: flex;
  flex-flow: column;
  box-shadow: inset 0px -30px 100px 30px #101218;
  width: 100%;
  position: relative;
  text-decoration: none;
  outline: none;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}
.home-best-seller-container .best-seller .prd a.prd-hd .inner {
  height: 180px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.home-best-seller-container .best-seller .prd a.prd-hd .inner:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(16, 18, 24, 0.65);
  bottom: 0;
  border-radius: 10px 10px 0 0;
}
.home-best-seller-container .best-seller .prd a.prd-hd .inner.mufasa:after {
  background: linear-gradient(120deg, rgba(12, 87, 98, 0.4), rgba(114, 8, 125, 0.4));
}
.home-best-seller-container .best-seller .prd a.prd-hd img {
  margin: 45px auto 20px auto;
  z-index: 1;
  height: 156px;
  max-width: 165px;
}
.home-best-seller-container .best-seller .prd a.prd-hd .prd-tit {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #f7f7f7;
  font-weight: 500;
  z-index: 1;
}
.home-best-seller-container .best-seller .prd a.prd-hd .prd-tit-blue {
  color: #23e7fb;
  z-index: 1;
  display: block;
  margin: 15px 0 17px 0;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
.home-best-seller-container .best-seller .prd .prd-sndcld {
  margin: 0 -5px 25px -5px;
}
@media (min-width: 600px) {
  .home-best-seller-container .best-seller .prd .prd-sndcld {
    margin: 0 10px 25px 10px;
  }
}
.home-best-seller-container .best-seller .prd .prd-ft {
  display: flex;
  margin: 0 auto 25px auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
}
.home-best-seller-container .best-seller .prd .prd-ft .prd-ft-lt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home-best-seller-container .best-seller .prd .prd-ft .prd-ft-lt .prd-price {
  font-size: 14px;
  color: #f7f7f7;
  margin-bottom: 15px;
  font-weight: 500;
}
.home-best-seller-container .best-seller .prd .prd-ft .prd-ft-lt .prd-price b {
  font-size: 18px;
  font-weight: 500;
}
.home-best-seller-container .best-seller .prd .prd-ft .prd-ft-lt .prd-price .price-crossed {
  position: relative;
  margin-left: 5px;
}
.home-best-seller-container .best-seller .prd .prd-ft .prd-ft-lt .prd-price .price-crossed:after {
  content: "";
  width: calc(100% + 6px);
  height: 2px;
  background: #f7f7f7;
  position: absolute;
  transform: rotate(-15deg);
  left: -1px;
  bottom: 6px;
}
.home-best-seller-container .best-seller .prd .prd-ft .prd-ft-lt .prd-stars {
  font-size: 12px;
  color: #f7f7f7;
  display: flex;
  font-weight: 300;
  margin-bottom: 13px;
}
.home-best-seller-container .best-seller .prd .prd-ft .prd-ft-lt .prd-stars .stars {
  display: block;
  width: 60px;
  height: 14px;
  margin-right: 7px;
  background-size: contain;
  background-image: url(/assets/img/icons/stars.svg);
}
.home-best-seller-container .best-seller .prd .prd-ft .prd-ft-lt .prd-seles {
  font-size: 12px;
  color: #f7f7f7;
  display: flex;
}
.home-best-seller-container .best-seller .prd .prd-ft .prd-ft-rt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home-best-seller-container .best-seller .prd .prd-ft .prd-ft-rt .prd-buy {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 50px;
  padding: 0 30px;
  margin-bottom: 13px;
  width: 100%;
}
.home-best-seller-container .best-seller .prd .prd-ft .prd-ft-rt .prd-more {
  font-size: 12px;
  color: #f7f7f7;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-indent: 0.5px;
}
/*# sourceMappingURL=product.v2.css.map */