/*Colors*/
/*Fonts*/
/*breakpoints OLD*/
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.full-width-container.stage-two-top-container {
  padding: 225px 16px 30px 16px;
  background-image: url(/assets/img/rocket-back.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.full-width-container.stage-two-top-container .container-title.main-title {
  margin-bottom: 15px;
}
.full-width-container.stage-two-top-container .container-title.main-title .gradient-title {
  font-size: 26px;
}
.full-width-container.stage-two-top-container .container-title.main-title .gradient-title.first-title {
  font-size: 48px;
}
.full-width-container.stage-two-top-container .stage-one-list {
  display: grid;
  grid-gap: 20px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  margin-top: 28px;
  max-width: 343px;
  margin: 28px auto 0 auto;
}
.full-width-container.stage-two-top-container .stage-one-list .stage-one-item {
  display: flex;
  align-items: center;
}
.full-width-container.stage-two-top-container .stage-one-list .stage-one-item img {
  margin-right: 10px;
}
.full-width-container.stage-two-signup {
  background-image: url(/assets/img/stage-two-back.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 0 16px 60px 16px;
}
.full-width-container.stage-two-signup .login-container {
  background-color: rgba(16, 18, 24, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.2);
  padding: 20px 10px;
  max-width: 750px;
  margin: 0 auto;
}
.full-width-container.stage-two-signup .login-container .login-container-inner {
  max-width: 470px;
  margin: 0 auto;
}
.full-width-container.stage-two-signup .login-container .login-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}
.full-width-container.stage-two-signup .login-container .login-buttons button {
  font-size: 12px;
  line-height: 34px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 28px;
  color: white;
  text-align: center;
}
.full-width-container.stage-two-signup .login-container .login-buttons button span {
  font-weight: 500;
}
.full-width-container.stage-two-signup .login-container .login-buttons button.facebook-btn {
  background-color: #4568b3;
  background-image: url("/assets/img/icons/facebook-icon.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 12px;
}
.full-width-container.stage-two-signup .login-container .login-buttons button.google-btn {
  background-color: #dc4e43;
  background-image: url("/assets/img/icons/google-icon.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 12px;
}
.full-width-container.stage-two-signup .login-container .or-line {
  font-size: 14px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.full-width-container.stage-two-signup .login-container .or-line:before {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #42454d;
  margin-right: 7px;
  box-shadow: 0 0 15px 1px black;
}
.full-width-container.stage-two-signup .login-container .or-line:after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #42454d;
  margin-left: 7px;
  box-shadow: 0 0 15px 1px black;
}
.full-width-container.stage-two-signup .login-container form {
  display: grid;
  grid-gap: 14px;
}
.full-width-container.stage-two-signup .login-container form .form-field {
  position: relative;
}
.full-width-container.stage-two-signup .login-container form .form-field input {
  line-height: 45px;
  background: #101218;
  outline: 0;
  box-shadow: 0px 0px 10px rgba(36, 230, 250, 0.1);
  border: 0;
  border-radius: 5px;
  width: 100%;
  padding: 0 30px 0 12px;
  font-size: 14px;
  color: #fff;
  font-family: "UniSans", sans-serif;
  box-sizing: border-box;
  font-weight: 500;
}
.full-width-container.stage-two-signup .login-container form .form-field input::placeholder {
  color: #464c5e;
}
.full-width-container.stage-two-signup .login-container form .form-field svg {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 16px;
}
.full-width-container.stage-two-signup .login-container form .show-and-remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.full-width-container.stage-two-signup .login-container form .show-and-remember .remember-me-checkbox {
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: flex-end;
}
.full-width-container.stage-two-signup .login-container form .show-and-remember .remember-me-checkbox .checkbox {
  width: 30px;
  background-color: #282d3b;
  border-radius: 10px;
  height: 16px;
  border: none;
  margin-right: 12px;
  display: flex;
  align-items: center;
  position: relative;
  flex: 0 0 30px;
}
.full-width-container.stage-two-signup .login-container form .show-and-remember .remember-me-checkbox .checkbox:after {
  content: "";
  width: 13px;
  height: 13px;
  display: block;
  border-radius: 50%;
  background-color: #15141c;
  right: unset;
  left: 3px;
  position: absolute;
  transition: all 0.5s;
}
.full-width-container.stage-two-signup .login-container form .show-and-remember .remember-me-checkbox.active .checkbox:after {
  background-color: #23e7fb;
  right: 3px;
  left: unset;
}
.full-width-container.stage-two-signup .login-container form .show-and-remember .show-password-block {
  color: #23e7fb;
  cursor: pointer;
  font-size: 12px;
}
.full-width-container.stage-two-signup .login-container form .btn-purp-grad {
  max-width: 260px;
  margin: 6px auto 10px auto;
  width: 100%;
}
.full-width-container.stage-two-signup .login-container form .btn-purp-grad.create-acc {
  margin-top: 16px;
}
.full-width-container.stage-two-signup .login-container .forgot-password {
  text-align: center;
  margin-bottom: 15px;
  font-size: 12px;
}
.full-width-container.stage-two-signup .login-container .forgot-password a {
  color: #23e7fb;
  text-decoration: none;
}
.full-width-container.stage-two-signup .login-container .forgot-password.terms {
  color: white;
}
.full-width-container.stage-two-signup .login-container .forgot-password.terms a {
  text-decoration: underline;
}
.full-width-container.stage-two-signup .login-container .separator-line {
  display: block;
  height: 1px;
  background-color: #42454d;
  margin-bottom: 15px;
}
.full-width-container.stage-two-signup .login-container .sign-up {
  text-align: center;
  color: white;
  font-size: 12px;
}
.full-width-container.stage-two-signup .login-container .sign-up a {
  color: #23e7fb;
  font-weight: 500;
  text-decoration: none;
}

@media (min-width: 600px) {
  .full-width-container.stage-two-signup {
    padding-bottom: 120px;
  }
  .full-width-container.stage-two-signup .login-container {
    padding: 45px 16px 35px 16px;
  }
  .full-width-container.stage-two-signup .login-container .login-buttons {
    grid-gap: 30px;
  }
  .full-width-container.stage-two-signup .login-container .login-buttons button {
    font-size: 14px;
    line-height: 40px;
  }
  .full-width-container.stage-two-signup .login-container .login-buttons button.facebook-btn {
    background-position: 24px 12px;
    background-size: 17px;
  }
  .full-width-container.stage-two-signup .login-container .login-buttons button.google-btn {
    background-position: 32px 12px;
    background-size: 17px;
  }
  .full-width-container.stage-two-signup .login-container form .btn-purp-grad {
    font-size: 16px;
    line-height: 60px;
    margin-bottom: 15px;
  }
  .full-width-container.stage-two-signup .login-container form .form-field input {
    padding: 0 30px 0 26px;
  }
  .full-width-container.stage-two-signup .login-container form .form-field svg {
    right: 26px;
  }
  .full-width-container.stage-two-signup .login-container .sign-up {
    font-size: 14px;
  }
  .full-width-container.stage-two-top-container {
    padding-bottom: 65px;
  }
  .full-width-container.stage-two-top-container .container-title.main-title {
    margin-bottom: 0;
  }
  .full-width-container.stage-two-top-container .container-title.main-title .gradient-title {
    font-size: 46px;
  }
  .full-width-container.stage-two-top-container .container-title.main-title .gradient-title.first-title {
    font-size: 76px;
  }
  .full-width-container.stage-two-top-container .stage-one-list {
    font-size: 24px;
    max-width: 540px;
  }
  .full-width-container.stage-two-top-container .stage-one-list .stage-one-item img {
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .full-width-container.stage-two-top-container {
    padding-top: 312px;
  }
  .full-width-container.stage-two-top-container .container-title.main-title .gradient-title {
    font-size: 60px;
  }
  .full-width-container.stage-two-top-container .container-title.main-title .gradient-title.first-title {
    font-size: 100px;
  }
}
@media (min-width: 1200px) {
  .full-width-container.stage-two-top-container .inner-content-container {
    max-width: 1400px;
  }
  .full-width-container.stage-two-top-container .container-title.main-title br {
    display: none;
  }
}

/*# sourceMappingURL=stage-two.css.map */
