/*Colors*/
/*Fonts*/
/*breakpoints*/
.full-width-container.thank-you-container {
  padding: 225px 16px 48px 16px;
  background-image: url(/assets/img/rocket-back.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.full-width-container.thank-you-container .container-title.main-title {
  margin-bottom: 15px;
}
.full-width-container.thank-you-container .container-title.main-title .gradient-title {
  font-size: 26px;
}
.full-width-container.thank-you-container .container-title.main-title .gradient-title.first-title {
  font-size: 48px;
}
.full-width-container.thank-you-container .thank-you-top-descr {
  text-align: center;
}
.full-width-container.thank-you-container .thank-you-top-descr .transaction-number {
  font-size: 12px;
  text-transform: uppercase;
  color: #f9ed1d;
  font-weight: 500;
  margin-bottom: 20px;
}
.full-width-container.thank-you-container .thank-you-top-descr .purchase-available {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 15px;
}
.full-width-container.thank-you-container .thank-you-top-descr .purchase-available a {
  color: #1dd1e5;
}
.full-width-container.thank-you-container .thank-you-top-descr .purchase-available-descr {
  color: white;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 20px;
}
.full-width-container.thank-you-container .thank-you-top-descr .purchase-available-descr span {
  text-decoration: underline;
}
.full-width-container.thank-you-container .thank-you-top-descr .watch-instruction {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  box-shadow: 0 0px 8px -2px #1dd1e5;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  padding: 0 30px;
  font-size: 12px;
  border-radius: 30px;
  color: #1dd1e5;
  text-transform: uppercase;
  font-weight: 500;
  border: 2px solid #1dd1e5;
  background: transparent;
}
.full-width-container.thank-you-container .thank-you-top-descr .watch-instruction:hover {
  background: linear-gradient(to right, #1ed6e9, #15b8cd);
  color: white;
  box-shadow: inset 270px 0px 10px rgba(36, 230, 250, 0.5), 0px 0px 20px rgba(36, 230, 250, 0.5);
}
.full-width-container.thank-you-order {
  padding: 0 16px 52px 16px;
  background-color: #13161D;
}
.full-width-container.thank-you-order .container-title.secondary-title {
  margin-bottom: 24px;
}
.full-width-container.thank-you-order .checkout-total-container {
  background-color: rgba(16, 18, 24, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.2);
  max-width: 750px;
  margin: 0 auto;
}
.full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item {
  padding: 12px 18px 0px 12px;
  display: flex;
  align-items: center;
}
.full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item img {
  max-width: 70px;
  width: 100%;
  margin-right: 15px;
  max-height: 56px;
}
.full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item .product-name {
  line-height: 13px;
  max-width: 120px;
}
.full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item .product-name a {
  font-size: 10px;
  font-weight: 500;
  color: #1dd1e5;
}
.full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item .product-actions-price {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
}
.full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item .product-actions-price i {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item .product-actions-price .old-price {
  position: relative;
  margin-left: 3px;
}
.full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item .product-actions-price .old-price:after {
  content: "";
  width: 120%;
  height: 2px;
  background: white;
  position: absolute;
  transform: rotate(-15deg);
  left: -1px;
  bottom: 50%;
}
.full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item:last-child {
  padding-bottom: 12px;
}
.full-width-container.thank-you-order .checkout-total-container .cart-subtotal-container {
  border-top: 2px solid #2D363E;
}
.full-width-container.thank-you-order .checkout-total-container .cart-subtotal-container .cart-subtotal-line {
  padding: 18px 18px 14px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 500;
  font-size: 12px;
  box-shadow: 0 0px 5px -1px #2d363e;
}
.full-width-container.thank-you-order .checkout-total-container .cart-total-line {
  padding: 12px 18px 20px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.full-width-container.thank-you-order .checkout-total-container .cart-total-line .total-text {
  font-weight: 900;
}
.full-width-container.thank-you-discount {
  padding: 0 16px 60px 16px;
  background-image: url(/assets/img/thanks-wave-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.full-width-container.thank-you-discount .container-title.secondary-title {
  margin-bottom: 24px;
}
.full-width-container.thank-you-discount .discount-top-text {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 18px;
  margin: 0 auto 24px auto;
  font-weight: 500;
  max-width: 280px;
}
.full-width-container.thank-you-discount .discount-top-text span {
  text-decoration: underline;
}
.full-width-container.thank-you-discount .discount-bottom-text {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 18px;
  margin: 20px auto 24px auto;
  font-weight: 500;
}
.full-width-container.thank-you-discount .discount-bottom-text a {
  color: #1dd1e5;
}
.full-width-container.thank-you-discount .subscription-form {
  display: grid;
  justify-items: center;
  max-width: 230px;
  margin: 30px auto 0 auto;
  position: relative;
  grid-gap: 10px;
}
.full-width-container.thank-you-discount .subscription-form input {
  padding: 0 30px;
  border: 0;
  line-height: 50px;
  background: #fff;
  color: #13161d;
  font-size: 12px;
  border-radius: 30px;
  width: calc(100% - 60px);
  outline: none;
  box-shadow: 0 0 30px 5px rgba(239, 76, 198, 0.2);
  text-transform: uppercase;
}
.full-width-container.thank-you-discount .subscription-form button {
  width: 100%;
  font-size: 12px;
  position: unset;
  line-height: 50px;
}
.full-width-container.thank-you-special-offer {
  padding: 0 16px 60px 16px;
  background-image: url(/assets/img/thanks-wave-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.full-width-container.thank-you-special-offer .container-title.secondary-title {
  margin-bottom: 24px;
}
.full-width-container.thank-you-special-offer .timer-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #f9ed1d;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 500;
}
.full-width-container.thank-you-special-offer .timer-counter {
  margin-bottom: 20px;
}
.full-width-container.thank-you-special-offer .offer-products-wrapper {
  padding: 0 16px 40px 16px;
}
.full-width-container.thank-you-special-offer .swiper-container-horizontal > .swiper-pagination-bullets,
.full-width-container.thank-you-special-offer .swiper-pagination-custom,
.full-width-container.thank-you-special-offer .swiper-pagination-fraction {
  bottom: 0;
}
.full-width-container.thank-you-special-offer .swiper-button-next,
.full-width-container.thank-you-special-offer .swiper-container-rtl .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-right.svg);
  background-size: 16px;
  right: -10px;
  outline: none;
}
.full-width-container.thank-you-special-offer .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-left.svg);
  background-size: 16px;
  left: -10px;
  outline: none;
}
.full-width-container.thank-you-special-offer .swiper-pagination-bullet {
  background: #51545a;
}
.full-width-container.thank-you-special-offer .swiper-pagination-bullet-active {
  background-color: #f9ed1d;
}
.full-width-container.thank-you-special-offer .prd {
  position: relative;
  background-color: #101218;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px rgba(36, 230, 250, 0.1);
  display: grid;
  max-width: 360px;
  margin: 0 auto;
}
.full-width-container.thank-you-special-offer .prd .prd-label {
  position: absolute;
  z-index: 2;
  padding: 0 13px;
  font-size: 14px;
  display: block;
  top: 0;
  right: 0;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background: #101218;
}
.full-width-container.thank-you-special-offer .prd .prd-label.label-best {
  color: #f9ed1d;
  border-radius: 0 10px 0 10px;
}
.full-width-container.thank-you-special-offer .prd .prd-label.label-discount {
  left: 0;
  right: unset;
  color: #1dd1e5;
  border-radius: 10px 0 10px 0;
}
.full-width-container.thank-you-special-offer .prd a.prd-hd {
  display: flex;
  flex-flow: column;
  box-shadow: inset 0px -30px 100px 30px #101218;
  width: 100%;
  position: relative;
  text-decoration: none;
  outline: none;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}
.full-width-container.thank-you-special-offer .prd a.prd-hd .inner {
  height: 180px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.full-width-container.thank-you-special-offer .prd a.prd-hd .inner:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(16, 18, 24, 0.65);
  bottom: 0;
  border-radius: 10px 10px 0 0;
}
.full-width-container.thank-you-special-offer .prd a.prd-hd .inner.mufasa:after {
  background: linear-gradient(120deg, rgba(12, 87, 98, 0.4), rgba(114, 8, 125, 0.4));
}
.full-width-container.thank-you-special-offer .prd a.prd-hd img {
  margin: 45px auto 20px auto;
  z-index: 1;
  height: 156px;
  max-width: 165px;
}
.full-width-container.thank-you-special-offer .prd a.prd-hd .prd-tit {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #f7f7f7;
  font-weight: 500;
  z-index: 1;
}
.full-width-container.thank-you-special-offer .prd a.prd-hd .prd-tit-blue {
  color: #1dd1e5;
  z-index: 1;
  display: block;
  margin: 15px 0 17px 0;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
.full-width-container.thank-you-special-offer .prd .prd-sndcld {
  margin: 0 10px 25px 10px;
}
.full-width-container.thank-you-special-offer .prd .prd-ft {
  display: flex;
  margin: 0 auto 25px auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
  width: 100%;
  box-sizing: border-box;
}
.full-width-container.thank-you-special-offer .prd .prd-ft .prd-ft-lt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.full-width-container.thank-you-special-offer .prd .prd-ft .prd-ft-lt .prd-price {
  font-size: 14px;
  color: #f7f7f7;
  margin-bottom: 15px;
  font-weight: 500;
}
.full-width-container.thank-you-special-offer .prd .prd-ft .prd-ft-lt .prd-price b {
  font-size: 18px;
  font-weight: 500;
}
.full-width-container.thank-you-special-offer .prd .prd-ft .prd-ft-lt .prd-price .price-crossed {
  position: relative;
  margin-left: 5px;
}
.full-width-container.thank-you-special-offer .prd .prd-ft .prd-ft-lt .prd-price .price-crossed:after {
  content: "";
  width: calc(100% + 6px);
  height: 2px;
  background: #f7f7f7;
  position: absolute;
  transform: rotate(-15deg);
  left: -1px;
  bottom: 6px;
}
.full-width-container.thank-you-special-offer .prd .prd-ft .prd-ft-lt .prd-stars {
  font-size: 12px;
  color: #f7f7f7;
  display: flex;
  font-weight: 300;
  margin-bottom: 13px;
}
.full-width-container.thank-you-special-offer .prd .prd-ft .prd-ft-lt .prd-stars .stars {
  display: block;
  width: 60px;
  height: 14px;
  margin-right: 7px;
  background-size: contain;
  background-image: url(/assets/img/icons/stars.svg);
}
.full-width-container.thank-you-special-offer .prd .prd-ft .prd-ft-lt .prd-seles {
  font-size: 12px;
  color: #f7f7f7;
  display: flex;
}
.full-width-container.thank-you-special-offer .prd .prd-ft .prd-ft-rt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.full-width-container.thank-you-special-offer .prd .prd-ft .prd-ft-rt .prd-buy {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 50px;
  padding: 0 30px;
  margin-bottom: 13px;
  width: 100%;
}
.full-width-container.thank-you-special-offer .prd .prd-ft .prd-ft-rt .prd-more {
  font-size: 12px;
  color: #f7f7f7;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-indent: 0.5px;
}
.full-width-container.thank-you-rate {
  padding: 0 16px 60px 16px;
  background-image: url(/assets/img/thanks-wave-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.full-width-container.thank-you-rate .container-title.secondary-title {
  margin-bottom: 24px;
}
.full-width-container.thank-you-rate .rate-top-text {
  display: none;
}
.full-width-container.thank-you-rate .rating-blocks-form {
  display: grid;
  grid-gap: 6px;
  max-width: 750px;
  margin: 0 auto;
}
.full-width-container.thank-you-rate .rating-blocks-form .rating-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111219;
  padding: 8px 6px 8px 14px;
  box-shadow: 0 0 15px rgba(16, 169, 91, 0.1);
}
.full-width-container.thank-you-rate .rating-blocks-form .rating-line .rating-line-text {
  font-size: 12px;
  color: white;
  font-weight: 400;
}
.full-width-container.thank-you-rate .rating-blocks-form .rating-line .rating-line-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}
.full-width-container.thank-you-rate .rating-blocks-form .rating-line .rating-line-buttons button {
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
  border-radius: 4px;
  border: none;
  font-size: 26px;
  line-height: 26px;
  background-color: #F7F7F7;
  color: black;
  font-weight: 500;
}
.full-width-container.thank-you-rate .rating-blocks-form .rating-line .rating-line-buttons button.active {
  background-color: #1dd1e5;
  color: white;
}
.full-width-container.thank-you-rate .rating-blocks-form .btn-blue-grad {
  max-width: 210px;
  margin: 14px auto 0 auto;
  width: 100%;
}

@media (min-width: 675px) {
  .full-width-container.thank-you-container {
    padding-bottom: 92px;
  }
  .full-width-container.thank-you-container .container-title.main-title {
    margin-bottom: 24px;
  }
  .full-width-container.thank-you-container .container-title.main-title .gradient-title {
    font-size: 46px;
  }
  .full-width-container.thank-you-container .container-title.main-title .gradient-title.first-title {
    font-size: 76px;
  }
  .full-width-container.thank-you-container .thank-you-top-descr .transaction-number {
    font-size: 18px;
    margin-bottom: 45px;
  }
  .full-width-container.thank-you-container .thank-you-top-descr .purchase-available {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .full-width-container.thank-you-container .thank-you-top-descr .purchase-available-descr {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .full-width-container.thank-you-container .thank-you-top-descr .watch-instruction {
    font-size: 16px;
    line-height: 56px;
  }
  .full-width-container.thank-you-order {
    padding-bottom: 83px;
  }
  .full-width-container.thank-you-order .container-title.secondary-title {
    margin-bottom: 44px;
    font-size: 38px;
  }
  .full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item {
    padding: 22px 65px 0px 35px;
  }
  .full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item img {
    max-width: 160px;
    width: 100%;
    margin-right: 30px;
    max-height: 130px;
    height: 100%;
  }
  .full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item .product-name {
    line-height: 30px;
    max-width: 250px;
  }
  .full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item .product-name a {
    font-size: 18px;
  }
  .full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item .product-actions-price {
    font-size: 18px;
  }
  .full-width-container.thank-you-order .checkout-total-container .cart-items .cart-item:last-child {
    padding-bottom: 22px;
  }
  .full-width-container.thank-you-order .checkout-total-container .cart-subtotal-container .cart-subtotal-line {
    padding: 15px 65px 15px 35px;
    font-size: 18px;
  }
  .full-width-container.thank-you-order .checkout-total-container .cart-subtotal-container .cart-subtotal-line:first-child {
    padding-top: 35px;
  }
  .full-width-container.thank-you-order .checkout-total-container .cart-total-line {
    padding: 15px 65px 35px 35px;
    font-size: 24px;
  }
  .full-width-container.thank-you-discount .container-title.secondary-title {
    margin-bottom: 28px;
    font-size: 38px;
  }
  .full-width-container.thank-you-discount .container-title.secondary-title br {
    display: none;
  }
  .full-width-container.thank-you-discount .discount-top-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24px;
    max-width: 642px;
  }
  .full-width-container.thank-you-discount .discount-bottom-text {
    font-size: 14px;
  }
  .full-width-container.thank-you-discount .subscription-form {
    max-width: 320px;
    grid-gap: 20px;
  }
  .full-width-container.thank-you-discount .subscription-form input {
    line-height: 60px;
    font-size: 14px;
  }
  .full-width-container.thank-you-discount .subscription-form button {
    font-size: 14px;
    line-height: 60px;
    max-width: 320px;
  }
  .full-width-container.thank-you-special-offer {
    padding-bottom: 122px;
  }
  .full-width-container.thank-you-special-offer .container-title.secondary-title {
    margin-bottom: 24px;
    font-size: 38px;
  }
  .full-width-container.thank-you-special-offer .timer-title {
    font-size: 18px;
  }
  .full-width-container.thank-you-special-offer .timer-counter {
    margin-bottom: 26px;
  }
  .full-width-container.thank-you-rate {
    padding-bottom: 130px;
  }
  .full-width-container.thank-you-rate .container-title.secondary-title {
    margin-bottom: 24px;
    font-size: 38px;
  }
  .full-width-container.thank-you-rate .rate-top-text {
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
  }
  .full-width-container.thank-you-rate .rate-top-text span {
    text-decoration: underline;
  }
  .full-width-container.thank-you-rate .rating-blocks-form {
    grid-gap: 12px;
  }
  .full-width-container.thank-you-rate .rating-blocks-form .rating-line {
    padding: 10px 18px 10px 35px;
  }
  .full-width-container.thank-you-rate .rating-blocks-form .rating-line .rating-line-text {
    font-size: 16px;
  }
  .full-width-container.thank-you-rate .rating-blocks-form .rating-line .rating-line-buttons {
    grid-gap: 6px;
  }
  .full-width-container.thank-you-rate .rating-blocks-form .rating-line .rating-line-buttons button {
    line-height: 30px;
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
    font-size: 30px;
  }
  .full-width-container.thank-you-rate .rating-blocks-form .btn-blue-grad {
    line-height: 60px;
    font-size: 16px;
    max-width: 240px;
    margin-top: 20px;
  }
}
@media (min-width: 1023px) {
  .full-width-container.thank-you-container {
    padding-top: 312px;
  }
  .full-width-container.thank-you-container .container-title.main-title .gradient-title {
    font-size: 72px;
  }
  .full-width-container.thank-you-container .container-title.main-title .gradient-title.first-title {
    font-size: 100px;
  }
}/*# sourceMappingURL=success.css.map */