@import "../variables/variables.scss";

.full-width-container {
    &.stage-three-top-container {
        padding: 225px 16px 30px 16px;
        background-image: url(/assets/img/rocket-back.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        .container-title {
            &.main-title {
                margin-bottom: 15px;
                .gradient-title {
                    font-size: 26px;
                    &.first-title {
                        font-size: 48px;
                    }
                }
            }
        }
        .stage-one-list {
            display: grid;
            grid-gap: 20px;
            color: white;
            font-weight: 500;
            font-size: 14px;
            margin-top: 28px;
            max-width: 343px;
            margin: 28px auto 0 auto;
            .stage-one-item {
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                }
            }
        }

    }
    &.stage-three-payment {
        background-image: url(/assets/img/stage-two-back.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        padding: 0 16px 60px 16px;
        .email-reminder-subtitle-top {
            font-size: 14px;
            color: white;
            text-align: center;
            font-weight: 400;
            margin: 0 0 30px 0;
            span {
                font-weight: 500;
            }
        }
        .email-reminder-subtitle {
            font-size: 12px;
            color: white;
            text-align: center;
            font-weight: 400;
            margin: 0 0 35px 0;
            span {
                font-weight: 500;
            }
        }
        .subscription-timeline {
            width: 100%;
            margin: 50px auto 30px auto;
            max-width: 730px;
            .line {
                width: 100%;
                position: relative;
                height: 20px;
                border-radius: 10px;
                display: flex;
                flex-wrap: wrap;
                .inner-line {
                    width: 50%;
                    height: 20px;
                    line-height: 20px;
                    border-radius: 10px;
                    position: relative;
                    &.line1 {
                        background: $bluebuttongrad;
                    }
                    &.line2 {
                        background: linear-gradient(to right, #f4f5f5, #7d8c92);
                    }
                    .line-text {
                        font-size: 12px;
                        color: $lightwhite;
                        height: 20px;
                        line-height: 20px;
                        position: absolute;
                        z-index: 2;
                        right: 37px;
                        top: 0;
                        display: flex;
                        align-items: center;
                        i {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            margin-left: 5px;
                            // float: right;
                            svg {
                                width: 20px;
                                height: 20px;
                                fill: $lightwhite;
                            }
                        }
                    }
                }
                .date-label {
                    height: 28px;
                    line-height: 28px;
                    border-radius: 14px;
                    z-index: 2;
                    padding: 0 12px;
                    background: #fff;
                    color: $darkbluecolor;
                    font-size: 12px;
                    box-shadow: 0px 0px 10px rgba(36, 240, 240, 0.3);
                    position: absolute;
                    &.date1 {
                        left: 50%;
                        transform: translateX(-50%);
                        top: -4px;
                    }
                    &.date2 {
                        right: 0px;
                        top: -4px;
                    }
                }
                .text-label {
                    font-size: 14px;
                    z-index: 2;
                    position: absolute;
                    &.text1 {
                        color: $lightbluecolor;
                        left: 0;
                        top: -30px;
                    }
                    &.text2 {
                        color: $lightwhite;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -30px;
                    }
                }
            }
        }
        .payment-container {
            background-color: rgba(16,18,24,.2);
            border-radius: 8px;
            box-shadow: 0px 0px 20px -5px rgb(36, 230, 250, .2);
            padding: 30px 15px;
            max-width: 940px;
            margin: 0 auto;
            form {
                max-width: 460px;
                margin: 0 auto; 
            }
            .payment-fields {
                background: white;
                border-radius: 50px;
                line-height: 52px;
                position: relative;
                height: 52px;
                margin-bottom: 12px;
                box-shadow: 0 0 30px 5px rgb(239, 76, 198, .2);
                input {
                    border: none;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: textfield;
                    outline: none;
                    font-size: 12px;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &::placeholder {
                        color: black;
                    }
                    &.card-number {
                        top: 18px;
                        left: 20px;
                        width: calc(100% - 140px);
                    }
                    &.cvc {
                        right: 24px;
                        width: 24px;
                        top: 18px;
                    }
                    &.date {
                        right: 62px;
                        width: 45px;
                        top: 18px;
                    }
                }
            }
            .btn-purp-grad {
                width: 100%;
                line-height: 52px;
            }
        }
    }
}

@media (min-width: $bp-tablet) {
    .full-width-container {
        &.stage-three-payment {
            padding-bottom: 120px;
            .payment-container {
                padding: 40px 15px;
                .payment-fields {
                    display: flex;
                    flex-wrap: wrap;
                    height: unset;
                    line-height: unset;
                    background: transparent;
                    box-shadow: none;
                    margin-bottom: 32px;
                    input {
                        position: unset;
                        border-radius: 50px;
                        background-color: white;
                        padding: 0 30px;
                        box-sizing: border-box;
                        font-size: 14px;
                        line-height: 60px;
                        box-shadow: 0 0 30px 5px rgb(239, 76, 198, .2);
                        &.card-number {
                            width: unset;
                            flex: 0 0 100%;
                            margin-bottom: 30px;
                        }
                        &.date {
                            width: 100%;
                            flex: 0 0 calc(50% - 15px);
                            margin-right: 15px;
                        }
                        &.cvc {
                            width: 100%;
                            flex: 0 0 calc(50% - 15px);
                            margin-left: 15px;
                        }
                    }
                }
                .btn-purp-grad {
                    line-height: 60px;
                    font-size: 16px;
                }
            }
            .email-reminder-subtitle-top {
                font-size: 32px;
                margin-bottom: 60px;
            }
            .email-reminder-subtitle {
                font-size: 24px;
                margin-bottom: 60px;
            }
            .subscription-timeline {
                .line {
                    .inner-line {
                        .line-text {
                            right: 62px;
                        }
                    }
                }
            }
        }
        &.stage-three-top-container {
            padding-bottom: 65px;
            .container-title {
                &.main-title {
                    margin-bottom:0;
                    .gradient-title {
                        font-size: 46px;
                        &.first-title {
                            font-size: 76px;
                        }
                    }
                }
            }
            .stage-one-list {
                font-size: 24px;
                max-width: 540px;
                .stage-one-item {
                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

@media (min-width: $bp-laptop) {
    .full-width-container {
        &.stage-three-top-container {
            padding-top: 312px;
            .container-title {
                &.main-title {
                    .gradient-title {
                        font-size: 60px;
                        &.first-title {
                            font-size: 100px;
                        }
                    }
                }
            }
        }
    }
    }

    @media (min-width: $bp-desktop-lg) {
        .full-width-container {

        }
    }