/*Colors*/
/*Fonts*/
/*breakpoints OLD*/
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.full-width-container.checkout-container {
  padding-top: 69px;
  padding-bottom: 104px;
  background-image: url(/assets/img/cart-back-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.full-width-container.checkout-container .container-title.main-title {
  margin-bottom: 18px;
}
.full-width-container.checkout-container .checkout-content {
  display: grid;
  grid-gap: 15px;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container {
  background-color: rgba(16, 18, 24, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.2);
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item {
  padding: 12px 18px 0px 12px;
  display: flex;
  align-items: center;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item img {
  max-width: 70px;
  width: 100%;
  margin-right: 15px;
  max-height: 56px;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item .product-name {
  line-height: 13px;
  max-width: 120px;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item .product-name a {
  font-size: 10px;
  font-weight: 500;
  color: #23e7fb;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item .product-actions-price {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item .product-actions-price i {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item .product-actions-price .old-price {
  position: relative;
  margin-left: 3px;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item .product-actions-price .old-price:after {
  content: "";
  width: 120%;
  height: 2px;
  background: white;
  position: absolute;
  transform: rotate(-15deg);
  left: -1px;
  bottom: 50%;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item:nth-last-child(2) {
  padding-bottom: 12px;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-total-line {
  display: flex;
  align-items: center;
  padding: 16px 18px 20px 22px;
  justify-content: space-between;
  border-top: 1px solid #4f4e56;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-total-line .total-text {
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  background-image: linear-gradient(130deg, #ef4bc5 40%, #0fa9bf 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.full-width-container.checkout-container .checkout-content .checkout-total-container .cart-total-line .total-price {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.full-width-container.checkout-container .checkout-content .login-container {
  background-color: rgba(16, 18, 24, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.2);
  padding: 20px 10px;
}
.full-width-container.checkout-container .checkout-content .login-container .container-title {
  margin-bottom: 16px;
}
.full-width-container.checkout-container .checkout-content .login-container .login-text {
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 18px;
}
.full-width-container.checkout-container .checkout-content .login-container .login-text a {
  font-weight: 500;
  color: #23e7fb;
  margin: 0 5px;
  display: inline-block;
  text-decoration: none;
}
.full-width-container.checkout-container .checkout-content .login-container .login-text a svg {
  display: inline-block;
  vertical-align: middle;
}
.full-width-container.checkout-container .checkout-content .login-container .login-buttons-container {
  display: grid;
  place-items: center;
  text-align: center;
}
.full-width-container.checkout-container .checkout-content .login-container .login-buttons-container .login-buttons-text {
  color: white;
  font-size: 12px;
  margin-bottom: 12px;
}
.full-width-container.checkout-container .checkout-content .login-container .login-buttons-container .login-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.full-width-container.checkout-container .checkout-content .login-container .login-buttons-container .login-buttons button {
  font-size: 12px;
  line-height: 34px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 28px;
  color: white;
  text-align: left;
}
.full-width-container.checkout-container .checkout-content .login-container .login-buttons-container .login-buttons button span {
  font-weight: 500;
}
.full-width-container.checkout-container .checkout-content .login-container .login-buttons-container .login-buttons button.facebook-btn {
  background-color: #4568b3;
  background-image: url("/assets/img/icons/facebook-icon.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 12px;
}
.full-width-container.checkout-container .checkout-content .login-container .login-buttons-container .login-buttons button.google-btn {
  background-color: #dc4e43;
  background-image: url("/assets/img/icons/google-icon.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 12px;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container {
  background-color: rgba(16, 18, 24, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.2);
  padding: 24px 10px;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab {
  color: #23e7fb;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab svg {
  fill: #23e7fb;
  margin-left: 6px;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab.inactive {
  color: white;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab.inactive svg {
  fill: white;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab.inactive .checkbox {
  background-color: transparent;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab.google svg {
  margin-right: 3px;
  margin-left: 0;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab.google svg path {
  fill: #23e7fb;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab.google.inactive svg path {
  fill: white;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab.apple svg {
  margin-right: 3px;
  margin-left: 0;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab .checkbox {
  width: 8px;
  height: 8px;
  border: 2px solid #282d3b;
  border-radius: 50%;
  margin-right: 6px;
  background-color: #23e7fb;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tab-container {
  min-height: 115px;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tab-container .credit-card-form {
  display: grid;
  justify-items: center;
  max-width: 240px;
  margin: 30px auto 0 auto;
  position: relative;
  grid-gap: 10px;
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tab-container .credit-card-form input {
  padding: 0 30px;
  border: 0;
  line-height: 52px;
  background: #fff;
  color: #13161d;
  font-size: 14px;
  border-radius: 30px;
  width: calc(100% - 60px);
  outline: none;
  box-shadow: 0 0 30px 5px rgba(239, 76, 198, 0.2);
}
.full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tab-container .credit-card-form button {
  width: 100%;
  line-height: 52px;
}

@media (min-width: 600px) {
  .full-width-container.checkout-container .container-title.main-title {
    margin-bottom: 53px;
  }
  .full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item img {
    max-width: 160px;
    width: 100%;
    margin-right: 30px;
    max-height: 130px;
    height: 100%;
  }
  .full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item .product-name {
    line-height: 30px;
    max-width: 450px;
  }
  .full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item .product-name a {
    font-size: 18px;
  }
  .full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item .product-actions-price {
    font-size: 30px;
  }
  .full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item .product-actions-price .old-price {
    font-size: 24px;
  }
  .full-width-container.checkout-container .checkout-content .checkout-total-container .cart-total-line {
    padding: 38px 18px 42px 22px;
    border-top: 2px solid #4f4e56;
  }
  .full-width-container.checkout-container .checkout-content .checkout-total-container .cart-total-line .total-text {
    font-size: 38px;
  }
  .full-width-container.checkout-container .checkout-content .checkout-total-container .cart-total-line .total-price {
    font-size: 36px;
  }
  .full-width-container.checkout-container .checkout-content .login-container {
    padding: 35px 16px;
  }
  .full-width-container.checkout-container .checkout-content .login-container .container-title.secondary-title {
    font-size: 38px;
    margin-bottom: 24px;
  }
  .full-width-container.checkout-container .checkout-content .login-container .login-text {
    font-size: 16px;
  }
  .full-width-container.checkout-container .checkout-content .login-container .login-text br {
    display: none;
  }
  .full-width-container.checkout-container .checkout-content .login-container .login-buttons-container .login-buttons-text {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .full-width-container.checkout-container .checkout-content .login-container .login-buttons-container .login-buttons {
    grid-gap: 30px;
  }
  .full-width-container.checkout-container .checkout-content .login-container .login-buttons-container .login-buttons button {
    font-size: 14px;
    line-height: 40px;
    padding: 0 30px 0 55px;
  }
  .full-width-container.checkout-container .checkout-content .login-container .login-buttons-container .login-buttons button.facebook-btn {
    background-position: 28px 11px;
    background-size: 16px;
  }
  .full-width-container.checkout-container .checkout-content .login-container .login-buttons-container .login-buttons button.google-btn {
    background-position: 28px 11px;
    background-size: 16px;
  }
  .full-width-container.checkout-container .checkout-content .payment-choice-container {
    padding: 35px 16px;
  }
  .full-width-container.checkout-container .checkout-content .payment-choice-container .container-title.secondary-title {
    font-size: 38px;
    margin-bottom: 24px;
  }
  .full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab {
    font-size: 16px;
    margin: 0 25px;
  }
  .full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab .checkbox {
    width: 30px;
    background-color: #282d3b;
    border-radius: 10px;
    height: 16px;
    border: none;
    margin-right: 12px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab .checkbox:after {
    content: "";
    width: 13px;
    height: 13px;
    display: block;
    background-color: #23e7fb;
    border-radius: 50%;
    right: 3px;
    position: absolute;
    transition: all 0.5s;
  }
  .full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab.inactive .checkbox {
    background-color: #282d3b;
  }
  .full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tabs .payment-tab.inactive .checkbox:after {
    background-color: #15141c;
    right: unset;
    left: 3px;
  }
  .full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tab-container {
    min-height: 60px;
  }
  .full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tab-container .credit-card-form {
    max-width: 650px;
    margin: 20px auto 0 auto;
  }
  .full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tab-container .credit-card-form input {
    line-height: 60px;
  }
  .full-width-container.checkout-container .checkout-content .payment-choice-container .payment-options-container .payment-tab-container .credit-card-form button {
    max-width: 230px;
    line-height: 60px;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .full-width-container.checkout-container .checkout-content .checkout-total-container .cart-item {
    padding: 22px 65px 0px 35px;
  }
  .full-width-container.checkout-container .checkout-content .checkout-total-container .cart-total-line {
    padding: 38px 65px 42px 65px;
  }
}
@media (min-width: 992px) {
  .full-width-container.checkout-container {
    padding: 204px 16px;
    background-image: url(/assets/img/cart-back.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .full-width-container.checkout-container .container-title.main-title {
    margin-bottom: 60px;
  }
}

/*# sourceMappingURL=checkout.css.map */
