@import "../variables/variables.scss";

.full-width-container {
    &.error-container {
        padding-top: 69px;
        padding-bottom: 62px;
        background-image: url(/assets/img/cart-back.jpg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
        .container-title {
            &.main-title {
                font-size: 60px;
            }
        }
        .error-form-container {
            position: relative;
            text-align: center;
            color: white;
            padding-top: 188px;
            img {
                position: absolute;
                top: -40px;
                left: 50%;
                transform: translateX(-50%);
                filter: contrast(0.8);
            }
            .top-text {
                max-width: 265px;
                margin: 0 auto 15px auto;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
            }
            .descr {
                font-size: 14px;
                line-height: 20px;
                a {
                    color: $lightbluecolor;
                    font-weight: 500;
                }
            }
            .button-container {
                max-width: 265px;
                margin: 20px auto 0 auto;
                a {
                    width: 100%;
                }
            }
        }
    }
}

.flying-astronaut {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: fly;
    animation-timing-function: ease-in-out;
}
@keyframes fly {
    0% {
        transform: translateY(0) rotate(-15deg);
        // transform: rotate(0deg);
        left: 26%;
    }
    25% {
        transform: translateY(-15px) rotate(-18deg);
    }
    50% {
        left: 34%;
        transform: translateY(0) rotate(-20deg);
    }
    75% {
        transform: translateY(-15px) rotate(-18deg);
    }
    // 25% {
    //     transform: translateY(-25px) rotate(-20deg) translateZ(0);
    //     // transform: rotate(45deg);
    //     left: 32%;
    // }
    // 65% {
    //     transform: translateY(-30px) rotate(-17deg) translateZ(0);
    //     // transform: rotate(45deg);
    //     left: 25%;
    // }
    100% {
        transform: translateY(0) rotate(-15deg);
        // transform: rotate(0deg);
        left: 26%;
    }
}

@media (min-width: $bp-tablet) {
    .full-width-container {
        &.error-container {
            .container-title {
                &.main-title {
                    font-size: 100px;
                    margin: 0;
                }
            }
            .button-container {
                a {
                    line-height: 60px;
                    font-size: 16px;
                }
            }
        }
    }
}
@media (min-width: $bp-tablet) {
    .full-width-container {
        &.error-container {
            .container-title {
                &.main-title {
                    font-size: 100px;
                    margin: 0;
                }
            }
            .error-form-container {
                .top-text {
                    font-size: 28px;
                    line-height: 30px;
                    margin-bottom: 20px;
                    max-width: unset;
                }
                .descr {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
}
@media (min-width: $bp-laptop) {
    .full-width-container {
        &.error-container {
            padding-top: 165px;
            padding-bottom: 150px;
            .container-title {
                &.main-title {
                    font-size: 160px;
                }
            }
            .error-form-container {
                padding-top: 388px;
                img {
                    width: 450px;
                    top: -80px;
                }
            }
        }
    }
}
