/*Colors*/
/*Fonts*/
/*breakpoints*/
.full-width-container.error-container {
  padding-top: 69px;
  padding-bottom: 62px;
  background-image: url(/assets/img/cart-back.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.full-width-container.error-container .container-title.main-title {
  font-size: 60px;
}
.full-width-container.error-container .error-form-container {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 188px;
}
.full-width-container.error-container .error-form-container img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  filter: contrast(0.8);
}
.full-width-container.error-container .error-form-container .top-text {
  max-width: 265px;
  margin: 0 auto 15px auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.full-width-container.error-container .error-form-container .descr {
  font-size: 14px;
  line-height: 20px;
}
.full-width-container.error-container .error-form-container .descr a {
  color: #1dd1e5;
  font-weight: 500;
}
.full-width-container.error-container .error-form-container .button-container {
  max-width: 265px;
  margin: 20px auto 0 auto;
}
.full-width-container.error-container .error-form-container .button-container a {
  width: 100%;
}

.flying-astronaut {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: fly;
          animation-name: fly;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes fly {
  0% {
    transform: translateY(0) rotate(-15deg);
    left: 26%;
  }
  25% {
    transform: translateY(-15px) rotate(-18deg);
  }
  50% {
    left: 34%;
    transform: translateY(0) rotate(-20deg);
  }
  75% {
    transform: translateY(-15px) rotate(-18deg);
  }
  100% {
    transform: translateY(0) rotate(-15deg);
    left: 26%;
  }
}

@keyframes fly {
  0% {
    transform: translateY(0) rotate(-15deg);
    left: 26%;
  }
  25% {
    transform: translateY(-15px) rotate(-18deg);
  }
  50% {
    left: 34%;
    transform: translateY(0) rotate(-20deg);
  }
  75% {
    transform: translateY(-15px) rotate(-18deg);
  }
  100% {
    transform: translateY(0) rotate(-15deg);
    left: 26%;
  }
}
@media (min-width: 675px) {
  .full-width-container.error-container .container-title.main-title {
    font-size: 100px;
    margin: 0;
  }
  .full-width-container.error-container .button-container a {
    line-height: 60px;
    font-size: 16px;
  }
}
@media (min-width: 675px) {
  .full-width-container.error-container .container-title.main-title {
    font-size: 100px;
    margin: 0;
  }
  .full-width-container.error-container .error-form-container .top-text {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 20px;
    max-width: unset;
  }
  .full-width-container.error-container .error-form-container .descr {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width: 1023px) {
  .full-width-container.error-container {
    padding-top: 165px;
    padding-bottom: 150px;
  }
  .full-width-container.error-container .container-title.main-title {
    font-size: 160px;
  }
  .full-width-container.error-container .error-form-container {
    padding-top: 388px;
  }
  .full-width-container.error-container .error-form-container img {
    width: 450px;
    top: -80px;
  }
}/*# sourceMappingURL=error-page.css.map */