/*Colors*/
/*Fonts*/
/*breakpoints OLD*/
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* For Projectors or Higher Resolution Screens (Full HD) */
/* NEW BREAKPOINTS */
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansBook.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansBookItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansSemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansHeavytalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "UniSans", sans-serif;
  background-color: #13161d;
  overflow-x: hidden;
  min-width: 300px;
}

a,
button {
  cursor: pointer;
  font-family: "UniSans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  h2 {
    font-size: 42px;
    margin-bottom: 50px;
  }
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  h3 {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

h4 {
  font-size: 12px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  h4 {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 2em;
          margin-block-end: 2em;
}

.txt-uppercase {
  text-transform: uppercase !important;
}

.txt-left {
  text-align: left !important;
}

.txt-center {
  text-align: center !important;
}

.txt-right {
  text-align: right !important;
}

@media (min-width: 992px) {
  .dv-txt-left {
    text-align: left !important;
  }

  .dv-txt-center {
    text-align: center !important;
  }

  .dv-txt-right {
    text-align: right !important;
  }
}
.m-auto {
  margin: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 10px !important;
}
.mb-2 {
  margin-bottom: 20px !important;
}
.mb-3 {
  margin-bottom: 30px !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 10px !important;
}
.mt-2 {
  margin-top: 20px !important;
}
.mt-11 {
  margin-top: 110px !important;
}

.p-1 {
  padding: 10px !important;
}

.pb-2 {
  padding-bottom: 20px !important;
}

.bg-castle {
  background-image: url(/assets/img/product-bg-top-min.jpg);
  background-size: 200%;
  left: 0;
  background-repeat: no-repeat;
  background-position: left top;
}
@media (min-width: 992px) {
  .bg-castle {
    background-size: 130%;
    background-position: center top;
  }
}
.bg-filter::before {
  content: "";
  background: rgba(19, 22, 29, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
}

.card {
  padding: 30px 20px;
  border-radius: 10px;
}
@media (min-width: 1200px) {
  .card {
    padding: 30px 25px;
  }
}
@media (min-width: 1600px) {
  .card {
    padding: 40px 25px;
  }
}
@media (min-width: 1920px) {
  .card {
    padding: 45px 25px;
  }
}
.card.dark {
  background-color: #0f1218;
  box-shadow: 0 0 30px -1px rgba(16, 169, 191, 0.07);
}
.card.space-bg {
  background-image: url(/assets/img/product1-right-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top, right;
}

.view-mobile {
  display: block !important;
}
@media (min-width: 992px) {
  .view-mobile {
    display: none !important;
  }
}
.view-desktop {
  display: none !important;
}
@media (min-width: 992px) {
  .view-desktop {
    display: block !important;
  }
}

.d-flex {
  display: flex;
}
.d-flex.flex-1 {
  flex: 1;
}
.d-flex.fd-col {
  flex-direction: column;
}
.d-flex.fd-row {
  flex-direction: row;
}
.d-flex.ai-center {
  align-items: center;
}
.d-flex.ai-end {
  align-items: flex-end;
}
.d-flex.jc-center {
  justify-content: center;
}
.d-flex.jc-between {
  justify-content: space-between;
}
.d-flex.jc-end {
  justify-content: flex-end;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}

main.main-content {
  overflow: hidden;
  position: relative;
}
main.main-content > div:first-child {
  padding-top: 50px;
}
@media (min-width: 992px) {
  main.main-content > div:first-child {
    padding-top: 120px;
  }
}
main.main-content > div:last-child {
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  main.main-content > div:last-child {
    padding-bottom: 120px;
  }
}

.full-width-container {
  z-index: 0;
  padding: 0 16px;
  box-shadow: inset 0px 100px 100px 0px #14161d, inset 0px -100px 100px 0px #14161d;
}
.full-width-container .inner-content-container {
  max-width: 1140px;
  margin: 0 auto;
}
.full-width-container .inner-content-container.w-lg {
  max-width: 1140px;
}
.full-width-container .inner-content-container.w-md {
  max-width: 1005px;
}
@media (min-width: 1920px) {
  .full-width-container .inner-content-container.w-md {
    max-width: 1140px;
  }
}
.full-width-container .inner-content-container.w-sm {
  max-width: 975px;
}
@media (min-width: 1920px) {
  .full-width-container .inner-content-container.w-sm {
    max-width: 1005px;
  }
}

.product-page .full-width-container {
  margin-top: 115px;
  box-shadow: none;
}
.product-page .full-width-container:first-child {
  margin-top: 0;
}
@media (min-width: 992px) {
  .product-page .full-width-container {
    margin-top: 200px;
  }
}

.header-container {
  z-index: 1000;
  position: relative;
}

.container-title {
  text-align: center;
}
.container-title.product-title {
  font-size: 22px;
  text-transform: uppercase;
}
@media (min-width: 1600px) {
  .container-title.product-title {
    font-size: 26px;
  }
}
.container-title.secondary-title {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 900;
  line-height: 1.2;
}
.container-title.main-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 900;
  line-height: 1;
}

.gradient-title {
  display: inline-block;
  background-image: linear-gradient(120deg, #ef4bc5 30%, #0fa9bf 70%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.gradient-title.shadowed {
  text-shadow: 0 0px 85px rgba(239, 76, 198, 0.35);
}

.secondary-subtitle {
  font-size: 12px;
  text-transform: uppercase;
  color: #f7f7f7;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.85px;
}
@media (min-width: 992px) {
  .secondary-subtitle {
    font-size: 14px;
  }
}

.bundle-play {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
}
@media (min-width: 992px) {
  .bundle-play {
    width: 82px;
    height: 82px;
  }
}
.bundle-play .inner {
  display: flex;
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.4), 0px 0px 75px #f9ed1d;
  transition: 0.4s;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #f9ed1d;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .bundle-play .inner {
    width: 45px;
    height: 45px;
  }
}
.bundle-play .inner .playsvg {
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bundle-play .inner .playsvg svg {
  width: 9px;
  height: 9px;
}
@media (min-width: 992px) {
  .bundle-play .inner .playsvg svg {
    width: 13px;
    height: 13px;
  }
}
.bundle-play:before {
  position: absolute;
  transition: 0.3s;
  display: block;
  content: "";
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: scale(0);
  -webkit-animation: btn-play-pulse 4s linear infinite;
          animation: btn-play-pulse 4s linear infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.bundle-play:after {
  position: absolute;
  transition: 0.3s;
  display: block;
  content: "";
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: scale(0);
  -webkit-animation: btn-play-pulse 4s linear infinite;
          animation: btn-play-pulse 4s linear infinite;
}
.bundle-play:hover .inner {
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.4), 0px 0px 75px 10px #f9ed1d;
}
@-webkit-keyframes btn-play-pulse {
  0% {
    transform: scale(0);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.8);
  }
}
@keyframes btn-play-pulse {
  0% {
    transform: scale(0);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.8);
  }
}

#up {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
  background: transparent;
  color: #23e7fb;
  border: 2px solid #23e7fb;
  box-shadow: 0px 0px 50px rgba(36, 230, 250, 0.1);
  font-weight: normal;
  width: 50px;
  height: 50px;
  line-height: 36px;
  text-align: center;
  border-radius: 28px;
  position: fixed;
  bottom: -60px;
  right: 20px;
  z-index: 10;
  text-decoration: none;
  transform: rotate(270deg);
}
#up i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transform: rotate(270deg);
}
#up i svg {
  width: 30px;
  height: 30px;
  stroke: #23e7fb;
}
#up.on {
  bottom: 50px;
  transition: 0.7s;
}

.btn-purp-grad {
  max-height: 50px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  box-shadow: 0 0px 30px 5px rgba(239, 76, 198, 0.2);
  background: linear-gradient(to right, #e143a7, #cf009b);
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 30px;
  border: 0;
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 500;
}
.btn-purp-grad:hover {
  box-shadow: inset 270px 0px 10px rgba(225, 66, 166, 0.5), 0px 0px 20px rgba(225, 66, 166, 0.5);
}

.btn-blue-grad {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  box-shadow: 0 0px 8px -2px #23e7fb;
  background: linear-gradient(to right, #1ed6e9, #15b8cd);
  line-height: 50px;
  text-align: center;
  display: inline-block;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 30px;
  border: 0;
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 500;
}
.btn-blue-grad:hover {
  box-shadow: inset 270px 0px 10px rgba(36, 230, 250, 0.5), 0px 0px 20px rgba(36, 230, 250, 0.5);
}

.btn-blue-border {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  background-color: transparent;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 30px;
  border: 2px solid #23e7fb;
  color: #23e7fb;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0 0px 20px 0px rgba(35, 231, 251, 0.2), inset 0 0px 10px 5px rgba(35, 231, 251, 0.1);
}
.btn-blue-border:hover {
  background-color: #23e7fb;
  color: #f7f7f7;
}

.btn-purp-border {
  max-height: 50px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  background-color: transparent;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 30px;
  border: 2px solid #ef4cc6;
  color: #ef4cc6;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0 0px 20px 0px rgba(239, 76, 198, 0.2), inset 0 0px 10px 5px rgba(239, 76, 198, 0.1);
}
.btn-purp-border:hover {
  background-color: #ef4cc6;
  color: #f7f7f7;
}

.timer-counter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 8px;
  position: relative;
  justify-items: center;
}
.timer-counter .timer-counter-item {
  border: 2px solid #f9ed1d;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  color: #f9ed1d;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .timer-counter .timer-counter-item {
    width: 45px;
    height: 45px;
  }
}
.timer-counter .timer-counter-item .count-number {
  font-size: 13px;
  line-height: 1;
  display: block;
  font-weight: 500;
  margin-top: 2px;
}
@media (min-width: 992px) {
  .timer-counter .timer-counter-item .count-number {
    font-size: 16px;
  }
}
.timer-counter .timer-counter-item .count-text {
  font-size: 9px;
  font-weight: 300;
  line-height: 1;
  margin-top: -2px;
}
@media (min-width: 992px) {
  .timer-counter .timer-counter-item .count-text {
    font-size: 11px;
  }
}
.timer-counter .timer-counter-item:before {
  content: "";
  position: absolute;
  box-shadow: 0 0 30px 16px rgba(249, 237, 29, 0.25);
  border-radius: 50%;
  width: 1px;
  height: 1px;
  display: block;
}

#popup-video-wrapper {
  top: 0px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #13161dc4;
  z-index: 12345;
  align-items: center;
  justify-content: center;
  display: none;
}
#popup-video-wrapper.act {
  display: flex;
}
#popup-video-wrapper #popup-video {
  width: calc(100% - 30px);
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 45px -25px #fff;
  max-width: 900px;
  border-radius: 10px;
  max-height: 600px;
  background-color: #13161d;
}
#popup-video-wrapper #popup-video #popup-video-close {
  position: absolute;
  right: -15px;
  top: -15px;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#popup-video-wrapper #popup-video #popup-video-close i {
  display: flex;
}
#popup-video-wrapper #popup-video #popup-video-close i svg {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: #13161d;
  stroke-width: 4;
}
#popup-video-wrapper #popup-video iframe {
  height: 200px;
}

@media (min-width: 992px) {
  .text-and-video,
.text-and-background {
    display: flex;
    justify-content: space-between;
  }
}
.text-and-video .text,
.text-and-background .text {
  font-size: 14px;
  color: #fefefe;
  line-height: 1.85;
  text-align: justify;
  letter-spacing: 0.85px;
}
@media (min-width: 992px) {
  .text-and-video .text,
.text-and-background .text {
    max-width: 460px;
    font-size: 16px;
  }
}

.text-and-video .video {
  margin-top: 40px;
}
@media (min-width: 992px) {
  .text-and-video .video {
    margin-top: 0px;
  }
}
.text-and-video .video .content {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 555px;
  height: 180px;
  border-radius: 10px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: 0 0 50px 0px rgba(15, 169, 191, 0.15);
  margin: auto;
}
@media (min-width: 600px) {
  .text-and-video .video .content {
    height: 260px;
  }
}
@media (min-width: 992px) {
  .text-and-video .video .content {
    height: 310px;
    width: 555px;
  }
}
.text-and-video .video .content .bundle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.text-and-background .backround-area {
  min-height: 260px;
}
.text-and-background .backround-area .backround {
  background-size: 165%;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(100% + 100px);
  min-height: 1000px;
  position: absolute;
  right: 0;
  top: auto;
  z-index: -1;
  transform: translateY(-400px);
}
@media (min-width: 992px) {
  .text-and-background .backround-area .backround {
    background-size: 100%;
    z-index: -1;
    transform: translateY(-400px) translateX(100px);
  }
}

.backround-transition {
  box-shadow: inset 0px 100px 100px 0px rgba(20, 22, 29, 0.1), inset 0px -100px 100px 0px rgba(20, 22, 29, 0.1);
}
@media (min-width: 600px) {
  .backround-transition {
    box-shadow: inset 0px 100px 100px 0px #14161d, inset 0px -100px 100px 0px #14161d;
  }
}
@media (min-width: 992px) {
  .backround-transition {
    box-shadow: inset 0px 100px 100px 0px #14161d, inset 0px -100px 100px 0px #14161d;
  }
}

.info-link {
  color: #23e7fb;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: initial;
}
@media (min-width: 992px) {
  .info-link {
    font-size: 16px;
  }
}
.info-link .quest-symb {
  vertical-align: top;
  margin: 0 5px 0 5px;
}
.info-link .quest-symb svg {
  height: 15px;
  width: 15px;
  margin-top: 3px;
}

.list-of-sounds {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.list-of-sounds ::-webkit-scrollbar {
  width: 6px;
}
@media (min-width: 600px) {
  .list-of-sounds ::-webkit-scrollbar {
    width: 10px;
  }
}
.list-of-sounds ::-webkit-scrollbar-track {
  background: #272d3b;
  border-radius: 100px;
}
.list-of-sounds ::-webkit-scrollbar-thumb {
  background: #15a9bf;
  border-radius: 100px;
  box-shadow: inset 0 0 0px 1px #272d3b;
}
@media (min-width: 600px) {
  .list-of-sounds ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0px 2px #272d3b;
  }
}
.list-of-sounds ::-webkit-scrollbar-thumb:hover {
  background: #027f92;
}
.list-of-sounds .categories {
  background: #101218;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  .list-of-sounds .categories {
    padding: 10px;
  }
}
.list-of-sounds .categories .select-custom {
  position: relative;
  width: 100%;
}
.list-of-sounds .categories .select-custom select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: #101218;
  border: navajowhite;
  width: 100%;
  padding: 10px 15px;
  color: #23e7fb;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.85px;
  font-size: 12px;
}
.list-of-sounds .categories .select-custom .arrow {
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-of-sounds .categories .select-custom .arrow svg {
  flex: 0 0 15px;
}
.list-of-sounds .categories ul.body {
  color: #f7f7f7;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.85px;
  flex: 1;
  margin: 0 140px;
  gap: 50px;
  overflow: hidden;
  white-space: nowrap;
}
.list-of-sounds .categories ul.body li {
  cursor: pointer;
}
.list-of-sounds .categories ul.body li:hover {
  color: #23e7fb;
}
.list-of-sounds .categories ul.body li.active {
  color: #23e7fb;
}
.list-of-sounds .categories .btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-of-sounds .categories .btn.back {
  transform: rotate(90deg);
}
.list-of-sounds .categories .btn.next {
  transform: rotate(-90deg);
}
.list-of-sounds .categories .btn.disabled {
  opacity: 0.2;
  cursor: default;
}
.list-of-sounds .list {
  background: #101218;
  padding: 10px 8px 0px 8px;
  max-height: 365px;
  overflow-y: scroll;
}
.list-of-sounds .list .category.hidden {
  display: none;
}
@media (min-width: 992px) {
  .list-of-sounds .player {
    gap: 50px;
    padding: 8px 20px;
  }
}

.player {
  background: #13161d;
  padding: 8px;
  display: flex;
  gap: 10px;
}
.player.error {
  color: #525f83;
  letter-spacing: 0.85px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 54px;
}
.player .btn-play button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.2);
}
.player .btn-play button .inner {
  display: flex;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.4), 0px 0px 35px 0px rgba(249, 237, 29, 0.5);
  transition: 0.4s;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #f9ed1d;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.player .btn-play button .inner i.playsvg,
.player .btn-play button .inner i.pausesvg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player .btn-play button .inner i.playsvg svg {
  width: 9px;
  height: 9px;
}
@media (min-width: 992px) {
  .player .btn-play button .inner i.playsvg svg {
    margin-left: 2px;
    width: 12px;
    height: 12px;
  }
}
.player .btn-play button .inner i.pausesvg svg {
  width: 12px;
  height: 12px;
}
@media (min-width: 992px) {
  .player .btn-play button .inner i.pausesvg svg {
    width: 16px;
    height: 16px;
  }
}
.player .btn-play button:hover .inner {
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.4), 0px 0px 45px 6px rgba(249, 237, 29, 0.5);
}
.player .btn-play button.paused i.playsvg {
  display: flex;
}
.player .btn-play button.paused i.pausesvg {
  display: none;
}
.player .btn-play button.played i.playsvg {
  display: none;
}
.player .btn-play button.played i.pausesvg {
  display: flex;
}
.player .equalizer {
  max-width: 300px;
  background: url(/assets/img/equalizer.png);
  background-position: left;
  background-repeat: repeat no-repeat;
}
.player .equalizer .progressbar {
  background: url(/assets/img/equalizer-progress.png);
  background-position: left;
  background-repeat: repeat no-repeat;
  width: 0%;
  height: 100%;
  filter: hue-rotate(200deg);
}
.player .name {
  color: #f7f7f7;
  font-size: 12px;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .player .name {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
}
.player .name .artist {
  text-decoration: underline;
  white-space: nowrap;
}
.player .name .title {
  display: flex;
}
.player .name .title span {
  white-space: nowrap;
}
.player .name .title.runline span {
  -webkit-animation: right-left 10s linear;
          animation: right-left 10s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes right-left {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(-100%, 0);
    opacity: 1;
  }
  81% {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  82% {
    transform: translate(0, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes right-left {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(-100%, 0);
    opacity: 1;
  }
  81% {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  82% {
    transform: translate(0, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}
.player .time {
  color: #f7f7f7;
  font-size: 14px;
  font-weight: 500;
  min-width: 38px;
  margin-left: auto;
}
.player .btn-buy {
  cursor: pointer;
  height: 38px;
  width: 38px;
  position: relative;
}
.player .btn-buy:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  box-shadow: 0 0 25px 10px rgba(239, 75, 197, 0.5);
  transition: 0.6s;
  top: 50%;
  right: 50%;
}
.player .btn-buy .icon {
  width: 22px;
  height: 22px;
}
.player .btn-buy .icon path {
  fill: #e143a7;
  transition: 0.3s;
}
.player .btn-buy:hover .icon path {
  fill: #ef4cc6;
}
.player .btn-buy:hover:before {
  box-shadow: 0 0 30px 10px #ef4bc5;
}

.bg-blue-wave {
  background: url(/assets/img/bg-blue-wave.png);
  background-position: center;
  background-size: cover;
}

@media (min-width: 600px) {
  .container-title.secondary-title {
    font-size: 46px;
    margin-bottom: 26px;
  }
  .container-title.main-title {
    font-size: 52px;
    margin-bottom: 26px;
  }

  #popup-video-wrapper #popup-video iframe {
    height: 500px;
  }
}
.sn-player-style.invert-colors {
  filter: invert(100%) sepia(20%) hue-rotate(368deg) brightness(92%) contrast(95%);
}
.sn-player-style.invert-colors.blue-btn {
  filter: invert(98%) sepia(6%) hue-rotate(157deg) brightness(100%) contrast(94%);
}

@media (min-width: 992px) {
  .container-title.secondary-title {
    font-size: 60px;
    letter-spacing: 4px;
    text-indent: 4px;
  }
  .container-title.main-title {
    font-size: 60px;
    margin-bottom: 12px;
    letter-spacing: 4px;
    text-indent: 4px;
  }
}
#popup-tooltip-wrapper {
  top: 0px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 17, 48, 0.74);
  z-index: 12345;
  align-items: center;
  justify-content: center;
  display: none;
}
#popup-tooltip-wrapper.act {
  display: flex;
}
#popup-tooltip-wrapper #popup-tooltip {
  width: calc(100% - 10px);
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.85);
  max-width: 900px;
  border-radius: 10px;
  background-color: #13161d;
  padding: 30px;
  overflow-y: auto;
  height: calc(100% - 50px);
  border: 5px solid #000;
}
@media (min-width: 992px) {
  #popup-tooltip-wrapper #popup-tooltip {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 600px;
  }
}
#popup-tooltip-wrapper #popup-tooltip #popup-tooltip-close {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#popup-tooltip-wrapper #popup-tooltip #popup-tooltip-close i {
  display: flex;
}
#popup-tooltip-wrapper #popup-tooltip #popup-tooltip-close i svg {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: #13161d;
  stroke-width: 4;
}
#popup-tooltip-wrapper #popup-tooltip #popup-tooltip-head-text {
  background-image: linear-gradient(120deg, #ef4bc5 30%, #0fa9bf 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: left;
  display: block;
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 30px;
}
#popup-tooltip-wrapper #popup-tooltip #popup-tooltip-content {
  display: grid;
  grid-gap: 24px;
}
/*# sourceMappingURL=styles.css.map */