/*Colors*/
/*Fonts*/
/*breakpoints*/
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansBook.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansBookItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansSemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "UniSans";
  src: url("/assets/fonts/unisans/UniSansHeavytalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "UniSans", sans-serif;
  background-color: #13161D;
}

a, button {
  cursor: pointer;
  font-family: "UniSans", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.full-width-container {
  padding: 0 16px;
}

.container-title {
  text-align: center;
}
.container-title.secondary-title {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 900;
  line-height: 1.2;
}
.container-title.main-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 900;
  line-height: 1;
}
.container-title .gradient-title {
  background-image: linear-gradient(90deg, #ef4cc6 30%, #10a9bf 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.secondary-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  color: #f7f7f7;
  text-align: center;
  max-width: 265px;
  margin: auto;
  font-weight: 500;
  line-height: 1.2;
}

.bundle-play {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
}
.bundle-play .inner {
  display: flex;
  box-shadow: 0px 0px 100px #F9ED1D;
  transition: 0.3s;
  width: 20px;
  height: 20px;
  border-radius: 23px;
  background: #F9ED1D;
  align-items: center;
  justify-content: center;
}
.bundle-play .inner .playsvg {
  width: 7px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bundle-play .inner .playsvg svg {
  width: 7px;
  height: 7px;
}
.bundle-play:before {
  position: absolute;
  transition: 0.3s;
  display: block;
  content: "";
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.bundle-play:after {
  position: absolute;
  transition: 0.3s;
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.bundle-play:hover:before, .bundle-play:hover:after {
  transform: scale(1.2);
}
.bundle-play:hover .inner {
  box-shadow: 0px 0px 50px 3px #F9ED1D;
}

#up {
  display: block;
  transition: 0.1s;
  font-size: 50px;
  background: transparent;
  color: #1dd1e5;
  border: 2px solid #1dd1e5;
  box-shadow: 0px 0px 50px rgba(36, 230, 250, 0.1);
  font-weight: normal;
  width: 50px;
  height: 50px;
  line-height: 36px;
  text-align: center;
  border-radius: 28px;
  position: fixed;
  bottom: -60px;
  right: 20px;
  z-index: 10;
  text-decoration: none;
  transform: rotate(270deg);
}
#up i {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
  transform: rotate(270deg) translateY(-5px);
}
#up i svg {
  width: 30px;
  height: 30px;
  stroke: #1dd1e5;
}
#up.on {
  bottom: 50px;
  transition: 0.7s;
}

.btn-purp-grad {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  box-shadow: 0 0px 8px -2px #ef4cc6;
  background: linear-gradient(to right, #e143a7, #d0009c);
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 30px;
  border: 0;
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 500;
}
.btn-purp-grad:hover {
  box-shadow: inset 270px 0px 10px rgba(225, 66, 166, 0.5), 0px 0px 20px rgba(225, 66, 166, 0.5);
}

.btn-blue-grad {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  box-shadow: 0 0px 8px -2px #1dd1e5;
  background: linear-gradient(to right, #1ed6e9, #15b8cd);
  line-height: 50px;
  text-align: center;
  display: inline-block;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 30px;
  border: 0;
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 500;
}
.btn-blue-grad:hover {
  box-shadow: inset 270px 0px 10px rgba(36, 230, 250, 0.5), 0px 0px 20px rgba(36, 230, 250, 0.5);
}

.btn-blue-border {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  background-color: transparent;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 30px;
  border: 2px solid #1dd1e5;
  color: #1dd1e5;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0 0px 8px -2px #1dd1e5;
}
.btn-blue-border:hover {
  background-color: #1dd1e5;
  color: #f7f7f7;
}

.timer-counter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 190px;
  margin: auto;
  text-align: center;
  grid-gap: 8px;
  position: relative;
  justify-items: center;
}
.timer-counter .timer-counter-item {
  border: 2px solid #F9ED1D;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  color: #F9ED1D;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.timer-counter .timer-counter-item .count-number {
  font-size: 13px;
  line-height: 1;
  display: block;
  font-weight: 500;
}
.timer-counter .timer-counter-item .count-text {
  font-size: 10px;
  font-weight: 300;
}
.timer-counter:before {
  content: "";
  position: absolute;
  box-shadow: 0 30px 150px 25px #F9ED1D;
  width: 1px;
  height: 1px;
  display: block;
}

#popup-video-wrapper {
  top: 0px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #13161dc4;
  z-index: 12345;
  align-items: center;
  justify-content: center;
  display: none;
}
#popup-video-wrapper.act {
  display: flex;
}
#popup-video-wrapper #popup-video {
  width: calc(100% - 30px);
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 45px -25px #fff;
  max-width: 900px;
  border-radius: 10px;
  max-height: 600px;
  background-color: #13161D;
}
#popup-video-wrapper #popup-video #popup-video-close {
  position: absolute;
  right: -15px;
  top: -15px;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#popup-video-wrapper #popup-video #popup-video-close i {
  display: flex;
}
#popup-video-wrapper #popup-video #popup-video-close i svg {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: #13161D;
  stroke-width: 4;
}
#popup-video-wrapper #popup-video iframe {
  height: 200px;
}

@media (min-width: 675px) {
  .container-title.secondary-title {
    font-size: 46px;
    margin-bottom: 26px;
  }
  .container-title.main-title {
    font-size: 52px;
    margin-bottom: 26px;
  }

  .timer-counter {
    max-width: 245px;
    grid-gap: 10px;
  }
  .timer-counter .timer-counter-item {
    width: 50px;
    height: 50px;
  }
  .timer-counter .timer-counter-item .count-number {
    font-size: 18px;
  }
  .timer-counter .timer-counter-item .count-text {
    font-size: 12px;
  }

  #popup-video-wrapper #popup-video iframe {
    height: 500px;
  }
}
@media (min-width: 1023px) {
  .container-title.secondary-title {
    font-size: 60px;
    letter-spacing: 4px;
    text-indent: 8px;
  }
  .container-title.main-title {
    font-size: 72px;
    margin-bottom: 32px;
    letter-spacing: 4px;
    text-indent: 8px;
  }

  .bundle-play {
    width: 65px;
    height: 65px;
  }
  .bundle-play .inner {
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.4), 0px 0px 100px #F9ED1D;
    width: 36px;
    height: 36px;
  }
  .bundle-play .inner .playsvg {
    width: 13px;
    height: 13px;
  }
  .bundle-play .inner .playsvg svg {
    width: 13px;
    height: 13px;
  }
  .bundle-play:before {
    width: 125px;
    height: 125px;
  }
  .bundle-play:after {
    content: "";
    width: 180px;
    height: 180px;
  }
  .bundle-play:hover .inner {
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.4), 0px 0px 75px 5px #F9ED1D;
  }
}/*# sourceMappingURL=styles.css.map */