@import "../variables/variables.scss";

.full-width-container {
    &.account-container {
        padding-top: 69px;
        padding-bottom: 62px;
        background-image: url(/assets/img/cart-back.jpg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
        .container-title {
            &.main-title {
                margin-bottom: 20px;
            }
        }
        .dashboard-container {
            .top-tabs-block {
                background-color: rgba(16,18,24,.8);
                border-radius: 8px;
                box-shadow: 0px 0px 20px -5px rgb(36, 230, 250, .1);
                padding: 10px;
                .desktop {
                    display: none;
                }
                .mobile {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .dropdown {
                        flex: 1;
                        margin-right: 12px;
                        position: relative;
                        max-width: 250px;
                        .choosen-value {
                            display: flex;
                            align-items: center;
                            padding: 0 15px;
                            line-height: 40px;
                            color: white;
                            font-weight: 500;
                            background-color: $lightbluecolor;
                            border-radius: 5px;
                            cursor: pointer;
                            background-image: url(/assets/img/icons/chevron-down-solid.svg);
                            background-repeat: no-repeat;
                            background-size: 10px;
                            background-position: 92% 15px;
                            svg {
                                margin-right: 6px;
                            }
                        }
                         ul {
                            list-style: none;
                            margin: 0;
                            padding: 10px 0;
                            display: none;position: absolute;
                            background-color: rgba(16,18,24,.95);
                            border-radius: 0 0 8px 8px;
                            box-shadow: 0px 0px 20px -5px rgb(36, 230, 250, .1);
                            left: 0;
                            right: 0;
                            li {
                                a {
                                    display: flex;
                                    align-items: center;
                                    padding: 0 15px;
                                    line-height: 40px;
                                    color: white;
                                    font-weight: 500;
                                    text-decoration: none;
                                    svg {
                                        margin-right: 6px;
                                    }
                                }
                            }
                        }
                    }
                    .logout {
                        border: none;
                        border-radius: 5px;
                        padding: 0 20px;
                        line-height: 40px;
                        display: flex;
                        align-items: center;
                        background-color: #1B1F29;
                        color: white;
                        font-weight: 500;
                        font-size: 14px;
                        svg {
                            margin-right: 6px;
                        }
                    }
                }
            }
            .dashboard-grid {
                margin-top: 12px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 12px;
                .dashboard-item {
                    background-color: rgba(16,18,24,.8);
                    border-radius: 8px;
                    box-shadow: 0px 0px 20px -5px rgb(36, 230, 250, .1);
                    display: flex;
                    align-items: center;
                    text-align: center;
                    flex-flow: column;
                    justify-content: center;
                    padding: 16px;
                    color: white;
                    text-decoration: none;
                    font-weight: 500;
                    svg {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}
@media (min-width: $bp-tablet) {
    .full-width-container {
        &.account-container {
            .dashboard-container {
                .dashboard-grid {
                    grid-gap: 30px;
                    margin-top: 30px;
                    .dashboard-item {
                        height: 118px;
                        svg {
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $bp-laptop) {
    .full-width-container {
        &.account-container {
            padding: 165px 16px 120px 16px;
            .container-title {
                &.main-title {
                    margin-bottom: 35px;
                }
            }
            .dashboard-container {
                .top-tabs-block {
                    padding: 10px 25px 10px 13px;
                    .mobile {
                        display: none;
                    }
                    .desktop {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            display: flex;
                            align-items: center;
                            flex: 1;
                            li {
                                line-height: 36px;
                                padding: 0 12px;
                                border-right: 1px solid #404146;
                                flex: 1;
                                a {
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: white;
                                    text-decoration: none;
                                    line-height: 36px;
                                    display: flex;
                                    align-items: center;
                                    flex: 1;
                                    justify-content: center;
                                    white-space: nowrap;
                                    padding: 0 4px;
                                    svg {
                                        margin-right: 6px;
                                    }
                                    &.current {
                                        background: $bluebuttongrad;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }
                        .logout {
                            background: transparent;
                            border: none;
                            display: flex;
                            align-items: center;
                            padding: 0 15px;
                            margin-left: 12px;
                            color: white;
                            font-weight: 500;
                            svg {
                                margin-right: 6px;
                            }
                        }
                    }
                }
                .dashboard-grid {
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 30px;
                    margin-top: 30px;
                }
            }
        }
    }
}