/*Colors*/
/*Fonts*/
/*breakpoints OLD*/
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.full-width-container .main-subtitle {
  margin: 0 0 20px 0;
  font-size: 12px;
  font-weight: 500;
  color: #f7f7f7;
  text-align: center;
  line-height: 20px;
}
.full-width-container .main-subtitle span {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
}
.full-width-container .main-subtitle.desktop {
  display: none;
}
.full-width-container.contact-us-container {
  padding-top: 69px;
  padding-bottom: 104px;
  background-image: url("/assets/img/contact-mobile-back-min.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.full-width-container.contact-us-container .main-subtitle {
  font-size: 16px;
  line-height: 30px;
  color: white;
  font-weight: 500;
  margin-bottom: 30px;
}
.full-width-container.contact-us-container .main-subtitle a {
  color: #23e7fb;
}
.full-width-container.contact-us-container .main-subtitle span {
  font-size: 12px;
  text-transform: unset;
  display: block;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-info {
  display: grid;
  grid-gap: 30px;
  padding: 45px 30px;
  background-color: rgba(16, 18, 24, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(36, 230, 250, 0.1);
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-info .title {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-info .info-item {
  display: flex;
  align-items: baseline;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-info .info-item .info-image {
  flex: 0 0 35px;
  margin-right: 15px;
  position: relative;
  top: 2px;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-info .info-item .info-image.clock {
  top: 8px;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-info .info-item .info-content {
  color: white;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-info .info-item .info-content .info-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 14px;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-info .info-item .info-content .info-descr {
  font-size: 18px;
  font-weight: 300;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-info .info-item .info-content .info-descr a {
  color: white;
  text-decoration: none;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-form {
  text-align: center;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-form .title {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0 30px 0;
  background-image: linear-gradient(130deg, #ef4bc5 40%, #0fa9bf 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  display: inline-block;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row .add-review-label {
  font-size: 16px;
  color: #fff;
  width: 100px;
  text-align: left;
  display: none;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row input {
  line-height: 45px;
  background: #101218;
  outline: 0;
  box-shadow: 0px 0px 10px rgba(36, 230, 250, 0.1);
  border: 0;
  border-radius: 5px;
  width: calc(100% - 20px);
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  font-family: "UniSans", sans-serif;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row input::placeholder {
  color: #434e67;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row textarea {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 14px;
  min-height: 90px;
  color: #fff;
  resize: none;
  background: #101218;
  outline: 0;
  box-shadow: 0px 0px 10px rgba(36, 230, 250, 0.1);
  border: 0;
  font-family: "UniSans", sans-serif;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row textarea::placeholder {
  color: #434e67;
}
.full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row .btn-purp-grad {
  max-width: 270px;
  width: 100%;
  margin: 10px auto 0 auto;
  font-size: 16px;
  line-height: 60px;
}

@media (min-width: 600px) {
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row {
    align-items: flex-start;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row .add-review-label {
    display: block;
    font-weight: 500;
    max-width: 95px;
    width: 100%;
    padding-top: 10px;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row .add-review-label sup {
    color: #ef4cc6;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row input::placeholder,
.full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row textarea::placeholder {
    color: transparent;
  }
}
@media (min-width: 768px) {
  .full-width-container.contact-us-container {
    padding: 160px 16px 203px 16px;
  }
  .full-width-container.contact-us-container .container-title.main-title {
    margin-bottom: 28px;
  }
  .full-width-container.contact-us-container .main-subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 36px;
  }
  .full-width-container.contact-us-container .main-subtitle span {
    font-size: 20px;
  }
  .full-width-container.contact-us-container .main-subtitle br {
    display: none;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form {
    max-width: 730px;
    margin: 0 auto;
    text-align: left;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form .title {
    font-size: 36px;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form form {
    display: flex;
    flex-wrap: wrap;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row {
    flex: 0 0 100%;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row.half-row {
    flex: 0 0 50%;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row.half-row:nth-child(1) {
    flex: 0 0 calc(50% - 35px);
    margin-right: 35px;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row.half-row:nth-child(2) {
    flex: 0 0 calc(50% - 35px);
    margin-left: 35px;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form .add-review-row .btn-purp-grad {
    margin: 10px auto 0 95px;
  }
}
@media (min-width: 992px) {
  .full-width-container.contact-us-container {
    background-image: url("/assets/img/contact-back.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .full-width-container.contact-us-container .contact-us-columns {
    background-color: rgba(16, 18, 24, 0.2);
    border-radius: 8px;
    box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.1);
    display: flex;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-info {
    box-shadow: none;
    background-color: transparent;
    padding: 60px 30px;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form {
    padding: 0 30px;
    border-left: 1px solid #183039;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form form .add-review-row {
    margin-bottom: 20px;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form form .add-review-row .add-review-label {
    font-size: 18px;
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form form .add-review-row textarea {
    min-height: 150px;
    box-shadow: 0px 0px 10px -4px rgba(36, 230, 250, 0.1);
  }
  .full-width-container.contact-us-container .contact-us-columns .contact-us-form form .add-review-row input {
    box-shadow: 0px 0px 10px -4px rgba(36, 230, 250, 0.1);
  }
}

/*# sourceMappingURL=contact-us.css.map */
