@import "../variables/variables.scss";

body {
    background-image: url(/assets/img/home-page-main-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.full-width-container {
    &.home-categories-container {
        padding-top: 42px;
        padding-bottom: 85px;
        .home-categories-links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 6px 8px;
            .sound-wave-bars {
                opacity: 0;
                height: 30px;
                left: 0;
                bottom: 0;
                position: absolute;
                width: 80px;
                z-index: 25;
                transition: 1s;
                .bar {
                    background: #e143a7;
                    bottom: 0;
                    height: 3px;
                    position: absolute;
                    width: 3px;
                    animation: sound 0ms -800ms linear infinite alternate;
                }
                @keyframes sound {
                    0% {
                        opacity: 0.35;
                        height: 3px;
                    }
                    100% {
                        opacity: 1;
                        height: 28px;
                    }
                }
                @keyframes sound2 {
                    0% {
                        opacity: 0.35;
                        height: 3px;
                    }
                    100% {
                        opacity: 1;
                        height: 20px;
                    }
                }
                @keyframes sound3 {
                    0% {
                        opacity: 0.35;
                        height: 3px;
                    }
                    100% {
                        opacity: 1;
                        height: 10px;
                    }
                }

                .bar:nth-child(1) {
                    left: 1px;
                    animation-duration: 474ms;
                }
                .bar:nth-child(2) {
                    left: 5px;
                    animation-duration: 433ms;
                }
                .bar:nth-child(3) {
                    left: 9px;
                    animation-duration: 407ms;
                }
                .bar:nth-child(4) {
                    left: 13px;
                    animation-duration: 458ms;
                }
                .bar:nth-child(5) {
                    left: 17px;
                    animation-duration: 400ms;
                }
                .bar:nth-child(6) {
                    left: 21px;
                    animation-duration: 427ms;
                }
                .bar:nth-child(7) {
                    left: 25px;
                    animation-duration: 441ms;
                }
                .bar:nth-child(8) {
                    left: 29px;
                    animation-duration: 419ms;
                }
                .bar:nth-child(9) {
                    left: 33px;
                    animation-duration: 487ms;
                }
                .bar:nth-child(10) {
                    animation: sound2 0ms -800ms linear infinite alternate;
                    left: 37px;
                    animation-duration: 442ms;
                }
                .bar:nth-child(11) {
                    animation: sound2 0ms -800ms linear infinite alternate;
                    left: 41px;
                    animation-duration: 474ms;
                }
                .bar:nth-child(12) {
                    animation: sound2 0ms -800ms linear infinite alternate;
                    left: 45px;
                    animation-duration: 433ms;
                }
                .bar:nth-child(13) {
                    animation: sound2 0ms -800ms linear infinite alternate;
                    left: 49px;
                    animation-duration: 407ms;
                }
                .bar:nth-child(14) {
                    animation: sound2 0ms -800ms linear infinite alternate;
                    left: 53px;
                    animation-duration: 458ms;
                }
                .bar:nth-child(15) {
                    animation: sound2 0ms -800ms linear infinite alternate;
                    left: 57px;
                    animation-duration: 400ms;
                }
                .bar:nth-child(16) {
                    animation: sound3 0ms -800ms linear infinite alternate;
                    left: 61px;
                    animation-duration: 427ms;
                }
                .bar:nth-child(17) {
                    animation: sound3 0ms -800ms linear infinite alternate;
                    left: 65px;
                    animation-duration: 441ms;
                }
                .bar:nth-child(18) {
                    animation: sound3 0ms -800ms linear infinite alternate;
                    left: 69px;
                    animation-duration: 419ms;
                }
                .bar:nth-child(19) {
                    animation: sound3 0ms -800ms linear infinite alternate;
                    left: 73px;
                    animation-duration: 487ms;
                }
                .bar:nth-child(20) {
                    animation: sound3 0ms -800ms linear infinite alternate;
                    left: 77px;
                    animation-duration: 442ms;
                }
            }
            a {
                overflow: hidden;
                position: relative;
                text-decoration: none;
                outline: none;
                background-size: cover;
                background-position: center top;
                background-repeat: no-repeat;
                transition: 0.3s;
                height: 65px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), inset -20px -20px 45px 0px rgba(0, 0, 0, 0.3);
                .inner {
                    display: block;
                    transition: 0.2s;
                    opacity: 0.3;
                    background: $imagesoverlay;
                    width: 100%;
                    height: 100%;
                    z-index: 20;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 5px;
                }
                .txt {
                    font-size: 10px;
                    font-weight: 500;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                    display: block;
                    z-index: 30;
                    transition: 0.3s;
                    position: absolute;
                    text-align: center;
                    line-height: 14px;
                    text-shadow: 0 0px 6px rgb(0, 0, 0);
                }
                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s;
                    .inner {
                        transition: 0.2s;
                        opacity: 1;
                    }
                    .sound-wave-bars {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    &.home-first-container {
        padding-top: 64px;
        padding-bottom: 43px;

        .inner-content-container {
            position: relative;
        }
    }
    .main-subtitle {
        margin: 0 0 20px 0;
        font-size: 12px;
        font-weight: 500;
        color: $lightwhite;
        text-align: center;
        line-height: 20px;
        span {
            display: block;
            text-transform: uppercase;
            font-size: 16px;
        }
        &.desktop {
            display: none;
        }
    }
    .summer-sale-title {
        max-width: 195px;
        margin: 0 auto 12px auto;
        img {
            width: 100%;
        }
    }
    .summer-sale-subtitle {
        font-size: 10px;
        font-weight: 300;
        color: $lightwhite;
        text-align: center;
        margin: 0 0 12px 0;
    }

    .summer-sale-block-mobile {
        max-width: 650px;
        margin: 0 auto;
    }
    .main-pack-block {
        position: relative;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            position: relative;
            z-index: 1;
            height: 100%;
        }
        .bundle-shadow {
            position: absolute;
            bottom: 18%;
            width: 80%;
            height: 10px;
            box-shadow: 0px 10px 40px 5px rgba(36, 230, 250, 0.3);
        }
        .bundle-play {
            position: absolute;
            top: 15%;
            left: 37%;
            z-index: 3;
        }
        .bundle-discount {
            position: absolute;
            z-index: 3;
            top: 13%;
            right: -3%;
            box-shadow: 0px 0px 50px rgba(36, 230, 250, 0.3);
            background: $bluebuttongrad;
            width: 45px;
            height: 45px;
            line-height: 45px;
            font-size: 12px;
            color: #f7f7f7;
            border-radius: 50%;
            text-align: center;
            font-weight: 500;
        }
    }
    .main-pack-slider-container {
        background-color: $maindarkgray;
        box-shadow: 0 0 20px 10px rgba(16, 169, 191, 0.1);
        border-radius: 8px;
        margin-top: 25px;
        .main-pack-slider-heading {
            padding: 0 7px;
            color: $lightwhite;
            text-align: center;
            text-transform: uppercase;
            line-height: 24px;
            font-size: 10px;
            font-weight: 500;
            border-bottom: 1px solid #242730;
            span {
                color: $lightbluecolor;
                margin-left: 4px;
            }
        }
        .main-pack-slider {
            padding: 7px;
            .main-pack-wrapper {
                padding: 0 15px;
                img {
                    width: 100%;
                }
                .swiper-button-next,
                .swiper-container-rtl .swiper-button-prev {
                    background-image: url(/assets/img/icons/blue-arrow-right.svg);
                    right: 0;
                    left: auto;
                    width: 11px;
                    height: 11px;
                    border: none;
                    outline: none;
                    border: none;
                    outline: none;
                    margin: 0;
                    top: calc(50% - 6px);
                    background-size: 14px;
                }
                .swiper-button-prev,
                .swiper-container-rtl .swiper-button-next {
                    background-image: url(/assets/img/icons/blue-arrow-left.svg);
                    right: auto;
                    left: 0;
                    width: 11px;
                    height: 11px;
                    border: none;
                    outline: none;
                    border: none;
                    outline: none;
                    margin: 0;
                    top: calc(50% - 6px);
                    background-size: 14px;
                }
            }
            a {
                font-size: 10px;
                color: $lightbluecolor;
                text-align: center;
                display: block;
                text-decoration: none;
            }
        }
    }
    .buy-buttons-container {
        display: grid;
        grid-gap: 15px;
        margin-top: 30px;
        a {
            width: 215px;
            max-width: 215px;
            margin: auto;
            s {
                margin-left: 2px;
            }
        }
    }
    &.home-subscription-container {
        padding-top: 45px;
        padding-bottom: 55px;
        .email-reminder-block {
            max-width: 700px;
            margin: 50px auto 0 auto;
            text-align: center;
            .email-reminder-subtitle {
                margin: 0;
                color: $lightwhite;
                font-weight: 300;
                font-size: 10px;
                span {
                    font-weight: 500;
                }
            }
            .subscription-timeline {
                width: 100%;
                margin: 50px auto 60px auto;
                .line {
                    width: 100%;
                    position: relative;
                    height: 20px;
                    border-radius: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    .inner-line {
                        width: 50%;
                        height: 20px;
                        line-height: 20px;
                        border-radius: 10px;
                        position: relative;
                        &.line1 {
                            background: $bluebuttongrad;
                        }
                        &.line2 {
                            background: linear-gradient(to right, #f4f5f5, #7d8c92);
                        }
                        .line-text {
                            font-size: 12px;
                            color: $lightwhite;
                            height: 20px;
                            line-height: 20px;
                            position: absolute;
                            z-index: 2;
                            right: 37px;
                            top: 0;
                            display: flex;
                            align-items: center;
                            i {
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                margin-left: 5px;
                                // float: right;
                                svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: $lightwhite;
                                }
                            }
                        }
                    }
                    .date-label {
                        height: 28px;
                        line-height: 28px;
                        border-radius: 14px;
                        z-index: 2;
                        padding: 0 12px;
                        background: #fff;
                        color: $darkbluecolor;
                        font-size: 12px;
                        box-shadow: 0px 0px 10px rgba(36, 240, 240, 0.3);
                        position: absolute;
                        &.date1 {
                            left: 50%;
                            transform: translateX(-50%);
                            top: -4px;
                        }
                        &.date2 {
                            right: 0px;
                            top: -4px;
                        }
                    }
                    .text-label {
                        font-size: 14px;
                        z-index: 2;
                        position: absolute;
                        &.text1 {
                            color: $lightbluecolor;
                            left: 0;
                            top: -30px;
                        }
                        &.text2 {
                            color: $lightwhite;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -30px;
                        }
                    }
                }
            }
        }
    }
    .subscription-form {
        display: grid;
        justify-items: center;
        max-width: 240px;
        margin: 30px auto 0 auto;
        position: relative;
        grid-gap: 10px;
        input {
            padding: 0 30px;
            border: 0;
            line-height: 50px;
            background: #fff;
            color: $maindarkgray;
            font-size: 14px;
            border-radius: 30px;
            width: calc(100% - 60px);
            outline: none;
            box-shadow: 0 0 30px 5px rgba(239, 76, 198, 0.2);
        }
        button {
            width: 100%;
        }
    }
    .subscription-form-yellow-text {
        font-size: 12px;
        font-weight: 300;
        color: $mainyellow;
        margin: 25px auto 0 auto;
        text-align: center;
    }
    &.home-best-seller-container {
        padding-top: 95px;
        padding-bottom: 70px;
        .best-seller {
            max-width: 1140px;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 20px;
            .prd {
                position: relative;
                background-color: #101218;
                border-radius: 10px;
                box-shadow: 0px 0px 15px 2px rgba(36, 230, 250, 0.1);
                .prd-label {
                    position: absolute;
                    z-index: 2;
                    padding: 0 13px;
                    font-size: 14px;
                    display: block;
                    top: 0;
                    right: 0;
                    border-radius: 4px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 500;
                    background: #101218;
                    &.label-best {
                        color: $mainyellow;
                        border-radius: 0 10px 0 10px;
                    }
                    &.label-discount {
                        left: 0;
                        right: unset;
                        color: $lightbluecolor;
                        border-radius: 10px 0 10px 0;
                    }
                }
                a.prd-hd {
                    display: flex;
                    flex-flow: column;
                    box-shadow: inset 0px -30px 100px 30px rgb(16, 18, 24);
                    width: 100%;
                    position: relative;
                    text-decoration: none;
                    outline: none;
                    background-size: cover;
                    background-position: center top;
                    background-repeat: no-repeat;
                    border-radius: 10px 10px 0 0;
                    .inner {
                        height: 180px;
                        background-size: cover;
                        background-position: center top;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            background: rgba(16, 18, 24, 0.65);
                            bottom: 0;
                            border-radius: 10px 10px 0 0;
                        }
                        &.mufasa {
                            &:after {
                                background: linear-gradient(120deg, rgba(12, 87, 98, 0.4), rgba(114, 8, 125, 0.4));
                            }
                        }
                    }
                    img {
                        margin: 45px auto 20px auto;
                        z-index: 1;
                        height: 156px;
                        max-width: 165px;
                    }
                    .prd-tit {
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        color: $lightwhite;
                        font-weight: 500;
                        z-index: 1;
                    }
                    .prd-tit-blue {
                        color: $lightbluecolor;
                        z-index: 1;
                        display: block;
                        margin: 15px 0 17px 0;
                        text-align: center;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
                .prd-sndcld {
                    margin: 0 -5px 25px -5px;
                }
                .prd-ft {
                    display: flex;
                    margin: 0 auto 25px auto;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 17px;
                    .prd-ft-lt {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .prd-price {
                            font-size: 14px;
                            color: $lightwhite;
                            margin-bottom: 15px;
                            font-weight: 500;
                            b {
                                font-size: 18px;
                                font-weight: 500;
                            }
                            .price-crossed {
                                position: relative;
                                margin-left: 5px;
                                &:after {
                                    content: "";
                                    width: calc(100% + 6px);
                                    height: 2px;
                                    background: $lightwhite;
                                    position: absolute;
                                    transform: rotate(-15deg);
                                    left: -1px;
                                    bottom: 6px;
                                }
                            }
                        }
                        .prd-stars {
                            font-size: 12px;
                            color: $lightwhite;
                            display: flex;
                            font-weight: 300;
                            margin-bottom: 13px;
                            .stars {
                                display: block;
                                width: 60px;
                                height: 14px;
                                margin-right: 7px;
                                background-size: contain;
                                background-image: url(/assets/img/icons/stars.svg);
                            }
                        }
                        .prd-seles {
                            font-size: 12px;
                            color: $lightwhite;
                            display: flex;
                        }
                    }
                    .prd-ft-rt {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .prd-buy {
                            font-size: 12px;
                            text-transform: uppercase;
                            line-height: 50px;
                            padding: 0 30px;
                            margin-bottom: 13px;
                            width: 100%;
                        }
                        .prd-more {
                            font-size: 12px;
                            color: $lightwhite;
                            font-weight: 500;
                            letter-spacing: 0.5px;
                            text-indent: 0.5px;
                        }
                    }
                }
            }
        }
    }
    &.home-new-products-container {
        padding-top: 65px;
        padding-bottom: 65px;
        padding-left: 0;
        padding-right: 0;
        .new-products-slider-container {
            max-width: 575px;
            margin: auto;
            .new-product-inner {
                display: grid;
                justify-content: center;
                .new-product-image {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        max-width: 185px;
                        margin: auto;
                        z-index: 1;
                        margin-left: 35px;
                        margin-top: 25px;
                        margin-bottom: 25px;
                    }
                    &:before {
                        content: "";
                        width: 10px;
                        height: 10px;
                        left: 50%;
                        position: absolute;
                        box-shadow: 0px 0px 60px 35px rgba(36, 230, 250, 0.4);
                    }
                    button {
                        position: absolute;
                        top: 50%;
                        z-index: 1;
                        right: 95px;
                        transform: translateY(-50%);
                    }
                }
                .new-product-title {
                    text-align: center;
                    color: $lightwhite;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 5px;
                }
                .new-product-actions {
                    margin-top: 10px;
                    .buy-buttons-container {
                        margin-top: 20px;
                        a {
                            align-items: baseline;
                            span {
                                font-size: 20px;
                                margin-left: 3px;
                            }
                        }
                    }
                }
                &.desktop {
                    display: none;
                }
            }
            .swiper-container {
                padding: 0 30px 40px 30px;
            }
            .swiper-container-horizontal > .swiper-pagination-bullets,
            .swiper-pagination-custom,
            .swiper-pagination-fraction {
                bottom: 0;
            }
            .swiper-button-next,
            .swiper-container-rtl .swiper-button-prev {
                background-image: url(/assets/img/icons/yellow-arrow-right.svg);
                background-size: 16px;
                right: 0;
                outline: none;
            }
            .swiper-button-prev {
                background-image: url(/assets/img/icons/yellow-arrow-left.svg);
                background-size: 16px;
                left: 0;
                outline: none;
            }
            .swiper-pagination-bullet {
                background: #51545a;
            }
            .swiper-pagination-bullet-active {
                background-color: $mainyellow;
            }
        }
        .container-title {
            &.secondary-title {
                margin-bottom: 40px;
            }
        }
    }
    &.home-partners-container {
        padding: 50px 16px;
        .home-partners-block {
            display: grid;
            justify-items: center;
            .clients {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                max-width: 1170px;
                margin: auto;
                img {
                    max-width: 140px;
                    margin-bottom: 40px;
                    flex: 0 0 50%;
                }
            }
            .more-clients {
                font-size: 16px;
                text-transform: uppercase;
                color: $mainyellow;
                font-weight: 500;
                margin-top: 5px;
            }
        }
        .container-title {
            &.secondary-title {
                margin-bottom: 40px;
                position: relative;
                span {
                    text-shadow: 0 0px 65px rgba(239, 76, 198, 0.25);
                }
                .desktop-title-last {
                    display: none;
                }
            }
        }
    }
    &.testimonials-container {
        padding: 85px 0 75px 0;
        .testimonials-block {
            max-width: 1170px;
            margin: auto;
            .testimonials-video-wrapper-mobile,
            .video-testimonials {
                padding: 0 30px;
                .swiper-button-next,
                .swiper-container-rtl .swiper-button-prev {
                    background-image: url(/assets/img/icons/yellow-arrow-right.svg);
                    background-size: 16px;
                    right: 0;
                    outline: none;
                }
                .swiper-button-prev {
                    background-image: url(/assets/img/icons/yellow-arrow-left.svg);
                    background-size: 16px;
                    left: 0;
                    outline: none;
                }
                .review-item {
                    display: flex;
                    flex-flow: column;
                    .review-vid {
                        position: relative;
                        overflow: hidden;
                        box-shadow: inset 0px 0px 100px 50px rgba(30, 35, 45, 0.7), 0px 0px 20px rgba(36, 230, 250, 0.1);
                        margin-bottom: 15px;
                        width: 100%;
                        height: 200px;
                        border-radius: 10px;
                        background-size: cover;
                        background-position: center top;
                        background-repeat: no-repeat;
                        .bundle-play {
                            position: absolute;
                            bottom: 50%;
                            transform: translateY(50%) translateX(-50%);
                            left: 50%;
                        }
                    }
                    .review-name {
                        display: block;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 5px;
                        font-size: 14px;
                        color: $lightwhite;
                        font-weight: 500;
                    }
                    .review-sub {
                        display: block;
                        width: 100%;
                        text-align: center;
                        font-size: 12px;
                        color: $lightbluecolor;
                        font-weight: 300;
                    }
                    .review-text {
                        box-shadow: 0px 0px 20px rgba(36, 230, 250, 0.1);
                        overflow: hidden;
                        background: $darkgray;
                        color: $lightwhite;
                        border-radius: 8px;
                        padding: 35px 16px;
                        text-align: left;
                        line-height: 18px;
                        font-size: 14px;
                        margin-bottom: 15px;
                        margin-top: 60px;
                        h3 {
                            font-size: 14px;
                            text-transform: uppercase;
                            font-weight: 500;
                            margin-bottom: 22px;
                            text-align: center;
                        }
                        p {
                            margin: 0;
                            font-size: 14px;
                            line-height: 24px;
                            a {
                                color: $mainrose;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .container-title {
            &.secondary-title {
                margin-bottom: 40px;
                span {
                    text-shadow: 0 0px 65px rgba(239, 76, 198, 0.25);
                }
            }
        }
    }
    &.home-faq-container {
        padding: 80px 16px;
        .qa {
            background: $darkgray;
            box-shadow: 0 0 15px rgba(16, 169, 91, 0.07);

            margin-bottom: 5px;
            height: auto;
            .qa-hd {
                height: 45px;
                padding-bottom: 0px;
                position: relative;
                cursor: pointer;
                transition: 0.4s;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 14px;
                .qa-name {
                    font-size: 14px;
                    line-height: 20px;
                    color: $lightwhite;
                    font-weight: 400;
                    margin: 0;
                }
            }
            .qa-desc {
                font-size: 14px;
                line-height: 21px;
                color: $lightwhite;
                border-top: 1px solid rgba(250, 255, 255, 0.07);
                box-shadow: 0px -1px 4px -2px rgba(250, 255, 255, 0.05);
                padding-top: 0px;
                visibility: hidden;
                opacity: 0;
                height: 0;
                overflow: hidden;
                font-weight: 300;
                margin: 0;
            }
            .qa-pls-mns {
                width: 45px;
                height: 45px;
                text-align: center;
                line-height: 45px;
                outline: none;
                cursor: pointer;
                border: 0;
                background: transparent;
                span {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 40px;
                    color: $mainyellow;
                    &:nth-child(1) {
                        display: block;
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
            &.qa-act {
                .qa-hd {
                    transition: 0.4s;
                }
                .qa-desc {
                    visibility: visible;
                    opacity: 1;
                    height: auto;
                    padding: 20px;
                    transition: opacity 0.2s ease;
                }
                .qa-pls-mns {
                    span {
                        &:nth-child(1) {
                            display: none;
                        }
                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
            }
        }
        .container-title {
            &.secondary-title {
                margin-bottom: 45px;
                span {
                    text-shadow: 0 0px 65px rgba(239, 76, 198, 0.25);
                    &.desktop {
                        display: none;
                    }
                }
            }
        }
    }
}
.main-pack-slider-texts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 15px;
    .main-pack-slider-texts-col {
        display: flex;
        align-items: flex-start;
        color: $lightwhite;
        font-size: 10px;
        svg {
            stroke: $lightwhite;
            flex: 0 0 14px;
            margin-right: 3px;
        }
        span {
            line-height: 16px;
        }
    }
}
.summer-sale-desktop {
    display: none;
    position: relative;
}
.sound-wave-bg {
    position: absolute;
    z-index: -10;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0.2;

    @media (min-width: $bp-tablet) {
        opacity: 1;
    }
}

#bg-equalizer {
    $color_bar: #29d9c2;
    $color_high: #ff3b77;
    $color_background: #2f2933;

    height: 140px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    zoom: 0.7;
    position: absolute;
    bottom: 0;

    div {
        z-index: -1;
        opacity: 0.5;
        margin-left: 10px;
        margin-left: 10px;
        width: 100px;
        height: 20px;
        background: $color_bar;
        position: relative;
        // transform: translate(-110px, 50px);
        box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 $color_bar, 0 -90px 0 $color_bar, 0 -120px 0 $color_bar;

        animation-duration: 0.6s;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        // &:before {
        //     content: "";
        //     position: absolute;
        //     transform: translate(110px, 0);
        //     @extend div;
        //     box-shadow: 0 -30px 0 $color_bar;
        //     animation-name: bar2;
        // }
        // &:after {
        //     content: "";
        //     position: absolute;
        //     transform: translate(220px, 0);
        //     @extend div;
        //     box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 $color_bar, 0 -90px 0 $color_bar;
        //     animation-name: bar3;
        // }
    }

    div:nth-child(1) {
        animation-name: bar1;
    }
    div:nth-child(2) {
        animation-name: bar2;
    }
    div:nth-child(3) {
        animation-name: bar3;
    }
    div:nth-child(4) {
        animation-name: bar2;
    }
    div:nth-child(5) {
        animation-name: bar1;
    }
    div:nth-child(6) {
        animation-name: bar2;
    }
    div:nth-child(7) {
        animation-name: bar3;
    }
    div:nth-child(8) {
        animation-name: bar2;
    }
    div:nth-child(9) {
        animation-name: bar1;
    }

    @keyframes bar1 {
        0%,
        19.9% {
            box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%),
                0 -90px 0 mix($color_high, $color_bar, 75%), 0 -120px 0 mix($color_high, $color_bar, 100%);
        }
        20%,
        39.9% {
            box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%),
                0 -90px 0 mix($color_high, $color_bar, 75%);
        }
        40%,
        59.9% {
            box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%);
        }
        60%,
        79.9% {
            box-shadow: 0 -30px 0 $color_bar;
        }
        80%,
        100% {
            box-shadow: none;
        }
    }

    @keyframes bar2 {
        0%,
        19.9% {
            box-shadow: none;
        }
        20%,
        39.9% {
            box-shadow: 0 -30px 0 $color_bar;
        }
        40%,
        59.9% {
            box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%);
        }
        60%,
        79.9% {
            box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%),
                0 -90px 0 mix($color_high, $color_bar, 75%), 0 -120px 0 mix($color_high, $color_bar, 100%);
        }
        80%,
        100% {
            box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%),
                0 -90px 0 mix($color_high, $color_bar, 75%);
        }
    }

    @keyframes bar3 {
        0%,
        19.9% {
            box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%);
        }
        20%,
        39.9% {
            box-shadow: 0 -30px 0 $color_bar;
        }
        40%,
        59.9% {
            box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%);
        }
        60%,
        79.9% {
            box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%),
                0 -90px 0 mix($color_high, $color_bar, 75%);
        }
        80%,
        100% {
            box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%),
                0 -90px 0 mix($color_high, $color_bar, 75%), 0 -120px 0 mix($color_high, $color_bar, 100%);
        }
    }
}

#bg-2d-waves {
    position: absolute;
    max-height: 450px;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 3s;
    left: -25%;

    &.show-bg {
        opacity: 0.5;
    }
}

@media (min-width: $bp-tablet) {
    .full-width-container {
        &.home-first-container {
            position: relative;
            padding-top: 130px;
            padding-bottom: 80px;
            &::before {
                content: "";
                background-image: url(/assets/img/main-new.jpg);
                background-size: cover;
                background-position: right top;
                background-repeat: no-repeat;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                opacity: 0.75;
                // z-index: -5;
            }
            .main-subtitle {
                font-size: 20px;
                text-transform: uppercase;
                line-height: 1.5;
                margin-bottom: 45px;
                span {
                    font-size: 20px;
                }
            }
            .summer-sale-title {
                max-width: 295px;
            }
            .summer-sale-subtitle {
                font-size: 16px;
            }
            .summer-sale-block-mobile {
                .main-pack-block {
                    margin-top: 0;
                    .bundle-discount {
                        width: 95px;
                        height: 95px;
                        line-height: 95px;
                        font-size: 24px;
                        top: 6%;
                        right: -6%;
                    }
                }
            }
            .main-pack-slider-container {
                .main-pack-slider-heading {
                    line-height: 40px;
                    font-size: 16px;
                }
                .main-pack-slider {
                    a {
                        font-size: 12px;
                        margin-bottom: 7px;
                    }
                }
            }
            .main-pack-slider-texts {
                .main-pack-slider-texts-col {
                    font-size: 13px;
                    span {
                        br {
                            display: none;
                        }
                    }
                }
            }
            .buy-buttons-container {
                display: flex;
                margin-top: 30px;
                .btn-purp-grad {
                    order: 1;
                    margin: 0 15px;
                }
                .btn-blue-grad {
                    order: 0;
                }
                .btn-blue-border {
                    order: 2;
                }
            }
        }
        &.home-categories-container {
            background-image: url(/assets/img/main2-min.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding-top: 123px;
            padding-bottom: 135px;
            .home-categories-links {
                grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
                grid-gap: 30px;
                max-width: 1140px;
                margin: auto;
                a {
                    height: 100px;
                    .txt {
                        font-size: 12px;
                        right: 12px;
                        bottom: 12px;
                        text-align: right;
                    }
                }
            }
        }
        .subscription-form {
            max-width: 470px;
            input {
                width: 200px;
                padding: 0 230px 0 40px;
                line-height: 60px;
                top: 0;
                left: 0;
            }
            button {
                max-width: 230px;
                line-height: 60px;
                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
                font-size: 16px;
            }
        }
        .subscription-form-yellow-text {
            font-size: 14px;
        }
        &.home-subscription-container {
            background-image: url(/assets/img/main3-min.jpg);
            background-position: center -100px;
            background-repeat: no-repeat;
            .email-reminder-block {
                margin: 70px auto 0 auto;
                .email-reminder-subtitle {
                    font-size: 16px;
                }
                .subscription-timeline {
                    margin: 65px auto 80px auto;
                    .line {
                        .inner-line {
                            .line-text {
                                right: 62px;
                            }
                        }
                    }
                }
            }
            .secondary-subtitle {
                font-size: 28px;
                max-width: 500px;
            }
        }
        .subscription-form {
            margin: 25px auto 0 auto;
        }
        .subscription-form-yellow-text {
            margin-top: 20px;
        }
        &.home-best-seller-container {
            background-image: url(/assets/img/main4-min.jpg);
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            .container-title {
                &.secondary-title {
                    margin-bottom: 65px;
                }
            }
            .best-seller {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                grid-gap: unset;
                .prd {
                    width: 360px;
                    margin: 0 15px 30px 15px;
                    .prd-sndcld {
                        margin: 0 10px 25px 10px;
                    }
                }
            }
        }
        &.home-new-products-container {
            background-image: url(/assets/img/main5-min.jpg);
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            padding-top: 120px;
            padding-bottom: 82px;
            padding-left: 15px;
            padding-right: 15px;
            .new-products-slider-container {
                max-width: 1005px;
                .new-products-wrapper {
                    padding: 0 30px;
                    .swiper-button-next,
                    .swiper-container-rtl .swiper-button-prev {
                        right: 0;
                    }
                    .swiper-button-prev,
                    .swiper-container-rtl .swiper-button-next {
                        left: 0;
                    }
                    .swiper-button-next,
                    .swiper-button-prev {
                        background-size: 20px !important;
                    }
                }
                .new-product-inner {
                    display: none;
                    &.desktop {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 0;
                        padding-bottom: 45px;
                        .new-product-actions {
                            margin-top: 0;
                            max-width: 277px;
                            width: 100%;
                        }
                        .new-product-image {
                            padding-right: 60px;
                            img {
                                max-width: unset;
                                width: 100%;
                                margin: 0;
                            }
                        }
                        .new-product-title {
                            font-size: 28px;
                            margin-bottom: 30px;
                            letter-spacing: 1px;
                            text-indent: 1px;
                        }
                    }
                }
            }
            .container-title {
                &.secondary-title {
                    margin-bottom: 65px;
                }
            }
        }
        &.home-partners-container {
            padding: 130px 16px;
            background-image: url(/assets/img/main6-min.jpg);
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            .container-title {
                &.secondary-title {
                    margin-bottom: 90px;
                    span {
                        text-shadow: 0 0px 55px rgba(239, 76, 198, 0.2);
                    }
                }
            }
        }
        &.testimonials-container {
            padding: 140px 16px 100px 16px;
            background-image: url(/assets/img/main7-min.jpg);
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            .swiper-button-next,
            .swiper-button-prev {
                background-size: 20px !important;
            }
            .container-title {
                &.secondary-title {
                    margin-bottom: 90px;
                }
            }
        }
        &.home-faq-container {
            padding: 135px 16px 120px 16px;
            background-image: url(/assets/img/main8-min.jpg);
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            .qa {
                margin-bottom: 10px;
                border-radius: 3px;
                .qa-hd {
                    height: 60px;
                    padding-left: 32px;
                    .qa-name {
                        font-size: 16px;
                    }
                }
                &.qa-act {
                    .qa-desc {
                        padding: 20px 32px;
                    }
                }
            }
            .container-title {
                &.secondary-title {
                    margin-bottom: 90px;
                }
            }
            .subscription-form {
                margin: 65px auto 0 auto;
            }
            .faq-block {
                max-width: 750px;
                margin: auto;
            }
        }
    }
}
@media (min-width: $bp-tablet-lg) {
    .full-width-container {
        &.home-new-products-container {
            .new-products-slider-container {
                .new-products-wrapper {
                    padding: 0;
                }
                .new-product-inner {
                    &.desktop {
                        align-items: center;
                        padding-right: 100px;
                        .new-product-image {
                            padding-right: 90px;
                            img {
                                max-width: unset;
                                width: 100%;
                            }
                        }
                        .new-product-title {
                            font-size: 28px;
                            margin-bottom: 30px;
                            letter-spacing: 1px;
                            text-indent: 1px;
                        }
                    }
                }
                .swiper-pagination-bullet {
                    width: 55px;
                    border-radius: 0;
                    height: 4px;
                    margin: 0 10px;
                }
            }
        }
    }
}
@media (min-width: $bp-laptop) {
    .full-width-container {
        &.home-first-container {
            padding-top: 163px;
            .main-subtitle {
                margin-bottom: 20px;
                display: none;
                span {
                    display: unset;
                }
                &.desktop {
                    display: block;
                    font-size: 17.3px;
                }
            }
            .summer-sale-right-col {
                background-color: rgba($maindarkgray, 0.8);
                padding: 40px 30px;
                border-radius: 8px;
                margin-top: 100px;
                box-shadow: 0 0 30px 10px rgba(16, 169, 191, 0.07);

                .buy-buttons-container {
                    display: grid;
                    .btn-purp-grad {
                        order: 0;
                        margin: auto;
                    }
                    .btn-blue-grad {
                        order: 1;
                    }
                    .btn-blue-border {
                        order: 2;
                    }
                }
                .timer-title {
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    text-align: center;
                    color: $mainyellow;
                    margin-top: 35px;
                    margin-bottom: 15px;
                }
            }
        }
        &.home-categories-container {
            padding-bottom: 210px;
        }
        &.home-subscription-container {
            padding-top: 60px;
            padding-bottom: 170px;
            .secondary-subtitle {
                max-width: unset;
            }
        }
        &.home-best-seller-container {
            .best-seller {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 30px;
                .prd {
                    width: auto;
                    margin: 0;
                    .prd-sndcld {
                        margin: 0 10px 25px 10px;
                    }
                }
            }
        }
        &.home-new-products-container {
            .new-products-slider-container {
                .new-product-inner {
                    &.desktop {
                        .new-product-actions {
                            .buy-buttons-container {
                                margin-top: 35px;
                                grid-gap: 20px;
                            }
                        }
                        .new-product-image {
                            padding-right: 125px;
                            &:before {
                                content: "";
                                width: 50px;
                                height: 10px;
                                left: 50%;
                                transform: translateX(-50%);
                                position: absolute;
                                box-shadow: 0 0 80px 110px rgba(36, 230, 250, 0.3);
                            }
                        }
                    }
                }
            }
        }
        &.testimonials-container {
            .testimonials-block {
                max-width: 1230px;
            }
        }
        &.home-faq-container {
            .container-title {
                &.secondary-title {
                    span {
                        display: none;
                        &.desktop {
                            display: block;
                        }
                    }
                    br {
                        display: none;
                    }
                }
            }
        }
    }
    .container-title {
        &.secondary-title {
            &.effects-category-title {
                margin-bottom: 80px;
            }
        }
    }
    .summer-sale-block-mobile {
        display: none;
    }
    .summer-sale-desktop {
        display: flex;
        max-width: 1170px;
        margin: auto;
        justify-content: center;
        .main-pack-slider-texts {
            display: none;
            &.tablet {
                display: grid;
                .main-pack-slider-texts-col {
                    font-size: 12px;
                }
            }
        }
        .summer-sale-left-col {
            max-width: 600px;
            margin-right: 80px;
            .main-pack-block {
                margin: 0;
                img {
                    width: 100%;
                    min-height: 450px;
                }
                .bundle-discount {
                    width: 80px;
                    height: 80px;
                    line-height: 80px;
                    font-size: 24px;
                    right: -6%;
                    top: 12%;
                }
                .bundle-play {
                    top: 14%;
                    left: 35%;
                }
            }
        }
    }
}
@media (min-width: $bp-desktop-lg) {
    .summer-sale-desktop {
        .main-pack-slider-texts {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 2;
            background: $secondarygray;
            width: 220px;
            height: 220px;
            border-radius: 50%;
            margin: 0;
            left: -110px;
            &.tablet {
                display: none;
            }
        }
        .summer-sale-left-col {
            max-width: 655px;
            margin-right: 70px;
            .main-pack-block {
                .bundle-discount {
                    width: 100px;
                    height: 100px;
                    line-height: 100px;
                }
            }
        }
    }
    .full-width-container {
        &.home-first-container {
            .main-pack-slider-texts {
                box-shadow: 0px 0px 50px rgba(36, 230, 250, 0.1);
                .main-pack-slider-texts-col {
                    font-size: 14px;
                    margin: 0 auto;
                    span {
                        line-height: 1.5;
                    }
                    svg {
                        flex: 0 0 16px;
                        stroke: $lightbluecolor;
                    }
                    &:last-child {
                        max-width: 140px;
                    }
                }
            }
        }
        &.home-partners-container {
            .container-title {
                &.secondary-title {
                    .desktop-title,
                    .desktop-title-last {
                        display: block;
                    }
                    .mobile-title {
                        display: none;
                    }
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}
