@import "../variables/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.full-width-container {
    &.login-container {
        padding-top: 69px;
        padding-bottom: 62px;
        background-image: url(/assets/img/cart-back.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        .container-title {
            &.main-title {
                margin-bottom: 20px;
            }
        }
        .login-container {
            background-color: rgba(16, 18, 24, 0.2);
            border-radius: 8px;
            box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.2);
            padding: 20px 10px;
            max-width: 750px;
            margin: 0 auto;
            .login-container-inner {
                max-width: 470px;
                margin: 0 auto;
            }
            .login-buttons {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 10px;
                margin-bottom: 20px;
                @media (min-width: $bp-tablet) {
                    grid-template-columns: 1fr 1fr;
                }
                button {
                    font-size: 12px;
                    line-height: 34px;
                    border-radius: 5px;
                    border: none;
                    padding: 0 12px 0 28px;
                    color: white;
                    text-align: center;
                    span {
                        font-weight: 500;
                    }
                    &.facebook-btn {
                        font-family: "Roboto";
                        background-color: #4568b3;
                        background-image: url("/assets/img/icons/facebook-icon.svg");
                        background-repeat: no-repeat;
                        background-position: 10px 10px;
                        background-size: 12px;
                    }
                    &.google-btn {
                        background-color: #dc4e43;
                        background-image: url("/assets/img/icons/google-icon.svg");
                        background-repeat: no-repeat;
                        background-position: 10px 10px;
                        background-size: 12px;
                    }
                }
            }
            .or-line {
                font-size: 14px;
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-weight: 500;
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                &:before {
                    content: "";
                    flex: 1;
                    height: 1px;
                    background-color: #42454d;
                    margin-right: 7px;
                    box-shadow: 0 0 15px 1px black;
                }
                &:after {
                    content: "";
                    flex: 1;
                    height: 1px;
                    background-color: #42454d;
                    margin-left: 7px;
                    box-shadow: 0 0 15px 1px black;
                }
            }
            form {
                display: grid;
                grid-gap: 14px;
                .form-field {
                    position: relative;
                    input {
                        line-height: 45px;
                        background: #101218;
                        outline: 0;
                        box-shadow: 0px 0px 10px rgba(36, 230, 250, 0.1);
                        border: 0;
                        border-radius: 5px;
                        width: 100%;
                        padding: 0 30px 0 12px;
                        font-size: 14px;
                        color: #fff;
                        font-family: "UniSans", sans-serif;
                        box-sizing: border-box;
                        font-weight: 500;
                        &::placeholder {
                            color: #464c5e;
                        }
                    }
                    svg {
                        position: absolute;
                        right: 12px;
                        top: 10px;
                        width: 16px;
                    }
                }
                .show-and-remember {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .remember-me-checkbox {
                        font-size: 12px;
                        color: #fff;
                        display: flex;
                        align-items: flex-end;
                        .checkbox {
                            width: 30px;
                            background-color: #282d3b;
                            border-radius: 10px;
                            height: 16px;
                            border: none;
                            margin-right: 12px;
                            display: flex;
                            align-items: center;
                            position: relative;
                            flex: 0 0 30px;
                            &:after {
                                content: "";
                                width: 13px;
                                height: 13px;
                                display: block;
                                border-radius: 50%;
                                background-color: #15141c;
                                right: unset;
                                left: 3px;
                                position: absolute;
                                transition: all 0.5s;
                            }
                        }
                        &.active {
                            .checkbox {
                                &:after {
                                    background-color: $lightbluecolor;
                                    right: 3px;
                                    left: unset;
                                }
                            }
                        }
                    }
                    .show-password-block {
                        color: $lightbluecolor;
                        cursor: pointer;
                        font-size: 12px;
                    }
                }
                .btn-purp-grad {
                    max-width: 260px;
                    margin: 6px auto 10px auto;
                    width: 100%;
                    &.create-acc {
                        margin-top: 16px;
                    }
                }
            }
            .forgot-password {
                text-align: center;
                margin-bottom: 15px;
                font-size: 12px;
                a {
                    color: $lightbluecolor;
                    text-decoration: none;
                }
                &.terms {
                    color: white;
                    a {
                        text-decoration: underline;
                    }
                }
            }
            .separator-line {
                display: block;
                height: 1px;
                background-color: #42454d;
                margin-bottom: 15px;
            }
            .sign-up {
                text-align: center;
                color: white;
                font-size: 12px;
                a {
                    color: $lightbluecolor;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }
}

$white: #fff;
$google-blue: #4285f4;
$facebook-blue: #3a5a97;
$button-active-blue: #1669f2;

.sociallogin-btn {
    &.google {
        background-color: $google-blue;
        .icon-wrapper {
            background-color: #fff;
            .icon {
                position: absolute;
                margin-top: 11px;
                margin-left: 11px;
                width: 18px;
                height: 18px;
            }
        }
    }
    &.facebook {
        background-color: $facebook-blue;
        .icon-wrapper {
            margin-left: 10px;
            width: 25px;
            height: 25px;
            .icon {
                position: absolute;
                // margin-top: 8px;
                // margin-left: 8px;
                width: 25px;
                height: 25px;
            }
        }
    }
    cursor: pointer;
    height: 42px;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    // justify-content: center;
    align-items: center;
    .icon-wrapper {
        width: 40px;
        height: 40px;
        border-radius: 2px;
        margin: 1px;
    }
    .btn-text {
        flex: 1;
        text-align: center;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}

@media (min-width: $bp-tablet) {
    .full-width-container {
        &.login-container {
            .container-title {
                &.main-title {
                    margin-bottom: 60px;
                }
            }
            .login-container {
                padding: 45px 16px 35px 16px;
                .login-buttons {
                    grid-gap: 30px;
                    button {
                        font-size: 14px;
                        line-height: 40px;
                        &.facebook-btn {
                            background-position: 24px 12px;
                            background-size: 17px;
                        }
                        &.google-btn {
                            background-position: 32px 12px;
                            background-size: 17px;
                        }
                    }
                }
                form {
                    .btn-purp-grad {
                        font-size: 16px;
                        line-height: 60px;
                        margin-bottom: 15px;
                    }
                    .form-field {
                        input {
                            padding: 0 30px 0 26px;
                        }
                        svg {
                            right: 26px;
                        }
                    }
                }
                .sign-up {
                    font-size: 14px;
                }
            }
        }
    }
}
@media (min-width: $bp-laptop) {
    .full-width-container {
        &.login-container {
            padding: 160px 16px 135px 16px;
        }
    }
}
