/*Colors*/

$maindarkgray: #13161d;
$secondarygray: #1c212b;
$darkgray: #0e1015;
$lightbluecolor: #23e7fb;
$darkbluecolor: #15b8cd;
$lightgray: #f6f6f6;
$lightwhite: #f7f7f7;
$titlesgradient: linear-gradient(130deg, #ef4bc5 40%, #0fa9bf 60%); //linear-gradient(90deg, #ef4cc6 30%, #10a9bf 60%);
$imagesoverlay: linear-gradient(120deg, rgba(12, 87, 98, 0.7), rgba(114, 8, 125, 0.7));
$rosegradient: linear-gradient(to right, #ed06e0, #d902b1);
$roseshadow: inset 270px 0px 10px rgba(225, 66, 166, 0.5), 0px 0px 20px rgba(225, 66, 166, 0.5);
$footergray: #282d3b;
$mainyellow: #f9ed1d;
$bluebuttongrad: linear-gradient(to right, #1ed6e9, #15b8cd);
$mainrose: #ef4cc6;
$roseshadow: inset 270px 0px 10px rgba(225, 66, 166, 0.5), 0px 0px 20px rgba(225, 66, 166, 0.5);
$blueshadow: inset 270px 0px 10px rgba(36, 230, 250, 0.5), 0px 0px 20px rgba(36, 230, 250, 0.5);

/*Fonts*/
$mainfont: "UniSans", sans-serif;

/*breakpoints OLD*/
// $bp-tablet: 675px;
// $bp-tablet-lg: 800px;
// $bp-laptop: 1023px;
// $bp-desktop: 1090px;
// $bp-desktop-lg: 1310px;

/* Small devices (portrait tablets and large phones, 600px and up) */
$bp-tablet: 600px;
/* Medium devices (landscape tablets, 768px and up) */
$bp-tablet-lg: 768px;
/* Large devices (laptops/desktops, 992px and up) */
$bp-laptop: 992px;
/* Extra large devices (large laptops and desktops, 1200px and up) */
$bp-desktop: 1200px;

// No need larger size than 1200px
$bp-desktop-lg: $bp-desktop;
