/*Colors*/
/*Fonts*/
/*breakpoints OLD*/
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.full-width-container.cart-container {
  padding-top: 69px;
  padding-bottom: 104px;
  background-image: url(/assets/img/cart-back-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.full-width-container.cart-container .container-title.main-title {
  margin-bottom: 18px;
}
.full-width-container.cart-container .cart-content-block {
  display: grid;
  grid-gap: 15px;
}
.full-width-container.cart-container .cart-content-block .cart-items-block {
  display: grid;
  grid-gap: 6px;
}
.full-width-container.cart-container .cart-content-block .cart-items-block .cart-item {
  background-color: rgba(16, 18, 24, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
}
.full-width-container.cart-container .cart-content-block .cart-items-block .cart-item img {
  max-width: 70px;
  width: 100%;
  margin-right: 15px;
  max-height: 56px;
}
.full-width-container.cart-container .cart-content-block .cart-items-block .cart-item .product-name {
  line-height: 13px;
  max-width: 120px;
}
.full-width-container.cart-container .cart-content-block .cart-items-block .cart-item .product-name a {
  font-size: 10px;
  font-weight: 500;
  color: #23e7fb;
}
.full-width-container.cart-container .cart-content-block .cart-items-block .cart-item .product-actions-price {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
}
.full-width-container.cart-container .cart-content-block .cart-items-block .cart-item .product-actions-price i {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.full-width-container.cart-container .cart-content-block .cart-items-block .cart-item .product-actions-price .old-price {
  position: relative;
  margin-left: 3px;
}
.full-width-container.cart-container .cart-content-block .cart-items-block .cart-item .product-actions-price .old-price:after {
  content: "";
  width: 120%;
  height: 2px;
  background: white;
  position: absolute;
  transform: rotate(-15deg);
  left: -1px;
  bottom: 50%;
}
.full-width-container.cart-container .cart-content-block .promo-code-block {
  background-color: rgba(16, 18, 24, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.2);
  padding: 20px 20px 24px 20px;
  display: grid;
  justify-items: center;
}
.full-width-container.cart-container .cart-content-block .promo-code-block .container-title.secondary-title {
  font-size: 18px;
  margin-bottom: 16px;
}
.full-width-container.cart-container .cart-content-block .promo-code-block .coupon-form {
  display: grid;
  justify-items: center;
  max-width: 260px;
  margin: 0 auto;
  position: relative;
  grid-gap: 10px;
  width: 100%;
}
.full-width-container.cart-container .cart-content-block .promo-code-block .coupon-form input {
  padding: 0 30px;
  border: 0;
  line-height: 50px;
  background: #fff;
  color: #13161d;
  font-size: 14px;
  border-radius: 30px;
  width: calc(100% - 60px);
  outline: none;
  box-shadow: 0 0 30px 5px rgba(239, 76, 198, 0.2);
}
.full-width-container.cart-container .cart-content-block .promo-code-block .coupon-form button {
  width: 100%;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block {
  background-color: rgba(16, 18, 24, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.2);
  padding: 22px 20px 28px 20px;
  display: grid;
  justify-items: center;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block .container-title.secondary-title {
  font-size: 18px;
  margin-bottom: 16px;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block .totals-lines {
  width: 100%;
  color: white;
  font-weight: 300;
  font-size: 14px;
  display: grid;
  grid-gap: 18px;
  max-width: 260px;
  margin: 0 auto 24px auto;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block .totals-lines .total-line {
  display: flex;
  justify-content: space-between;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block .totals-lines .total-line .coupon-code {
  font-weight: 500;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block .totals-lines .total-line .subtotal-price {
  padding-right: 29px;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block .totals-lines .total-line.total {
  font-weight: 500;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block .totals-lines .total-line.total .total-price {
  font-weight: 900;
  padding-right: 29px;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block .totals-lines .total-line .coupon-actions {
  display: flex;
  align-items: center;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block .totals-lines .total-line .coupon-actions i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  cursor: pointer;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block .total-submit {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
}
.full-width-container.cart-container .cart-content-block .cart-totals-block .total-submit button {
  width: 100%;
}
.full-width-container.cart-container .cart-content-block .benefits-container {
  padding: 50px 25px;
  display: grid;
  grid-gap: 35px;
  max-width: 320px;
  margin: 0 auto;
}
.full-width-container.cart-container .cart-content-block .benefits-container .benefit-item {
  display: flex;
  align-items: center;
}
.full-width-container.cart-container .cart-content-block .benefits-container .benefit-item img {
  margin-right: 35px;
}
.full-width-container.cart-container .cart-content-block .benefits-container .benefit-item .benefit-text {
  color: white;
}
.full-width-container.cart-container .cart-content-block .benefits-container .benefit-item .benefit-text .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 9px;
}
.full-width-container.cart-container .cart-content-block .benefits-container .benefit-item .benefit-text .descr {
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 600px) {
  .full-width-container.cart-container .cart-content-block .cart-items-block {
    grid-gap: 16px;
  }
  .full-width-container.cart-container .cart-content-block .cart-items-block .cart-item {
    padding: 30px;
  }
  .full-width-container.cart-container .cart-content-block .cart-items-block .cart-item img {
    max-width: 170px;
    max-height: 120px;
    height: 100%;
    margin-right: 30px;
  }
  .full-width-container.cart-container .cart-content-block .cart-items-block .cart-item .product-name {
    max-width: 410px;
  }
  .full-width-container.cart-container .cart-content-block .cart-items-block .cart-item .product-name a {
    font-size: 18px;
    line-height: 30px;
  }
  .full-width-container.cart-container .cart-content-block .cart-items-block .cart-item .product-actions-price {
    font-size: 30px;
  }
  .full-width-container.cart-container .cart-content-block .cart-items-block .cart-item .product-actions-price .old-price {
    font-size: 24px;
  }
  .full-width-container.cart-container .cart-content-block .cart-items-block .cart-item .product-actions-price svg {
    width: 17px;
    height: 17px;
    margin-top: 4px;
  }
  .full-width-container.cart-container .cart-content-block .promo-code-block,
.full-width-container.cart-container .cart-content-block .cart-totals-block {
    padding: 36px;
  }
  .full-width-container.cart-container .cart-content-block .promo-code-block .container-title.secondary-title,
.full-width-container.cart-container .cart-content-block .cart-totals-block .container-title.secondary-title {
    font-size: 38px;
    margin-bottom: 26px;
  }
  .full-width-container.cart-container .cart-content-block .promo-code-block button,
.full-width-container.cart-container .cart-content-block .cart-totals-block button {
    line-height: 60px;
    font-size: 16px;
  }
  .full-width-container.cart-container .cart-content-block .promo-code-block .coupon-form {
    grid-gap: 15px;
  }
  .full-width-container.cart-container .cart-content-block .cart-totals-block .totals-lines {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .full-width-container.cart-container .cart-content-block .cart-totals-block .totals-lines .total-line .subtotal-price {
    padding-right: 31px;
  }
  .full-width-container.cart-container .cart-content-block .cart-totals-block .totals-lines .coupon-actions svg {
    width: 16px;
    height: 16px;
  }
  .full-width-container.cart-container .cart-content-block .benefits-container {
    padding: 36px;
  }
  .full-width-container.cart-container .cart-content-block .benefits-container .benefit-item .benefit-text .title {
    font-size: 19px;
  }
  .full-width-container.cart-container .cart-content-block .benefits-container .benefit-item .benefit-text .descr {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .full-width-container.cart-container {
    padding: 204px 16px;
    background-image: url(/assets/img/cart-back.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .full-width-container.cart-container .container-title.main-title {
    margin-bottom: 60px;
  }
  .full-width-container.cart-container .cart-content-block {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
  }
  .full-width-container.cart-container .cart-content-block .container-title .gradient-title {
    display: block;
  }
  .full-width-container.cart-container .cart-content-block .cart-items-block {
    flex: 0 0 100%;
    margin-bottom: 40px;
    order: 0;
  }
  .full-width-container.cart-container .cart-content-block .promo-code-block {
    flex: 1;
    order: 1;
  }
  .full-width-container.cart-container .cart-content-block .cart-totals-block {
    flex: 1;
    order: 3;
  }
  .full-width-container.cart-container .cart-content-block .benefits-container {
    flex: 1;
    order: 2;
    padding: 36px 56px;
  }
}

/*# sourceMappingURL=cart.css.map */
