/*Colors*/
/*Fonts*/
/*breakpoints*/
.full-width-container.blog-main-container {
  padding-top: 69px;
  padding-bottom: 0px;
  background-image: url(/assets/img/blog-back.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
.full-width-container.blog-main-container .container-title.main-title {
  margin-bottom: 20px;
}
.full-width-container.blog-main-container .top-tabs-block {
  background-color: rgba(16, 18, 24, 0.8);
  border-radius: 8px;
  box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}
.full-width-container.blog-main-container .top-tabs-block .desktop {
  display: none;
}
.full-width-container.blog-main-container .top-tabs-block .mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.full-width-container.blog-main-container .top-tabs-block .mobile .dropdown {
  flex: 1;
  margin-right: 6px;
}
.full-width-container.blog-main-container .top-tabs-block .mobile .dropdown .choosen-value {
  display: flex;
  align-items: center;
  padding: 0 15px;
  line-height: 40px;
  color: white;
  font-weight: 500;
  background-color: #1dd1e5;
  border-radius: 5px;
  cursor: pointer;
  background-image: url(/assets/img/icons/chevron-down-solid.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 92% 15px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.full-width-container.blog-main-container .top-tabs-block .mobile .dropdown .choosen-value svg {
  margin-right: 6px;
}
.full-width-container.blog-main-container .top-tabs-block .mobile .dropdown ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: none;
  position: absolute;
  background-color: rgba(16, 18, 24, 0.95);
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 0px 20px -5px rgba(36, 230, 250, 0.1);
  left: 16px;
  right: 16px;
  z-index: 1;
}
.full-width-container.blog-main-container .top-tabs-block .mobile .dropdown ul li a {
  display: flex;
  align-items: center;
  padding: 0 15px;
  line-height: 40px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
}
.full-width-container.blog-main-container .top-tabs-block .mobile .dropdown ul li a svg {
  margin-right: 6px;
}
.full-width-container.blog-main-container .top-tabs-block .search-block {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 350px;
  margin-right: 0;
  margin-left: auto;
}
.full-width-container.blog-main-container .top-tabs-block .search-block input {
  border: none;
  border-radius: 5px;
  line-height: 38px;
  padding: 0 10px;
  flex: 1;
  background-color: #1B1F29;
  font-size: 12px;
  border: 1px solid #1B1F29;
  color: white;
  outline: none;
}
.full-width-container.blog-main-container .top-tabs-block .search-block input::-moz-placeholder {
  color: #7F8081;
}
.full-width-container.blog-main-container .top-tabs-block .search-block input:-ms-input-placeholder {
  color: #7F8081;
}
.full-width-container.blog-main-container .top-tabs-block .search-block input::placeholder {
  color: #7F8081;
}
.full-width-container.blog-main-container .top-tabs-block .search-block input:focus {
  border: 1px solid #1dd1e5;
}
.full-width-container.blog-main-container .top-tabs-block .search-block a {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
}
.full-width-container.blog-main-container .top-tabs-block .search-block a svg {
  width: 15px;
  fill: #1dd1e5;
  height: 15px;
}
.full-width-container.blog-main-container .blog-content-container {
  display: grid;
  grid-gap: 60px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item {
  width: 100%;
  overflow-x: hidden;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .title-links {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  justify-content: space-between;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .title-links .container-title.secondary-title {
  margin-bottom: 0;
  font-size: 18px;
  text-align: left;
  max-width: 164px;
  width: 100%;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .title-links .category-link {
  font-size: 12px;
  color: #1dd1e5;
  font-weight: 500;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid {
  display: grid;
  grid-gap: 14px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .secondary-posts {
  display: grid;
  grid-gap: 14px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .post-link {
  text-decoration: none;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post {
  padding: 10px 10px 20px 14px;
  border-bottom: 1px solid #34373F;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .category {
  font-size: 12px;
  color: white;
  text-decoration: underline;
  position: relative;
  z-index: 1;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .post-title {
  font-size: 14px;
  font-weight: 500;
  color: #1dd1e5;
  margin: 15px 0;
  position: relative;
  z-index: 1;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .post-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: white;
  position: relative;
  z-index: 1;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .post-data .post-author img {
  display: none;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .post-data .post-reactions {
  display: flex;
  align-items: center;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .post-data .post-reactions .reaction {
  display: flex;
  align-items: center;
  margin: 0 3px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .post-data .post-reactions .reaction svg {
  margin-right: 3px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .post-data .post-date-time {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .post-data .post-date-time .item {
  display: flex;
  align-items: center;
  margin-left: 8px;
  white-space: nowrap;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .post-data .post-date-time .item svg {
  margin-right: 3px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post {
  border-radius: 8px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post .inner {
  background: linear-gradient(-30deg, rgba(12, 87, 98, 0.7), rgba(114, 8, 125, 0.7));
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post .category {
  font-size: 14px;
  font-weight: 900;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post .post-title {
  font-size: 24px;
  font-weight: 900;
  color: white;
  margin: 35px 0 24px 0;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post .post-data {
  align-items: flex-end;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post .post-data .post-author {
  display: grid;
  grid-gap: 5px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post .post-data .post-author img {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  box-sizing: border-box;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts-mobile {
  margin: 24px auto 0 auto;
  max-width: 100%;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts-mobile .swiper-container {
  padding: 0 24px 40px 24px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts-mobile .swiper-container-horizontal > .swiper-pagination-bullets,
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts-mobile .swiper-pagination-custom,
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts-mobile .swiper-pagination-fraction {
  bottom: 0;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts-mobile .swiper-button-next,
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts-mobile .swiper-container-rtl .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-right.svg);
  background-size: 16px;
  right: 0;
  outline: none;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts-mobile .swiper-button-prev {
  background-image: url(/assets/img/icons/yellow-arrow-left.svg);
  background-size: 16px;
  left: 0;
  outline: none;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts-mobile .swiper-pagination-bullet {
  background: #51545a;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts-mobile .swiper-pagination-bullet-active {
  background-color: #f9ed1d;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post {
  display: grid;
  grid-gap: 16px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .post-text {
  font-size: 12px;
  font-weight: 300;
  color: white;
  line-height: 18px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .post-text a {
  font-weight: 500;
  color: #1dd1e5;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post {
  padding: 10px 10px 20px 14px;
  border-bottom: 1px solid #34373F;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 2px rgba(36, 230, 250, 0.1);
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post .post-date-time {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post .post-date-time .item {
  display: flex;
  align-items: center;
  margin-right: 8px;
  white-space: nowrap;
  color: white;
  font-size: 10px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post .post-date-time .item svg {
  margin-right: 3px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post .post-title {
  font-size: 18px;
  font-weight: 900;
  color: white;
  margin: 50px 0 42px 0;
  position: relative;
  z-index: 1;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post .inner {
  background: linear-gradient(-30deg, rgba(12, 87, 98, 0.3), rgba(114, 8, 125, 0.3));
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post .post-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: white;
  position: relative;
  z-index: 1;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post .post-data .post-author {
  font-size: 14px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post .post-data .post-author img {
  display: none;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post .post-data .post-reactions {
  display: flex;
  align-items: center;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post .post-data .post-reactions .reaction {
  display: flex;
  align-items: center;
  margin: 0 3px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts .category-post .single-post .post-data .post-reactions .reaction svg {
  margin-right: 3px;
}
.full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts.desktop {
  display: none;
}
.full-width-container.blog-main-container .blog-content-container .blog-offer-container {
  padding: 45px 25px;
  background-image: url(/assets/img/offer-back.jpg);
  border-radius: 8px;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px 2px rgba(36, 230, 250, 0.1);
  background-position: center;
  background-size: cover;
}
.full-width-container.blog-main-container .blog-content-container .blog-offer-container .subscription-form {
  display: grid;
  justify-items: center;
  max-width: 240px;
  margin: 24px auto 0 auto;
  position: relative;
  grid-gap: 10px;
}
.full-width-container.blog-main-container .blog-content-container .blog-offer-container .subscription-form input {
  padding: 0 30px;
  border: 0;
  line-height: 50px;
  background: #fff;
  color: #13161d;
  font-size: 14px;
  border-radius: 30px;
  width: calc(100% - 60px);
  outline: none;
  box-shadow: 0 0 30px 5px rgba(239, 76, 198, 0.2);
}
.full-width-container.blog-main-container .blog-content-container .blog-offer-container .subscription-form button {
  width: 100%;
}
.full-width-container.blog-main-container.blog-second-container {
  background-image: none;
}
.full-width-container.blog-instagram-container {
  padding-top: 69px;
  padding-bottom: 80px;
  background-image: url(/assets/img/only-wave-back.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.full-width-container.blog-instagram-container .instagram-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 15px;
  margin-bottom: 30px;
}
.full-width-container.blog-instagram-container .instagram-grid img {
  width: 100%;
}
.full-width-container.blog-instagram-container .insta-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.full-width-container.blog-instagram-container .insta-link svg {
  fill: #1dd1e5;
  margin-right: 15px;
}

@media (min-width: 675px) {
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .title-links {
    margin-bottom: 24px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .title-links .container-title.secondary-title {
    font-size: 36px;
    max-width: unset;
    width: auto;
    letter-spacing: 1px;
    text-indent: 0;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .title-links .category-link {
    font-size: 18px;
  }
  .full-width-container.blog-main-container .blog-content-container .blog-offer-container .container-title.secondary-title {
    font-size: 38px;
    margin-bottom: 20px;
  }
}
@media (min-width: 800px) {
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .secondary-posts {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 25px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .secondary-posts .single-post .post-data .post-date-time {
    display: none;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .category {
    font-size: 14px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .post-title {
    color: white;
    font-weight: 900;
    font-size: 16px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post .inner {
    background: linear-gradient(-30deg, rgba(12, 87, 98, 0.3), rgba(114, 8, 125, 0.3));
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post .post-title {
    font-size: 36px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts-mobile {
    display: none;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts.desktop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 50px 30px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts.desktop .single-post {
    padding: 26px 26px 20px 20px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts.desktop .single-post .post-date-time .item {
    font-size: 12px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts.desktop .single-post .post-data {
    font-size: 14px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .category-posts.desktop .post-text {
    font-size: 14px;
    line-height: 22px;
  }
  .full-width-container.blog-main-container .blog-content-container .blog-offer-container .secondary-subtitle {
    font-size: 24px;
    max-width: unset;
  }
  .full-width-container.blog-main-container .blog-content-container .blog-offer-container .subscription-form {
    max-width: 470px;
    margin-top: 40px;
  }
  .full-width-container.blog-main-container .blog-content-container .blog-offer-container .subscription-form input {
    width: 200px;
    padding: 0 230px 0 40px;
    line-height: 60px;
    top: 0;
    left: 0;
  }
  .full-width-container.blog-main-container .blog-content-container .blog-offer-container .subscription-form button {
    max-width: 230px;
    line-height: 60px;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    font-size: 16px;
  }
}
@media (min-width: 1023px) {
  .full-width-container.blog-main-container {
    padding-top: 165px;
    background-position: center top;
  }
  .full-width-container.blog-main-container .top-tabs-block .mobile {
    display: none;
  }
  .full-width-container.blog-main-container .top-tabs-block .desktop {
    display: flex;
    align-items: center;
  }
  .full-width-container.blog-main-container .top-tabs-block .desktop ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .full-width-container.blog-main-container .top-tabs-block .desktop ul li a {
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    padding: 0 24px;
    display: flex;
    align-items: center;
    line-height: 38px;
  }
  .full-width-container.blog-main-container .top-tabs-block .desktop ul li a svg {
    margin-left: 10px;
  }
  .full-width-container.blog-main-container .top-tabs-block .desktop ul li:nth-child(2) {
    border-left: 1px solid #444249;
    border-right: 1px solid #444249;
  }
  .full-width-container.blog-main-container .blog-content-container {
    grid-gap: 85px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post {
    padding: 10px 10px 10px 14px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post {
    padding: 20px 30px 20px 30px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post .post-title {
    margin: 50px 0 70px 0;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post .post-data {
    align-items: center;
    font-weight: 500;
    font-size: 14px;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post .post-data .post-author {
    display: flex;
    align-items: center;
    grid-gap: unset;
  }
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post.main-post .post-data .post-author img {
    margin-right: 8px;
  }
  .full-width-container.blog-main-container.blog-second-container {
    padding-top: 65px;
  }
  .full-width-container.blog-instagram-container {
    padding-top: 112px;
    padding-bottom: 114px;
  }
  .full-width-container.blog-instagram-container .instagram-grid {
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    grid-gap: 25px;
  }
  .full-width-container.blog-instagram-container .insta-link {
    font-size: 24px;
  }
  .full-width-container.blog-instagram-container .insta-link svg {
    height: 18px;
    width: 18px;
  }
}
@media (max-width: 800px) {
  .full-width-container.blog-main-container .blog-content-container .posts-grid-item .posts-grid .single-post:not(.main-post) {
    background-image: none !important;
  }
}/*# sourceMappingURL=blog.css.map */