@import "../variables/variables.scss";

.full-width-container {
    &.blog-main-container {
        padding-top: 69px;
        padding-bottom: 62px;
        background-image: url(/assets/img/knowledge-back.jpg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
        .container-title {
            &.main-title {
                margin-bottom: 20px;
            }
        }
        .top-tabs-block {
            background-color: rgba(16,18,24,.8);
            border-radius: 8px;
            box-shadow: 0px 0px 20px -5px rgb(36, 230, 250, .1);
            padding: 10px;
            margin-bottom: 20px;
            .desktop {
                display: none;
            }
            .mobile {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .dropdown {
                    flex: 1;
                    margin-right: 6px;
                    .choosen-value {
                        display: flex;
                        align-items: center;
                        padding: 0 15px;
                        line-height: 40px;
                        color: white;
                        font-weight: 500;
                        background-color: $lightbluecolor;
                        border-radius: 5px;
                        cursor: pointer;
                        background-image: url(/assets/img/icons/chevron-down-solid.svg);
                        background-repeat: no-repeat;
                        background-size: 10px;
                        background-position: 92% 15px;
                        font-size: 12px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        svg {
                            margin-right: 6px;
                        }
                    }
                     ul {
                        list-style: none;
                        margin: 0;
                        padding: 10px 0;
                        display: none;position: absolute;
                        background-color: rgba(16,18,24,.95);
                        border-radius: 0 0 8px 8px;
                        box-shadow: 0px 0px 20px -5px rgb(36, 230, 250, .1);
                        left: 16px;
                        right: 16px;
                        z-index: 1;
                        li {
                            a {
                                display: flex;
                                align-items: center;
                                padding: 0 15px;
                                line-height: 40px;
                                color: white;
                                font-weight: 500;
                                text-decoration: none;
                                font-size: 12px;
                                svg {
                                    margin-right: 6px;
                                }
                            }
                        }
                    }
                }
                .search-block {
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex: 1;
                    input {
                        border: none;
                        border-radius: 5px;
                        line-height: 38px;
                        padding: 0 10px;
                        flex: 1;
                        background-color: #1B1F29;
                        font-size: 12px;
                        border: 1px solid #1B1F29;
                        color: white;
                        outline: none;
                        &::placeholder {
                            color: #7F8081;
                        }
                        &:focus {
                            border: 1px solid $lightbluecolor;
                        }
                    }
                    a {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        right: 10px;
                        svg {
                            width: 15px;
                            fill: $lightbluecolor;
                            height: 15px;
                        }
                    }
                }
            }
        }
        .blog-content-container {
            display: grid;
            grid-gap: 60px;
            .posts-grid-item {
                .title-links {
                    display: flex;
                    align-items: center;
                    margin-bottom: 18px;
                    justify-content: space-between;
                    .container-title {
                        &.secondary-title {
                            margin-bottom: 0;
                            font-size: 18px;
                            text-align: left;
                            max-width: 164px;
                            width: 100%;
                        }
                    }
                    .category-link {
                        font-size: 12px;
                        color: $lightbluecolor;
                        font-weight: 500;
                    }
                }
                .posts-grid {
                    display: grid;
                    grid-gap: 14px;
                    .secondary-posts {
                        display: grid;
                        grid-gap: 14px;
                    }
                    .post-link {
                        text-decoration: none;
                    }
                    .single-post {
                        padding: 10px 10px 20px 14px;
                        border-bottom: 1px solid #34373F;
                        position: relative;
                        .category {
                            font-size: 12px;
                            color: white;
                            text-decoration: underline;
                            position: relative;
                            z-index: 1;
                        }
                        .post-title {
                            font-size: 14px;
                            font-weight: 500;
                            color: $lightbluecolor;
                            margin: 15px 0;
                            position: relative;
                            z-index: 1;
                        }
                        .post-data {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 12px;
                            color: white;
                            position: relative;
                            z-index: 1;
                            .post-author {
                                img {
                                    display: none;
                                }
                            }
                            .post-reactions {
                                display: flex;
                                align-items: center;
                                .reaction {
                                    display: flex;
                                    align-items: center;
                                    margin: 0 3px;
                                    svg {
                                        margin-right: 3px;
                                    }
                                }
                            }
                            .post-date-time {
                                display: flex;
                                align-items: center;
                                text-transform: uppercase;
                                .item {
                                    display: flex;
                                    align-items: center;
                                    margin-left: 8px;
                                    white-space: nowrap;
                                    svg {
                                        margin-right: 3px;
                                    }
                                }
                            }
                        }
                        &.main-post {
                            .inner {
                                background: linear-gradient(
                                    -30deg
                                    , rgba(12, 87, 98, 0.7), rgba(114, 8, 125, 0.7));
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    top: 0;
                            }
                            .category {
                                font-size: 14px;
                                font-weight: 900;
                            }
                            .post-title {
                                font-size: 24px;
                                font-weight: 900;
                                color: white;
                                margin: 35px 0 24px 0;
                            }
                            .post-data {
                                align-items: flex-end;
                                .post-author {
                                    display: grid;
                                    grid-gap: 5px;
                                    img {
                                        display: block;
                                        width: 30px;
                                        height: 30px;
                                        border: 2px solid white;
                                        border-radius: 50%;
                                        box-sizing: border-box;
                                    }
                                }
                            }
                        }
                    }                    
                }
                .category-posts-mobile {
                    margin: 24px auto 0 auto;
                    max-width: 340px;
                    .swiper-container {
                        padding: 0 24px 40px 24px;
                    }
                    .swiper-container-horizontal > .swiper-pagination-bullets,
                    .swiper-pagination-custom,
                    .swiper-pagination-fraction {
                        bottom: 0;
                    }
                    .swiper-button-next,
                    .swiper-container-rtl .swiper-button-prev {
                        background-image: url(/assets/img/icons/yellow-arrow-right.svg);
                        background-size: 16px;
                        right: 0;
                        outline: none;
                    }
                    .swiper-button-prev {
                        background-image: url(/assets/img/icons/yellow-arrow-left.svg);
                        background-size: 16px;
                        left: 0;
                        outline: none;
                    }
                    .swiper-pagination-bullet {
                        background: #51545a;
                    }
                    .swiper-pagination-bullet-active {
                        background-color: $mainyellow;
                    }
                }
                .category-posts {
                    .category-post {
                        display: grid;
                        grid-gap: 16px;
                        .post-text {
                            font-size: 12px;
                            font-weight: 300;
                            color: white;
                            line-height: 18px;
                            a {
                                font-weight: 500;
                                color: $lightbluecolor;
                            }
                        }
                        .single-post {
                            padding: 10px 10px 20px 14px;
                            border-bottom: 1px solid #34373F;
                            position: relative;
                            .post-date-time {
                                display: flex;
                                align-items: center;
                                text-transform: uppercase;
                                position: relative;
                                z-index: 1;
                                .item {
                                    display: flex;
                                    align-items: center;
                                    margin-right: 8px;
                                    white-space: nowrap;
                                    color: white;
                                    font-size: 10px;
                                    svg {
                                        margin-right: 3px;
                                    }
                                }
                            }
                            .post-title {
                                font-size: 18px;
                                font-weight: 900;
                                color: white;
                                margin: 50px 0 42px 0;
                                position: relative;
                                z-index: 1;
                            }
                            .inner {
                                background: linear-gradient(
                                    -30deg
                                    , rgba(12, 87, 98, 0.3), rgba(114, 8, 125, 0.3));
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    top: 0;
                            }
                            .post-data {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-size: 12px;
                                color: white;
                                position: relative;
                                z-index: 1;
                                .post-author {
                                    font-size: 14px;
                                    img {
                                        display: none;
                                    }
                                }
                                .post-reactions {
                                    display: flex;
                                    align-items: center;
                                    .reaction {
                                        display: flex;
                                        align-items: center;
                                        margin: 0 3px;
                                        svg {
                                            margin-right: 3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.desktop {
                        display: none;
                    }
                }
            }
            .blog-offer-container {
                padding: 45px 25px;
                background-image: url(/assets/img/offer-back.jpg);
                border-radius: 8px;
                background-repeat: no-repeat;
                box-shadow: 0px 0px 15px 2px rgb(36, 230, 250, .1);
                background-position: center;
                background-size: cover;
                .subscription-form {
                    display: grid;
                    justify-items: center;
                    max-width: 240px;
                    margin: 24px auto 0 auto;
                    position: relative;
                    grid-gap: 10px;
                    input {
                        padding: 0 30px;
                        border: 0;
                        line-height: 50px;
                        background: #fff;
                        color: $maindarkgray;
                        font-size: 14px;
                        border-radius: 30px;
                        width: calc(100% - 60px);
                        outline: none;
                        box-shadow: 0 0 30px 5px rgba(239, 76, 198, 0.2);
                    }
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 675px) {
    .full-width-container {
        &.blog-main-container {
            .blog-content-container {
                .posts-grid-item {
                    .posts-grid {
                        .single-post {
                            &:not(.main-post) {
                                background-image: none !important;
                            }
                        }
                    }
            }
        }
    }
}
}