@import "../variables/variables.scss";

.full-width-container {
    &.blog-main-container {
        padding-top: 69px;
        padding-bottom: 0px;
        background-image: url(/assets/img/blog-back.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: cover;
        .container-title {
            &.main-title {
                margin-bottom: 20px;
            }
        }
        .top-tabs-block {
            background-color: rgba(16,18,24,.8);
            border-radius: 8px;
            box-shadow: 0px 0px 20px -5px rgb(36, 230, 250, .1);
            padding: 10px;
            margin-bottom: 20px;
            .desktop {
                display: none;
            }
            .mobile {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .dropdown {
                    flex: 1;
                    margin-right: 6px;
                    .choosen-value {
                        display: flex;
                        align-items: center;
                        padding: 0 15px;
                        line-height: 40px;
                        color: white;
                        font-weight: 500;
                        background-color: $lightbluecolor;
                        border-radius: 5px;
                        cursor: pointer;
                        background-image: url(/assets/img/icons/chevron-down-solid.svg);
                        background-repeat: no-repeat;
                        background-size: 10px;
                        background-position: 92% 15px;
                        font-size: 12px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        svg {
                            margin-right: 6px;
                        }
                    }
                     ul {
                        list-style: none;
                        margin: 0;
                        padding: 10px 0;
                        display: none;position: absolute;
                        background-color: rgba(16,18,24,.95);
                        border-radius: 0 0 8px 8px;
                        box-shadow: 0px 0px 20px -5px rgb(36, 230, 250, .1);
                        left: 16px;
                        right: 16px;
                        z-index: 1;
                        li {
                            a {
                                display: flex;
                                align-items: center;
                                padding: 0 15px;
                                line-height: 40px;
                                color: white;
                                font-weight: 500;
                                text-decoration: none;
                                font-size: 12px;
                                svg {
                                    margin-right: 6px;
                                }
                            }
                        }
                    }
                }
            }
            .search-block {
                position: relative;
                display: flex;
                align-items: center;
                flex: 1;
                max-width: 350px;
                margin-right: 0;
                margin-left: auto;
                input {
                    border: none;
                    border-radius: 5px;
                    line-height: 38px;
                    padding: 0 10px;
                    flex: 1;
                    background-color: #1B1F29;
                    font-size: 12px;
                    border: 1px solid #1B1F29;
                    color: white;
                    outline: none;
                    &::placeholder {
                        color: #7F8081;
                    }
                    &:focus {
                        border: 1px solid $lightbluecolor;
                    }
                }
                a {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    right: 10px;
                    svg {
                        width: 15px;
                        fill: $lightbluecolor;
                        height: 15px;
                    }
                }
            }
        }
        .blog-content-container {
            display: grid;
            grid-gap: 60px;
            .posts-grid-item {
                width: 100%;
                overflow-x: hidden;
                .title-links {
                    display: flex;
                    align-items: center;
                    margin-bottom: 18px;
                    justify-content: space-between;
                    .container-title {
                        &.secondary-title {
                            margin-bottom: 0;
                            font-size: 18px;
                            text-align: left;
                            max-width: 164px;
                            width: 100%;
                        }
                    }
                    .category-link {
                        font-size: 12px;
                        color: $lightbluecolor;
                        font-weight: 500;
                    }
                }
                .posts-grid {
                    display: grid;
                    grid-gap: 14px;
                    .secondary-posts {
                        display: grid;
                        grid-gap: 14px;
                    }
                    .post-link {
                        text-decoration: none;
                    }
                    .single-post {
                        padding: 10px 10px 20px 14px;
                        border-bottom: 1px solid #34373F;
                        position: relative;
                        background-size: cover;
                        background-repeat: no-repeat;
                        .category {
                            font-size: 12px;
                            color: white;
                            text-decoration: underline;
                            position: relative;
                            z-index: 1;
                        }
                        .post-title {
                            font-size: 14px;
                            font-weight: 500;
                            color: $lightbluecolor;
                            margin: 15px 0;
                            position: relative;
                            z-index: 1;
                        }
                        .post-data {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 12px;
                            color: white;
                            position: relative;
                            z-index: 1;
                            .post-author {
                                img {
                                    display: none;
                                }
                            }
                            .post-reactions {
                                display: flex;
                                align-items: center;
                                .reaction {
                                    display: flex;
                                    align-items: center;
                                    margin: 0 3px;
                                    svg {
                                        margin-right: 3px;
                                    }
                                }
                            }
                            .post-date-time {
                                display: flex;
                                align-items: center;
                                text-transform: uppercase;
                                .item {
                                    display: flex;
                                    align-items: center;
                                    margin-left: 8px;
                                    white-space: nowrap;
                                    svg {
                                        margin-right: 3px;
                                    }
                                }
                            }
                        }
                        &.main-post {
                            border-radius: 8px;
                            .inner {
                                background: linear-gradient(
                                    -30deg
                                    , rgba(12, 87, 98, 0.7), rgba(114, 8, 125, 0.7));
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    top: 0;
                            }
                            .category {
                                font-size: 14px;
                                font-weight: 900;
                            }
                            .post-title {
                                font-size: 24px;
                                font-weight: 900;
                                color: white;
                                margin: 35px 0 24px 0;
                            }
                            .post-data {
                                align-items: flex-end;
                                .post-author {
                                    display: grid;
                                    grid-gap: 5px;
                                    img {
                                        display: block;
                                        width: 30px;
                                        height: 30px;
                                        border: 2px solid white;
                                        border-radius: 50%;
                                        box-sizing: border-box;
                                    }
                                }
                            }
                        }
                    }                    
                }
                .category-posts-mobile {
                    margin: 24px auto 0 auto;
                    max-width: 100%;
                    .swiper-container {
                        padding: 0 24px 40px 24px;
                    }
                    .swiper-container-horizontal > .swiper-pagination-bullets,
                    .swiper-pagination-custom,
                    .swiper-pagination-fraction {
                        bottom: 0;
                    }
                    .swiper-button-next,
                    .swiper-container-rtl .swiper-button-prev {
                        background-image: url(/assets/img/icons/yellow-arrow-right.svg);
                        background-size: 16px;
                        right: 0;
                        outline: none;
                    }
                    .swiper-button-prev {
                        background-image: url(/assets/img/icons/yellow-arrow-left.svg);
                        background-size: 16px;
                        left: 0;
                        outline: none;
                    }
                    .swiper-pagination-bullet {
                        background: #51545a;
                    }
                    .swiper-pagination-bullet-active {
                        background-color: $mainyellow;
                    }
                }
                .category-posts {
                    .category-post {
                        display: grid;
                        grid-gap: 16px;
                        .post-text {
                            font-size: 12px;
                            font-weight: 300;
                            color: white;
                            line-height: 18px;
                            a {
                                font-weight: 500;
                                color: $lightbluecolor;
                            }
                        }
                        .single-post {
                            padding: 10px 10px 20px 14px;
                            border-bottom: 1px solid #34373F;
                            position: relative;
                            border-radius: 8px;
                            box-shadow: 0px 0px 15px 2px rgb(36, 230, 250, .1);
                            .post-date-time {
                                display: flex;
                                align-items: center;
                                text-transform: uppercase;
                                position: relative;
                                z-index: 1;
                                .item {
                                    display: flex;
                                    align-items: center;
                                    margin-right: 8px;
                                    white-space: nowrap;
                                    color: white;
                                    font-size: 10px;
                                    svg {
                                        margin-right: 3px;
                                    }
                                }
                            }
                            .post-title {
                                font-size: 18px;
                                font-weight: 900;
                                color: white;
                                margin: 50px 0 42px 0;
                                position: relative;
                                z-index: 1;
                            }
                            .inner {
                                background: linear-gradient(
                                    -30deg
                                    , rgba(12, 87, 98, 0.3), rgba(114, 8, 125, 0.3));
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    top: 0;
                            }
                            .post-data {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-size: 12px;
                                color: white;
                                position: relative;
                                z-index: 1;
                                .post-author {
                                    font-size: 14px;
                                    img {
                                        display: none;
                                    }
                                }
                                .post-reactions {
                                    display: flex;
                                    align-items: center;
                                    .reaction {
                                        display: flex;
                                        align-items: center;
                                        margin: 0 3px;
                                        svg {
                                            margin-right: 3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.desktop {
                        display: none;
                    }
                }
            }
            .blog-offer-container {
                padding: 45px 25px;
                background-image: url(/assets/img/offer-back.jpg);
                border-radius: 8px;
                background-repeat: no-repeat;
                box-shadow: 0px 0px 15px 2px rgb(36, 230, 250, .1);
                background-position: center;
                background-size: cover;
                .subscription-form {
                    display: grid;
                    justify-items: center;
                    max-width: 240px;
                    margin: 24px auto 0 auto;
                    position: relative;
                    grid-gap: 10px;
                    input {
                        padding: 0 30px;
                        border: 0;
                        line-height: 50px;
                        background: #fff;
                        color: $maindarkgray;
                        font-size: 14px;
                        border-radius: 30px;
                        width: calc(100% - 60px);
                        outline: none;
                        box-shadow: 0 0 30px 5px rgba(239, 76, 198, 0.2);
                    }
                    button {
                        width: 100%;
                    }
                }
            }
        }
        &.blog-second-container {
            background-image: none;
        }
    }
    &.blog-instagram-container {
        padding-top: 69px;
        padding-bottom: 80px;
        background-image: url(/assets/img/only-wave-back.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        .instagram-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
            grid-gap: 15px;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }
        .insta-link {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-decoration: none;
            font-weight: 500;
            svg {
                fill: $lightbluecolor;
                margin-right: 15px;
            }
        }
    }
}
@media (min-width: $bp-tablet) {
    .full-width-container {
        &.blog-main-container {
            .blog-content-container {
                .posts-grid-item {
                    .title-links {
                        margin-bottom: 24px;
                        .container-title {
                            &.secondary-title {
                                font-size: 36px;
                                max-width: unset;
                                width: auto;
                                letter-spacing: 1px;
                                text-indent: 0;
                            }
                        }
                        .category-link {
                            font-size: 18px;
                        }
                    }
                }
                .blog-offer-container {
                    .container-title {
                        &.secondary-title {
                            font-size: 38px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $bp-tablet-lg) {
    .full-width-container {
        &.blog-main-container {
            .blog-content-container {
                .posts-grid-item {
                    .posts-grid {
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 25px;
                        .secondary-posts {
                            grid-template-columns: 1fr 1fr;
                            grid-gap: 20px 25px;
                            .single-post {
                                .post-data {
                                    .post-date-time {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .single-post {
                            height: 100%;
                            display: flex;
                            flex-flow: column;
                            justify-content: space-between;
                            box-sizing: border-box;
                            border: none;
                            border-radius: 5px;
                            .category {
                                font-size: 14px;
                            }
                            .post-title {
                                color: white;
                                font-weight: 900;
                                font-size: 16px;
                            }
                            .inner {
                                background: linear-gradient(
                                -30deg
                                , rgba(12, 87, 98, 0.3), rgba(114, 8, 125, 0.3));
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    top: 0;
                            }
                            &.main-post {
                                .post-title {
                                    font-size: 36px;
                                }
                            }
                        }
                    }
                    .category-posts-mobile {
                        display: none;
                    }
                    .category-posts {
                        &.desktop {
                            display: grid;
                            grid-template-columns: repeat(auto-fill,minmax(360px,1fr));
                            grid-gap: 50px 30px;
                            .single-post {
                                padding: 26px 26px 20px 20px;
                                .post-date-time {
                                    .item {
                                        font-size: 12px;
                                    }
                                }
                                .post-data {
                                    font-size: 14px;
                                }
                            }
                            .post-text {
                                font-size: 14px;
                                line-height: 22px;
                            }
                        }
                    }
                }
                .blog-offer-container {
                    .secondary-subtitle {
                        font-size: 24px;
                        max-width: unset;
                    }
                    .subscription-form {
                        max-width: 470px;
                        margin-top: 40px;
                        input {
                            width: 200px;
                            padding: 0 230px 0 40px;
                            line-height: 60px;
                            top: 0;
                            left: 0;
                        }
                        button {
                            max-width: 230px;
                            line-height: 60px;
                            position: absolute;
                            z-index: 2;
                            top: 0;
                            right: 0;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $bp-laptop) {
    .full-width-container {
        &.blog-main-container {
            padding-top: 165px;
            background-position: center top;
            .top-tabs-block {
                .mobile {
                    display: none;
                }
                .desktop {
                    display: flex;
                    align-items: center;
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        align-items: center;
                        li {
                            a {
                                color: white;
                                font-weight: 500;
                                font-size: 14px;
                                text-decoration: none;
                                padding: 0 24px;
                                display: flex;
                                align-items: center;
                                line-height: 38px;
                                svg {
                                    margin-left: 10px;
                                }
                            }
                            &:nth-child(2) {
                                border-left: 1px solid #444249;
                                border-right: 1px solid #444249;
                            }
                        }
                    }
                }
            }
            .blog-content-container {
                grid-gap: 85px;
                .posts-grid-item {
                    .posts-grid {
                        .single-post {
                            padding: 10px 10px 10px 14px;
                            &.main-post {
                                padding: 20px 30px 20px 30px;
                                .post-title {
                                    margin: 50px 0 70px 0;
                                }
                                .post-data {
                                    align-items: center;
                                    font-weight: 500;
                                    font-size: 14px;
                                    .post-author {
                                        display: flex;
                                        align-items: center;
                                        grid-gap: unset;
                                        img {
                                            margin-right: 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.blog-second-container  {
                padding-top: 65px;
            }
        }
        &.blog-instagram-container {
            padding-top: 112px;
            padding-bottom: 114px;
            .instagram-grid {
                grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
                grid-gap: 25px;
            }
            .insta-link {
                font-size: 24px;
                svg {
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }
}
@media (max-width: 800px) {
    .full-width-container {
        &.blog-main-container {
            .blog-content-container {
                .posts-grid-item {
                    .posts-grid {
                        .single-post {
                            &:not(.main-post) {
                                background-image: none !important;
                            }
                        }
                    }
            }
        }
    }
}
}